[2015-08-14 19:20] ThePsionic commented on #287
GitHub IS my mailing list ;)

On Fri, Aug 14, 2015, 20:51 Evan <notifications@github.com> wrote:

[2015-08-14 19:23] finagle29 commented on #287
@ThePsionic same
but :+1: for a mailing list thats not github

[2015-08-14 19:25] bvtsang commented on #57
Is the X where the unread post count usually goes?

I do like the idea though. Maybe have the X slide out from the side on mouseover? Or put it on the left side instead?

[2015-08-14 19:30] nightpool commented on #57
it would float:right and move the post count over

On Fri, Aug 14, 2015 at 2:25 PM Bryan Tsang <notifications@github.com>
wrote:

[2015-08-14 19:50] bvtsang commented on #287
I prefer to discuss governance either on Github or Gitter. I don't want to
subscribe to yet another thing to keep up with discussions that we could be
having on existing communication channels

On Fri, Aug 14, 2015, 12:23 finagle29 <notifications@github.com> wrote:

[2015-08-14 20:03] bvtsang commented on #57
Sounds good, I'll take it. Thanks!

[2015-08-14 20:05] nightpool opened #288 "track blog tumblr is broken on the /following page"
![image](https://cloud.githubusercontent.com/assets/233815/9283006/e755dd58-4295-11e5-983c-d76abe6ebda6.png)
mousing over it:
![image](https://cloud.githubusercontent.com/assets/233815/9283011/efc27f00-4295-11e5-8aff-adcbb4a62e2b.png)

[2015-08-15 03:46] 0xazure commented on #287
I second @bvtsang's statement.  GitHub issues would be better, since it's a bit more permanent than Gitter chat (yes, Gitter is searchable and has archives, but they're a little finnicky).  If we don't want these kinds of discussions 'cluttering' up the extension issues list, we could do as the NodeJS community has done and [split other concerns off into separate repos under the same org](https://

[2015-08-15 05:12] nightpool commented on #287
The question bvtsang was responding to was between github and a standalone
mailing list (probably google groups or some mailman install) or maybe
between github and something like discourse. I think most people are on the
same page that we can't use gitter for stuff like this. (Except in the most
informal capacity)
On Fri, Aug 14, 2015 at 10:46 PM 0xazure <notifications@github.com> wrote:

[2015-08-15 07:43] ThePsionic commented on #287
Anyway, unrelated to mailing list, here's the essay I promised you all last night.

We want new-xkit-extension to not publish asks. If we don't turn the ask box off, both anons and non-anons can still ask questions on the main blog. If, however, we answer them with new-xkit-support instead of new-xkit-extension, there is quite a chance that anons have no idea that that is happening, seeing as an a

[2015-08-15 08:15] ThePsionic opened #289 "Make Hide Avatars work on the Activity page"

[2015-08-15 16:06] 0xazure opened #293 "Implement templating for HTML elements"
Core is full of inlined HTML code.  From a maintainability standpoint, it would be much easier to make use of some kind of templating library to build up these elements from reusable partials, instead of writing custom, raw HTML strings in every extension.

[2015-08-15 16:06] schaufel4 commented on #80
Still nothing on the sidebar will open in a new tab as of 1.1.6. It DID partially fix the photoset issue when "Open in new tab instead of sidebar" is toggled - photosets with multiple photos now open properly on the dash as they should, but a single picture is still forced into a new tab.

[2015-08-15 16:21] ThePsionic commented on #293
:+1:

[2015-08-15 16:34] 0xazure commented on #293
There are a bunch of different options for templating libraries:

- [Handlebars](http://handlebarsjs.com/)
- [Mustache](https://github.com/janl/mustache.js/)
- [doT.js](https://olado.github.io/doT/)

For a less traditional 'templating library', there is also `_.template()` from [Underscore](https://lodash.com/docs#template).

[2015-08-16 02:40] windykestrel opened #294 "Sporadic update error messages"
I am receiving an xkit error message "auto update failed". This happens on and off every few days and though I manually go to update everything, I am not sure why this keeps recurring. Some days I do not receive this message at all, and then it will appear on every page for several days in a row. Any idea what this bug could be?

![xkit error](https://cloud.githubusercontent.com/assets/13815335/92

[2015-08-16 02:41] Wolvan commented on #294
Might be useful if you give us your Javascript Console Output. Any errors coming up there?

[2015-08-16 02:57] windykestrel commented on #294
Getting a couple name not resolved errors in relation to post limit checker and the get extensions page and a content blocked by client error

![java console 2](https://cloud.githubusercontent.com/assets/13815335/9291772/0dc3bfda-43a1-11e5-8747-ec0aaff09ca9.JPG)
![java console1](https://cloud.githubusercontent.com/assets/13815335/9291771/0dc3bc4c-43a1-11e5-84f5-9de3e3c740c7.JPG)

[2015-08-16 03:00] Wolvan commented on #294
That's weird, somehow your browser can't connect to our github service

[2015-08-16 03:06] Wolvan commented on #294
You have a script blocker or something?

[2015-08-16 03:07] windykestrel commented on #294
I use AdBlocker, but never had an issue with it before. Should I try adding Tumblr to it's whitelist? The odd thing about this issue is that it disappears and reappears every few days

[2015-08-16 03:15] windykestrel commented on #294
tried disabling adblocker and still received the error.

[2015-08-16 04:00] bvtsang commented on #294
Can you view [the extension JSON](https://new-xkit.github.io/XKit/Extensions/dist/post_limit_checker.json) in your browser directly?

[2015-08-16 04:12] windykestrel commented on #294
No, it's not letting me do that

[2015-08-16 04:17] bvtsang commented on #294
It seems like something is blocking your access to Github on your end. Do you have any other extensions on your browser?

[2015-08-16 04:26] windykestrel commented on #294
I'm currently running AdBlock, MuteTab, and Stylish

[2015-08-16 08:35] ThePsionic opened #295 "Editable Reblogs(?) breaks in-line images"

[2015-08-16 14:49] nightpool commented on #294
@windykestrel This is more likely a problem with your ISP or computer
configuration. Are there any filtering services running on your
computer/network connection?

On Sat, Aug 15, 2015 at 11:26 PM windykestrel <notifications@github.com>
wrote:

[2015-08-16 17:28] roxrollin commented on #93
Actually everything is working now, thanks!

On 9 August 2015 at 12:14, finagle29 <notifications@github.com> wrote:

[2015-08-16 17:45] nightpool commented on #93
Thanks for following up!

[2015-08-16 17:45] #93 closed

[2015-08-16 18:45] windykestrel commented on #294
No, no filters on my end.

[2015-08-16 21:51] ThePsionic opened #296 "Post Limit Checker seems to be broken"
https://gist.github.com/058a20efe3bfda875829

[2015-08-16 21:55] wooziwoozi opened #297 "Blog tracker: track unlimited blogs"
I don't know if this is the place to put it, but I sent an ask, but then realized the Tumblr is probably swamped, and thought maybe here was a better place to put this. (I can type more here, anyway.)

Anyway, I was wondering if there is any way we could make a new extension, or modify, the current blog tracker extension. (Which seems to be broken for me at the moment.) First of all, it would be n

[2015-08-16 22:08] nightpool commented on #296
There are two issues here—one with private blogs erroring out when we try
to get their posts, and one with bad formatting on /blog/whatever page.

On Sun, Aug 16, 2015 at 4:51 PM ThePsionic <notifications@github.com> wrote:

[2015-08-16 22:10] nightpool commented on #297
there's another tracking issue for problems with blog tracker sitting
around here somewhere....

@bvtsang I know you're working on tangentially related blog tracker
things—thoughts on this?

I've always wanted some kind of "groups" like view for tumblr... something
like the google+ circles setup where you could have multiple "dashboards"
and could customize what shows up for each one. Definitely a

[2015-08-16 22:13] ThePsionic commented on #296
This issue is not about private blogs at all. The reporting user had no private blogs.

[2015-08-16 23:16] nightpool commented on #296
@thepsionic the error they reported on their dashboard page is a known
problem with post limit checker and private blogs, as far as I know. Which
user was this? I can't find it on the xkit ask answers sheet.

On Sun, Aug 16, 2015 at 5:13 PM ThePsionic <notifications@github.com> wrote:

[2015-08-16 23:19] ThePsionic commented on #296
@nightpool just-shannonigans

[2015-08-16 23:37] bvtsang commented on #297
Brief thoughts:

- On tracking more than 10 blogs: sounds doable. I think the tradeoff here is the more blogs you track, the slower the extension gets (because it needs to check each blog for posts), but as long as the user knows this it could be fine. We might even support unlimited blogs given that warning.
- On adding an option to choose between opening the blog in View On Dash or the peepr: go

[2015-08-16 23:57] wooziwoozi commented on #297
@bvtsang I asked Xkit guy if he could lift the limit a long time ago, and he said that Tumblr only allows up to 10 blogs to show post numbers. I think that is true, because can't you only by default track a certain number of tags and see the post numbers as well? I think a warning after 10 blogs would fix this though, because for me, and I am sure others, I don't care to know if they have updated,

[2015-08-17 04:43] nightpool opened #298 "lint:scripts takes 6s on my local computer"
can't we partial-compile this? there's no reason to lint scripts that haven't changed.

@0xazure

[2015-08-17 04:44] nightpool commented on #298
i love my new "nitpick" label.

[2015-08-17 06:08] nightpool commented on #287
seems like consensus is that we feel fine splitting the current blog into three different group blogs. as soon as I get the new xinbox "answer on other blogs" feature working, I'll do the split.

does anyone here feel strongly about new-xkit.tumblr.com vs. new-xkit-extension.tumblr.com?

[2015-08-17 06:47] nightpool opened #300 "accesskit doesn't change font to serif"
from ask box:

unconfirmed.

[2015-08-17 07:52] nightpool commented on #70
wow was this really 17 days ago? that's kinda crazy.

[2015-08-17 07:52] nightpool commented on #298
Also build:server errors out whenever I save with a jslint error on accident. this makes developing hard :( isn't that like the opposite of what watch should be doing?

[2015-08-17 07:53] nightpool commented on #298
here's my error:

[code]

[2015-08-17 10:11] staraesthetic commented on #300
I'm on Chrome and I just changed the font to Serif, and same. For the actual body of the text, it doesn't change the font to Serif but for the tags/source/notes/blog url, it does. Also if I hit the explore button, none of it at all shows up as Serif.

[2015-08-17 12:11] dlmarquis commented on #287
@nightpool, I've already created new-xkit-support and new-xkit-discussion. You guys should all send me your emails so I can add you. I'd ask @hobinjk for them, but he'll be unavailable for a while.

[2015-08-17 14:15] nightpool commented on #287
@dlmarquis i hit you up over gitter.

On Mon, Aug 17, 2015 at 7:11 AM dlmarquis <notifications@github.com> wrote:

[2015-08-17 14:49] bvtsang commented on #287
@dlmarquis I also hit you up over Gitter.

[2015-08-17 15:29] ThePsionic commented on #287
I hit @dlmarquis before it was cool.

*hit up

[2015-08-17 16:53] nightpool opened #303 "no recommended in sidebar always enabled"
from the askbox.

can't reproduce on xkit 7.7.0, normal extensions.

[2015-08-17 17:01] afairlypudgycat commented on #303
flamesofcreation tumblr user here.  I have google chrome up to date and the issue on two of my blogs
https://gist.github.com/anonymous/c91ea042de9161d3533b is the extension export from one of them
https://gist.github.com/anonymous/b4a7f7b7dd00b98dec67 is the extension export from a blog with the same problem
and https://gist.github.com/anonymous/7f3c19f30f00ce80f650 is the export from a blog that

[2015-08-17 17:25] afairlypudgycat commented on #303
Omg I'm so sorry, I don't know what it is, but it's not xkit.  I just disabled it and I still have the problem.  I'll keep looking into it, but I'm sorry to have taken your time.

[2015-08-17 17:28] blackjackkent commented on #303
I was gonna say...all three of those gists are identical so it's not an extension problem probably.

No problem though! Feel free to let us know if you have any further xkit issues. :)

Closing.

[2015-08-17 17:28] #303 closed

[2015-08-17 17:39] blackjackkent commented on #300
Duped this myself.

Amusingly, on closer inspection:
[code]
The value for the dropdown box is actually listed as sans-serif which is the opposite of true. :P But it loads Palatino Linotype which is a serif font.

I can see it changing the headings on posts but not the post text itself. Likely some new Tumblr style is overriding the extension one.

[2015-08-17 17:41] nightpool commented on #300
@blackjackkent mind taking this? should probably be just a matter of adding more !importants I'd expect.

[2015-08-17 17:43] blackjackkent commented on #300
Yeah, sure. I gotz it.

[2015-08-17 17:47] nightpool commented on #154
@WyohKnott any updates on this?

[2015-08-17 17:48] nightpool commented on #59
I think I fixed this in my pull-request? Can someone confirm?

[2015-08-17 17:50] nightpool commented on #81
do we have any extensions that affect videos or should I just start testing randomly?

[2015-08-17 17:51] hobinjk commented on #81
This is a problem that happens with vanilla Tumblr. I believe the desired outcome of this is a tweak/extension that implements a way of blocking the video upload notifications.

[2015-08-17 17:53] nightpool commented on #81
@hobinjk ah thanks for clarifying.

[2015-08-17 20:03] #300 closed

[2015-08-17 20:49] dlmarquis commented on #248
I get a couple of errors while Retags is also installed and set to only show retags/responses:

1) Filtering my mentions doesn't do anything. It acts as if I'm still viewing the "all" tab.
2) Under the "all" tab, if "group notes" is turned on in Activity+, then it will break Retags. Really, the "group notes" option just shouldn't be on at the same time as Retags is installed.

[2015-08-17 20:55] nightpool commented on #248
@dlmarquis Why shouldn't the group notes option be on at the same time
retags is installed? retags does a bunch of different stuff not just on the
activity page.

@ThePsionic I was just using activity+ this morning and didn't have any
problems, so this definitely isn't widespread.

On Mon, Aug 17, 2015 at 3:49 PM dlmarquis <notifications@github.com> wrote:

[2015-08-17 21:01] dlmarquis commented on #248
@nightpool At least on the activity page, grouping notes completely defeats the purpose of showing only retags/responses by hiding them along with everything else. It also hid tags on tagged posts at random because of this behavior, even when not in the "all" tab.

[2015-08-17 21:23] nightpool commented on #248
@dlmarqius I would think that "group by similar" would override "show only
retags" because then you can open up each individual section and show only
the retags, grouped by post?

On Mon, Aug 17, 2015 at 4:01 PM dlmarquis <notifications@github.com> wrote:

[2015-08-17 21:33] gloomykid commented on #296
i think post limit checker used to be only visible if you go to your blogs view like https://www.tumblr.com/blog/(blogname). but now its also on my sidebar when im simply on the dashboard itself.

[2015-08-17 21:35] dlmarquis commented on #248
@nightpool That would be a good way to fix it. As it stands now, clicking the groups will show everything, not just retags/responses.

[2015-08-17 21:55] #289 closed

[2015-08-17 22:35] 0xazure commented on #298
Incremental builds (and linting) is definitely something on my list of things to do. There are also probably some optimizations I can make around loadtimes; some of the linters load configuration files automatically and hardcoding relative paths can speed this up a bit.

@nightpool as far as the errors, can you open a separate issue for that and @ me? I know what's going on and yeah, it's annoying

[2015-08-17 22:51] nightpool commented on #298
Thxxxx you're the best.
On Mon, Aug 17, 2015 at 5:35 PM 0xazure <notifications@github.com> wrote:

[2015-08-18 00:56] Wolvan opened #308 "Cannot import Tumblr Savior Blacklist from TS 0.4.22"
From an ask by Anonymous

[2015-08-18 02:16] blackjackkent commented on #288
I'll work on this.

[2015-08-18 06:24] #288 closed

[2015-08-18 06:44] #57 closed

[2015-08-18 14:20] nightpool opened #313 "block tracker flickering with slim sidebar"
from the ask box:

followup to #311 @bvtsang

[2015-08-18 14:36] nightpool opened #314 "idea: patch notes"
we could put short patch notes here:
![image](https://cloud.githubusercontent.com/assets/233815/9332894/8e65aada-458c-11e5-90d9-60e876863f01.png)

[2015-08-18 14:50] Wolvan commented on #314
We probably would have to rewrite the update result thing for that to work. How would we even distribute the changelog

[2015-08-18 15:46] nightpool commented on #314
we could just put them in the dist json. it wouldn't be hard

On Tue, Aug 18, 2015 at 9:50 AM Wolvan <notifications@github.com> wrote:

[2015-08-18 16:34] bvtsang commented on #313
Although this fixes the issue, I'd like to make sure that

- The CSS looks good on both slimmed and non-slimmed versions
- We preserve the behavior of the ✖ bumping the count to the left

[2015-08-18 16:40] coderpatsy opened #317 "Post Archiver bugs/suggestions"
- Add a preview for chat posts in PA's menu
- Auto-populate the archive title field when archiving from a blog (may not be easy to do due to the nature of blogs?)
- Update archive count on sidebar when removing archives through PA's menu (it does when you go through the post on your dash)
- Optionally show per-category archive counts?
- Add a way to add/remove categories inside PA's menu?
- Add a

[2015-08-18 17:07] bvtsang commented on #297
I'm going to split this issue into three:

1. Track unlimited blogs (this issue)
2. Allow user to click through photosets when viewing a tracked blog
3. Categorize tracked blogs

[2015-08-18 17:08] bvtsang opened #318 "Blog tracker: allow user to click through photosets when viewing a tracked blog"
Taken from #297:

[2015-08-18 17:10] bvtsang opened #319 "Blog tracker: categorize tracked blogs"
Taken from #297:

[2015-08-18 18:43] nightpool commented on #319
This isn't a blog tracker issue it would be an overhaul of the current
dashboard system. Definitely more empty spitballing then anything I'm
planning on working on in the future though.

On Tue, Aug 18, 2015 at 12:10 PM Bryan Tsang <notifications@github.com>
wrote:

[2015-08-19 01:47] warpedellipsis opened #321 "Severe Lag, Not compatible with Chrome OS, blockquotes: [lag] [E-Editable Reblogs][E-Tweaks]"
Two related things. Old xkit worked with this computer (Acer Chromebook 13), but (1) using more than two extensions or any of the ones that say "this might slow your computer down" now lags me to the point that my mouse won't scroll without a delay. The new one is a CPU hog, but idk why.

(2) The Editable Reblogs extension also screws with other people trying to reblog from me; multi-level block q

[2015-08-19 03:50] #313 closed

[2015-08-19 04:24] nightpool commented on #321
I can't think of anything that would be unique to chrome OS that would
cause the issue with editable reblogs. Do you have any other userscripts or
chrome extensions installed?

the 1st problem might be a simple limitation of your hardware. Are you sure
Old XKit with the same extensions was working fine? Can you re-enable it
and disable new xkit to confirm this?

On Tue, Aug 18, 2015 at 8:47 PM war

[2015-08-19 06:49] nightpool opened #324 "ArchivePoster extension causing issues"
got an ask about posts with asks only and no resposne not showing up on dash, and then this followup:

might be worth investigating and adding a check for.

[2015-08-19 15:39] dlmarquis commented on #324
@nightpool I saw you tagged the xkit_main extension. Currently browser extensions conflict checks are in the main xkit.js, although those only check for old XKit/missing e installs at the moment. Is there a reason to put it in xkit_main instead? I'm removing the tag for now.

[2015-08-19 15:46] nightpool commented on #324
Whoops sorry, I thought they were in xkit_main for some reason i guess.

On Wed, Aug 19, 2015 at 10:39 AM dlmarquis <notifications@github.com> wrote:

[2015-08-19 18:27] nightpool commented on #100
@hobinjk I know there was a pull that was supposed to address tumblr_blog class adding—did that not work or did it only work incompletely or what was the deal with that?

[2015-08-19 18:30] hobinjk commented on #100
It did not seem to have any major effect, although I have not looked at the API results with it turned off versus on.

[2015-08-19 18:57] dlmarquis opened #325 "Remove references to Festivus"
They were put there by Atesh millennia ago, and it's time to remove them.

[2015-08-19 19:02] nightpool commented on #325
any particular reason? If they're not hurting anything it seems fine to let them stay in as just a fun easter egg?

[2015-08-19 19:12] dlmarquis commented on #325
Way back when we started the project, we had to turn off part of it in xkit_preferences because it slowed everything down to a crawl. Now it doesn't do anything (at least as far as I can tell), so it might as well be removed.

Unless someone's willing to figure out how to optimize it.

[2015-08-19 20:57] nightpool opened #326 "make retags show replies"
seems legit. thoughts?

[2015-08-19 21:08] dlmarquis commented on #321
I got the second problem once when I attempted to reblog from someone's blog. Their comment wasn't blockquoted, and trying to add it manually made Tumblr refuse to nest blockquotes.

Just tested again---tumblr's fucked with their rich text editor to prevent nested blockquotes. HTML works fine though

[2015-08-19 21:10] warpedellipsis commented on #321
I was using old xkit with this machine previously, right before I installed this one. I made sure to delete it from all my accounts on here before putting in the new xkit. I went through all my Chrome extensions before posting this to make sure it wasn't them, but I'm doing it again today to see if the slowness goes away. I know things were fine up through July, it was only recently I got the lag-

[2015-08-19 21:13] dlmarquis commented on #321
I removed and tested it, and blockquotes are still broken for me in the rich text editor. This was tested in a new post, not a reblog, and with Editable Reblogs disabled. What's your browser?

[2015-08-19 21:16] dlmarquis commented on #321
Just tested sans XKit -- it's a Tumblr ~~issue~~ "feature".

[2015-08-19 21:25] gloomykid opened #327 "Mass+ won't search by tags anymore."
It's not possible to search for a tag on your posts in order to delete or edit them.

Chrome, newest version.

[2015-08-19 21:46] nightpool commented on #321
@dlmarquis I can't reproduce this on my machine? Copying and pasting is
broken but editable reblogs is working fine for me.

On Wed, Aug 19, 2015 at 4:16 PM dlmarquis <notifications@github.com> wrote:

[2015-08-19 21:48] dlmarquis commented on #321
@nightpool It's not an Editable Reblogs thing. Make a new post and try to nest blockquotes in the rich text editor. That doesn't work at all for me.

[2015-08-19 21:49] nightpool commented on #321
@dlmarquius I don't think the rich text editor tools ever supported that.
at least not in the past ~6 months I've been using them

On Wed, Aug 19, 2015 at 4:48 PM dlmarquis <notifications@github.com> wrote:

[2015-08-19 21:52] dlmarquis commented on #321
@nightpool I wouldnt know, but I now they won't stay put if you move from HTML to rich text, etc. That's new.

[2015-08-19 21:57] nightpool commented on #321
@dlmarquis today's update, after going from rich-text -> HTML -> rich text:
![image](https://cloud.githubusercontent.com/assets/233815/9370066/22db09e2-4693-11e5-8c46-3b47c3c9dabe.png)
the reported bug looks more like this:
![image](https://cloud.githubusercontent.com/assets/233815/9370095/60ccaecc-4693-11e5-9fc0-93ae35c24b4b.png)
(this is a mockup—I've seen it happen elsewhere but I've never been

[2015-08-19 22:07] dlmarquis commented on #321
@nightpool Okay, I can't reproduce it. I'm getting all sorts of fun js errors due to the shitty hotel internet. It might be a speed/interruption issue. Which we know Editable Reblogs can make worse.

[2015-08-19 22:35] karatails opened #328 "wrap around tags dont work"
For a week or so now, the wraparound tags wont work, even though I tried updating the extension that feature is in.
Chrome Version 44.0.2403.155 (64-bit)
Mac OSX 10.9.5

[2015-08-19 22:49] nightpool commented on #328
are you sure you're on 7.7.0 for New XKit? Can you confirm you uninstalled or disabled Old XKit from your Chrome extensions screen?

If both of these are true, then post your extension info export link. see below for where to find it:
![image](https://cloud.githubusercontent.com/assets/233815/9371014/ac1adbd6-469a-11e5-9250-71782d924dc5.png)

[2015-08-19 22:55] karatails commented on #328
yep, both of those are true.
here is the export info.
https://gist.github.com/4841c543b16613275654

[2015-08-19 23:27] warpedellipsis commented on #321
You have to go into the HTML editor to get nesting blockquotes. I thought that's how it's always been? I never could get the RichText to nest properly, ever. I'm in Chrome. The screencap I posted is from the  bug in ER in xkit, it's taking all the nested blockquotes and mashing them into the furthest to right one, as pictured in my OP upthread.

And for removing all other bits from my machine, I'm

[2015-08-19 23:32] nightpool commented on #321
@warpedellipsis other people have been having the blockquotes problem you
have so I'm guessing its safe to say its not associated with chrome os

On Wed, Aug 19, 2015 at 6:27 PM warpedellipsis <notifications@github.com>
wrote:

[2015-08-19 23:38] warpedellipsis commented on #321
Good news is that tumblr has native reblog-from-yourself now, so that may have been what causes some conflicts and problems. Delete that xkit bit and see if it fixes things.

[2015-08-20 02:59] da654d commented on #211
hi.
the only post i still have is this, since i deleted the others
post: http://lm-gay.tumblr.com/post/126973518506
source: http://animentality.tumblr.com/post/126630230864/dont-tell-me-what-to-do-misaki
and a lot of text posts got the error "post can't be empty" so i couldn't reblog'em
i'm using Chrome Version 44, os windows 7, Xkit version is 7.7.0

(that was yesterday and the day before) today

[2015-08-20 03:45] warpedellipsis commented on #321
I've swapped out the old xkit to the new one. No lag immediately. However, I only put in the same few extensions i had in oldxkit. I have installed: xinbox, tweaks, activity+, oneclick reply.

It lagged when I enabled the options in Xinbox for: make the answer box taller when I"m typing a reply to an ask; Automatically expand fan mail without having to click read more.
Other stuff I enabled, for c

[2015-08-20 12:48] invalidCards opened #329 "Blacklist won't show hidden post in peepr"
http://tjb0607.me/video/xkitbug.webm

[2015-08-20 14:20] nightpool commented on #329
This is the same bug as "TagViewer doesn't work on peepr", right? We should
rename that and merge these sidebar bugs that keep getting reported.
On Thu, Aug 20, 2015 at 7:48 AM ThePsionic <notifications@github.com> wrote:

[2015-08-20 14:38] ThePsionic commented on #329
I don't know, but I made a separate issue since it's a separate extension.

[2015-08-20 14:44] nightpool commented on #329
okay watching the video, it seems as if the post is blacklisted, but the show doesn't work. that's a separate problem.

[2015-08-20 15:43] blackjackkent commented on #328
Are you experiencing this in the dashboard or the blog preview sidebar? (Or both?)

[2015-08-20 16:40] blackjackkent commented on #326
This is easy enough to change; I'll grab it. Do we want to make it do this by default?

(I would venture to say yes since I think the general desire when turning this on is to see when you're getting responses to your content, but I could go either way.)

[2015-08-20 16:48] karatails commented on #328
On the dashboard.
![screen shot 2015-08-20 at 9 47 38 am](https://cloud.githubusercontent.com/assets/13877208/9389547/95842f72-4720-11e5-98a0-20e015b428e1.png)
You can see it in action here. I have had to slide thr tag to read the rest, as the wraparound doesnt work

[2015-08-20 17:22] rimbaum opened #330 "Shorten Posts for asks and music posts"
I see them all the time on my dash - music posts with entire comics drawn to go with the song, and asks that have been reblogged and reblogged with endless commentary, or have a ridiculously long answer. Neither one can be affected by Shorten Posts, so I'm wondering if we can add these two types of post to the options for that extension.

[2015-08-20 17:35] nightpool commented on #326
@blackjackkent yeah probably just do it. replies are responses so its basically a bug-ish-thing that we don't do this currently. (it certainly breaks expectations)

[2015-08-20 17:44] blackjackkent commented on #327
Per discussion in dev chat -- we need to switch this to use the API for tag searching; I'll take this.

[2015-08-20 17:50] blackjackkent commented on #328
I can't duplicate this. :/

Possibly you have a preference set that's acting in a way we don't expect. Could you disable your extensions one at a time and see if turning one of them off fixes the problem?

[2015-08-20 18:08] karatails commented on #328
I fixed it. Found the conflicting preference. Thanks.

[2015-08-20 18:08] #328 closed

[2015-08-20 18:09] blackjackkent commented on #328
Can you let us know what the conflict was so that we can address it in a future fix?

[2015-08-20 18:55] karatails commented on #328
It was a disabled feature. My mistake. I disabled the tweaks while trying to fix something else out.

[2015-08-21 21:08] blindcat97 opened #333 "Tags Entered Using One-Click Reblog Are Not Posting"
I'm not sure if this issue is happening on my main blog, but I tag almost /every single post/ on my side blog, and not a single one is showing up when I actually post. I tag through the One-Click Reblog extension. This has been happening for over a week (not sure precisely how long, I make too many posts a day to look further back).

In addition, if I hit escape after writing the tags and then pre

[2015-08-21 21:20] blindcat97 commented on #333
Okay, some new information:

Pressing escape and R after selecting that it post to a different blog than my default clears the option (meaning it still posts to my default). However, NOT pressing escape, but rather clicking on the reblog button, it posts the non-default blog I had selected. I was unable to test if tagging worked on my main blog while using escape R because of this issue.

On my si

[2015-08-21 21:24] blindcat97 commented on #333
Okay, I cannot get New XKit to work on Firefox at all, which is fine. Someone else may be experiencing the problem and can test it themselves. Hopefully they'll see this and post it here.

[2015-08-21 22:15] xxastraxx commented on #100
Jeez, I need to check my email more.

I actually fixed the problem entirely by accident? At least for me anyways,
there's no knowing if it'd work for others.

I uninstalled the new Xkit entirely from Firefox, and then reinstalled it--
y'know, the classic 'turn it off and back on' fix. I had to re-acquire all
my extensions and such, but editable reblogs has worked since then. I know
very little of

[2015-08-22 17:56] ofinnocxnce commented on #100
After reading that I actually tried the whole completely uninstalling xkit and reinstalling it too! Of course I had to install xkit from scratch, including all the extensions but it fixed the problem for me so i'm more than happy with this.

[2015-08-22 17:59] nightpool commented on #100
If there's anyone that's still experiencing this, can you supply your Full
Extension Dump from the Other tab?
Thanks!

On Sat, Aug 22, 2015 at 12:56 PM ofinnocxnce <notifications@github.com>
wrote:

[2015-08-22 19:21] #223 closed

[2015-08-22 20:54] lavacano201014 opened #338 "Post Archiver keeps wiping itself"
Firefox 40.0.2.

Occasionally I'll open Tumblr and find that my entire archive is empty. I can get it back by restoring my configuration from XCloud, but it's not permanent.

[2015-08-23 13:37] 0xazure commented on #216
Putting this here for reference (especially around timelines): https://blog.mozilla.org/addons/2015/08/21/the-future-of-developing-firefox-add-ons/ thanks to @bvtsang

Would be good to start adding GitHub milestones for these dates.

[2015-08-23 20:27] ThePsionic opened #341 "Old Stats needs some love"
At least an icon and a sort of description. "*" tells me nothing.

[2015-08-23 23:19] #326 closed

[2015-08-24 17:27] RebelMage commented on #225
I have this issue as well. (I'm using Chrome on Windows 8.1, if that matters.)

[2015-08-24 23:11] bvtsang commented on #308
1. asdf
2. asdf
3. asdf

[2015-08-25 01:23] rimbaum opened #344 "Editing reblogged posts with Editable Reblogs enabled causes doubled original post"
Not sure how else to explain it, but if you check out this post I made, you'll see what I mean.

![screenshot-3](https://cloud.githubusercontent.com/assets/4296434/9456429/707273f0-4aa5-11e5-947f-4ed9a257e3d0.png)

extension info: https://gist.github.com/0482fe53153b49122189
Linux Mint 17.2, Chrome 44

[2015-08-25 04:21] paradox0s opened #346 "Editable Reblogs literally BREAKS THREADS"
I don't know how else to describe what's happening other than "shit's broke". I don't know what triggers it or what could possibly be conflicting. In fact, I uninstalled everything else I had (which basically just amounted to Stylish) and it was still broken. When I temporarily turned Editable Reblogs off, it was proven that it was indeed the source of the issue.

Anyway basically what happens is,

[2015-08-25 05:58] bvtsang opened #347 "Page-ify blogs with infinite scroll"
From the [support Gitter](https://gitter.im/new-xkit/support):

[2015-08-25 09:34] paradox0s commented on #346
UPDATE: At the behest of one of my RP partners I completely uninstalled Stylish, hit "update all" on xkit, and cleared my cache. Aaaand...still nothing. I also did all that only this time I uninstalled editable reblogs and tested the tamper/greasemonkey version of the editable reblogs script but the issue persists. So whatever it is is affecting both scripts in the same manner.

I'm at my wit's en

[2015-08-25 10:30] ThePsionic commented on #344
Dupe of #100

[2015-08-25 10:30] #344 closed

[2015-08-25 13:28] #308 closed

[2015-08-25 14:37] nightpool commented on #346
I've seen this happen but still haven't been able to reproduce it. Sounds maybe like an encoding problem on tumblr's side maybe? If you disable XKit, does the same problem still happen?

can you link blog posts that exhibit this behavior? (Both ones you've made with weird characters and ones which look normal but have weird characters in them when you reblog them, ideally)

[2015-08-25 18:53] bvtsang opened #351 "Show originals appears not to work"
Via the [support Gitter](https://gitter.im/new-xkit/support):

[2015-08-25 19:03] paradox0s commented on #346
@nightpool I haven't turned off Xkit completely, but I did try switching off Editable Reblogs just to see if it was the source of the issue and it definitely is, because nothing breaks if I reblog things without Editable Reblogs.

http://ask-reboot-turbo.tumblr.com/post/126879263464/ Here's an RP thread that was recently broken. Everything on the other writer's end doesn't appear damaged until aft

[2015-08-25 19:12] gloomykid commented on #346
i have the same problem, but im still wondering if it is a tumblr problem. because ive seen posts on my main blog with the same damage that arent from RP blogs.
it seems also to affect syntaxes (i.e. - , and ' for don't etc).

[2015-08-25 19:12] paradox0s commented on #346
UPDATE: Another RP friend of mine who's been having this issue just noticed a lot of her own threads were breaking too, and she thinks she's figured it out. Tumblr updated recently not to allow nested/manually added block quotes...whiiiiich are things that I and a LOT of other writers/artists make use of just because they look nice in some cases.

Buuuut now it seems that every post that used manu

[2015-08-25 19:15] blackjackkent commented on #346
Given that the above was posted months ago (and therefore should not be affected by editable reblogs at all), and based on a couple of other reports we've received as well, we're inclined to say that this is a bug in how Tumblr is handling its own special character encoding. We're keeping an eye on this, though and will find a way to address it if it's not resolved from Tumblr's side.

[2015-08-25 19:19] gloomykid opened #352 "Replying on ask causes error."
So, we had the fanmail dilemma and now it also affected asks.

When being on the inbox and wanting to click on the reply aka. bubble button underneath an ask in order to send a new ask to that person who has replied you, you get redirected to a new tab (as wanted) but the tab looks like this.

![ss 2015-08-25 at 09 08 49](https://cloud.githubusercontent.com/assets/13604430/9476767/cc3c41d8-4b6e-11

[2015-08-25 19:25] isnerdy commented on #346
I haven't seen your reblog code, but if it involves working directly with the database, you will have to set the encoding right after opening the connection.  Something along the lines of:

// Create connection
        $conn = new mysqli($servername, $username, $password, $dbname);
        $conn->query("SET NAMES 'utf8'");

[2015-08-25 19:26] blackjackkent commented on #346
We do not work directly with Tumblr's database, only with client-side Javascript manipulating information already on the dashboard (and occasionally the API).

You might want to give that note to the Tumblr staff though. ;)

[2015-08-25 22:08] Dwyguy opened #354 "Reblogging regular text posts yields an empty text new post dialog"
Pretty explanatory title.  Normally reblogging a text post (aka not QuickReblog) brings up an empty dialog.  While nothing appears in the dialog box, reblogging the post yields the correct content.

[2015-08-25 23:13] ThePsionic opened #355 "Extension to hide self-reblogs"
<lemniskate> is there a setting anywhere, in any of the extensions that lets me block it when
<lemniskate> someone I follow reblogs one of their own posts?

[2015-08-25 23:16] Wolvan commented on #355
I guess that would be something to add to tweaks. Compare source with blog that it has been reblogged to should give us the desired result

[2015-08-25 23:27] ThePsionic commented on #281
Confirmed, only ever loads 10 posts.

[2015-08-26 00:36] bvtsang opened #356 "Organize liked posts in the mass post editor"
From the [support Gitter](https://gitter.im/new-xkit/support):

[2015-08-26 00:44] ThePsionic commented on #346
It has been confirmed by multiple people in the XKit blog askbox that this issue is not XKit related whatsoever, but rather the remnants of an issue Tumblr had on their end.

[2015-08-26 03:47] 0xazure commented on #77
Closing as 'wontfix'.  Safari support will have to wait until after we return to the discussion around #256.

[2015-08-26 03:47] #77 closed

[2015-08-26 03:48] 0xazure commented on #287
This seems to be complete.  Feel free to reopen if there is more discussion to be had, but separating concerns into separate blogs is established.

[2015-08-26 03:48] #287 closed

[2015-08-26 05:10] RENPAGE commented on #346
Are you guys still working on a fix then, or are we going to have to wait for Tumblr to (maybe) fix it? Because from what I heard from a few people, this issue started happening days ago, and we've still gotten nothing from Tumblr.

[2015-08-26 05:38] bvtsang opened #357 "Hide suggested posts after reblogging"
From [an ask](http://new-xkit-support.tumblr.com/post/127616808478/please-help-me-youre-my-only-hope-you-know):

Example: https://gfycat.com/SpicyMealyIndianskimmer

Steps to reproduce:

1. Visit your dashboard
2. Reblog a post (not using One-Click Postage)
3. Observe that four suggested posts slide out from the side of the post

[2015-08-26 05:40] bvtsang commented on #357
This should probably be added to Tweaks.

[2015-08-26 05:42] paradox0s commented on #346
Tbh given that Tumblr is Tumblr idk if it's worth counting on them to fix this. Assuming it's a bug at all and not some weird intentional update. It'd make about as much sense as their decision to screw up reblogging in the first place.

[2015-08-26 06:23] inflictedknight opened #358 "Make Block Avatar also block avatars in notifications"
As far as I can tell, Block Avatar only works on the dashboard right now (i might be missing some place to change this?). Would love to see it updated to work with notifications as well!

[2015-08-26 06:35] gloomykid commented on #346
I've sent them a report about this issue to which they just replied with this.

![ss 2015-08-26 at 08 32 32](https://cloud.githubusercontent.com/assets/13604430/9486917/27a76224-4bcd-11e5-83a5-c8690c3910ec.png)

I just copy-pasted the same question again to their "support" even though I was sending the first message to them as well. It looks like they are not interested in fixing this, because I h

[2015-08-26 06:41] ThePsionic commented on #346
I'm not sure if we're seriously expecting Tumblr to retroactively fix the formatting issues. I mean, it's Tumblr after all.

[2015-08-26 06:45] ThePsionic commented on #357
That's part of No Recommended:
![img](http://i.imgur.com/TcZz4v5.png)

[2015-08-26 06:52] RENPAGE commented on #346
I think the most important issue to most people right now is to just get working text. I'd like to be able to write something without it turning into a zalgo mess.

[2015-08-26 06:53] bvtsang commented on #357
Oh! Well. Now I just feel stupid.

Thanks for letting me know!

[2015-08-26 06:54] #357 closed

[2015-08-26 07:00] paradox0s commented on #346
Just NOT using nested blockquotes for now, at least, WORKS, which is good. But people still have entire archives that have been damaged and for finicky RPers like myself it's torture to have to comb through them manually editing them. And I'm sure I'm not the only one upset about posts on their blogs suddenly breaking into unreadable messes.

You'd think Tumblr would feel some kind of pressure to

[2015-08-26 11:04] #358 closed

[2015-08-26 11:37] ThePsionic commented on #139
Closing since homu has already been used for a while.

[2015-08-26 11:38] #139 closed

[2015-08-26 11:40] ThePsionic commented on #166
Has been fixed by #161 in the meantime.

[2015-08-26 11:40] #166 closed

[2015-08-26 11:41] ThePsionic commented on #185
@hobinjk any progress on this?

[2015-08-26 14:34] finagle29 commented on #355
I have something that should work, but it looks like tumblr doesn't always add the source of a post, so I can't test it right now.

[2015-08-26 14:39] nightpool commented on #355
I don't really love the idea of this but we could make an extension for it
I guess.

definitely out of scope for tweaks.

On Wed, Aug 26, 2015 at 10:34 AM finagle29 <notifications@github.com> wrote:

[2015-08-26 14:39] nightpool commented on #355
slash maybe put an option in blacklist?

On Wed, Aug 26, 2015 at 10:39 AM Evan G <eg1290@gmail.com> wrote:

[2015-08-26 14:56] blackjackkent commented on #355
This definitely sounds like a Blacklist option to me.

[2015-08-26 15:47] ThePsionic commented on #355
:+1:

[2015-08-26 16:22] coderpatsy commented on #355
What if the person reblogs their own post as part of a conversation, and/or because they're adding content and it's much more likely to be seen through reblog than edit? Do you still want to hide those?

[2015-08-26 16:45] #70 closed

[2015-08-26 21:22] paradox0s commented on #346
UPDATE: It looks like if you go through any posts that have instances of nested blockquotes and delete them (maybe replace them with bullet points or w/e, doesn't matter as long as you erase the blockquote) and then just wait a while, it'll fix the wonky text, even throughout a long RP thread.

I'm testing this on some of my threads rn but it seems to be working. Still, talk about aggravating.

[2015-08-26 21:24] nightpool commented on #346
Hmmm. That's... exceedingly odd, given what kind of issue this is.

if you don't remove the blockquotes, but just make a small edit to the text
(add a period or something), does the same thing happen?

On Wed, Aug 26, 2015 at 5:22 PM paradox0s <notifications@github.com> wrote:

[2015-08-26 23:11] bvtsang opened #361 "Granular scheduling"
This is prompted by a set of asks to new-xkit-discussion:

1. http://new-xkit-discussion.tumblr.com/post/127618802199
2. http://new-xkit-discussion.tumblr.com/post/127619955214
3. http://new-xkit-discussion.tumblr.com/post/127621406189

As a user who runs daily challenges on my blog, I want to be able to queue posts at intervals that I specify so that I can run my blog more effectively.

[2015-08-26 23:21] paradox0s commented on #346
@nightpool I tried that and it doesn't seem to work, no. Getting rid of the blockquote is the only way to fix it.

[2015-08-27 00:16] rafflesiazero opened #363 "Read More Now shows up as 'undefined' when installed."

[2015-08-27 00:19] rafflesiazero commented on #363
The Read More Now extension installs fine, but in My XKit, it shows up as 'undefined'. Here's a cap of what does show up in its' place: http://puu.sh/jPQ6S/60af4b9e2c.png

[2015-08-27 00:59] 0xazure opened #364 "Re-evaluate how distribution files are organized"
The `Extensions/dist/` directory is starting to get a little messy, especially once #340 is merged and we start building themes from source.  We've currently got a lot of files, and some that [probably](https://github.com/new-xkit/XKit/blob/a9980bfa1d1ab04021388c1a3c687d6bbb2b8be3/Extensions/dist/extensions.js) don't belong with `<extensionId>.json` files.

This may be a little tricky because we'r

[2015-08-27 01:08] 0xazure opened #365 "Automate rebuilding distribution"
It would be nice to take CI a step further and have it automatically rebuild our distribution files after a successful merge into master.  We can create a new `gulp ci` task that does all the linting and test checks, then builds the dist files and commits them back to `gh-pages` for us.  We've even got [NewXKitBot](https://github.com/NewXKitBot) as a member of the org (thanks @Wolvan) that we coul

[2015-08-27 07:01] ThePsionic opened #368 "Quick Tags broke (also No Recommended and Shorten Posts?)"

[2015-08-27 09:10] Wolvan commented on #365
Sure, that's do-able. I could make a bot that rebuilds either daily or on commit of a new extension if you guys are cool with that

[2015-08-27 09:17] Wolvan commented on #363
can you go to http://www.tumblr.com/xkit_editor and open the read more now extension there? Maybe the download somehow failed

[2015-08-27 09:34] Wolvan commented on #364
:+1:

[2015-08-27 09:56] rafflesiazero commented on #363
Am I supposed to be getting a blank page on everything but the JSON tab?

[2015-08-27 10:21] Wolvan commented on #363
Nope, you really aren't. That's why it's giving you trouble. Delete the extension from the XKit_editor and try re-downloading

[2015-08-27 10:32] ThePsionic opened #369 "Allow selection of untagged posts on Mass+"
Add an option to select the first 100 posts in the Mass Post Editor.

[2015-08-27 12:00] rafflesiazero commented on #363
I did and it's still showing up as Undefined in My XKit.

[2015-08-27 13:35] Wolvan commented on #363
Does this happen with other extensions as well?

[2015-08-27 13:38] nightpool commented on #351
@blackjackkent is this ready or unconfirmed? Issues shouldn't be both!

If you can reproduce this, make sure to leave a comment with any steps you used.

[2015-08-27 13:41] rafflesiazero commented on #363
No, not at all. To test this, I installed Mass Deleter, No Recommended, Old Stats and Timestamps, all of which work well.

[2015-08-27 13:49] Wolvan commented on #363
Have you tried manually installing Read more now? Like, go to our repository and copy everything from https://raw.githubusercontent.com/new-xkit/XKit/master/Extensions/read_more_now.js and copying it into the editor?

[2015-08-27 14:05] blackjackkent opened #371 "Testing issue manipulation in waffle"
Ignore this -- will delete shortly

[2015-08-27 14:17] blackjackkent commented on #351
Upon closer inspection, Waffle's "Unconfirmed" column doesn't have a tag associated with it, so evidently it doesn't know to remove that tag when you move it to the "ready" column. :/ We'll have to figure out what to do about this (easiest approach is just to dump that tag, I suppose, and assume everything not marked "ready" is unconfirmed).

In any case, I was able to reproduce this:

Non-origina

[2015-08-27 14:21] #371 closed

[2015-08-27 14:22] rafflesiazero commented on #363
Just did that and it still shows up as Undefined, even though I got an update from XKit saying that it updated an extension. The JSON this time was different. I only got the string {"errors":false,"error":"parse_error", but now I have this in the JSON: http://pastebin.com/rpLU3NPQ I also don't have any text in the Stylesheet or Icon section.

[2015-08-27 14:51] Wolvan commented on #363
I mean, delete the extension in the editor and then create a new extension in the editor naming it read_more_now instead of downloading from extension gallery

[2015-08-27 15:16] 0xazure commented on #365
We don't even really need a bot.  From my understanding it's perfectly doable to have Travis execute all of this for us.  I only brought up NewXKitBot to suggest we use its credentials to commit, rather that one of our own accounts.

[2015-08-27 15:20] Wolvan commented on #365
Oh, I get it. Well, if we can supply travis with NewXKitBot's credentials and Travis does the building on repo change, good enough for me

[2015-08-27 16:10] #368 closed

[2015-08-27 16:14] nightpool commented on #351
@blackjackkent shouldn't the "unconfirmed" tag be associated with the "unconfirmed" column in waffle?

[2015-08-27 16:17] blackjackkent commented on #351
@nightpool It should, yes, but you cannot associate a tag with that column.

![image](https://cloud.githubusercontent.com/assets/13437011/9526117/23256e7c-4cad-11e5-9629-ad64477acc81.png)

At least as far as I can tell.

[2015-08-27 16:23] nightpool commented on #351
This means that all feature requests/style fixes/non-bug issues are going
to show up in "Unconfirmed". Is this what we want?

On Thu, Aug 27, 2015 at 12:17 PM BlackjackKent <notifications@github.com>
wrote:

[2015-08-27 16:52] finagle29 commented on #369
There already exists a feature in Mass+ to select the first 100 posts, is this request for a feature to select the first 100 untagged posts?

[2015-08-27 17:00] #351 closed

[2015-08-27 17:02] hobinjk commented on #364
All of this looks good to me. I definitely approve of splitting themes.json in the future. The useless keys are a holdover from old XKit that would need the corresponding logic removed.

[2015-08-27 17:22] 0xazure commented on #365
Might be slightly trickier than I had anticipated since we're using homu to pre-test our PRs _before_ they get merged, we never actually run tests on `master`.  And I don't exactly like the idea of merging `auto` into `gh-pages` in order to build the extensions.

[2015-08-27 17:35] blackjackkent commented on #330
Fixed by #334

[2015-08-27 17:35] #330 closed

[2015-08-27 17:39] #226 closed

[2015-08-27 17:54] nightpool commented on #226
why was this closed? its still open for someone to take and address. its
just low priority.

On Thu, Aug 27, 2015 at 1:39 PM BlackjackKent <notifications@github.com>
wrote:

[2015-08-27 18:01] blackjackkent commented on #228
Resolved by https://github.com/new-xkit/XKit/pull/268

[2015-08-27 18:01] #228 closed

[2015-08-27 18:09] blackjackkent commented on #80
Resolved by #268

[2015-08-27 18:09] #80 closed

[2015-08-27 18:09] 0xazure commented on #49
@hobinjk is this still an issue?

[2015-08-27 18:10] blackjackkent commented on #165
Closed as dupe.

[2015-08-27 18:10] #165 closed

[2015-08-27 18:12] 0xazure commented on #85
Is this issue still happening, or has it resolved itself?

[2015-08-27 18:44] nightpool commented on #62
closed by #119

[2015-08-27 18:44] #62 closed

[2015-08-27 18:51] rafflesiazero commented on #363
That's exactly what I did. I still get the "Unable to load extension panel" when loading it from the MyXKit menu. I did not download it from the extension gallery this time. When I inserted the code manually, I get a blank screen on everything except the JSON that reads, "{"errors":true,"error":"parse_error"}."

[2015-08-27 18:59] inklesspen commented on #165
I don't think it's a dupe of #60. I experience both problems at different times.

[2015-08-27 19:00] sorrytryagain commented on #85
The issue resolved itself, thank you

[2015-08-27 19:01] 0xazure commented on #85
Closing as resolved.

[2015-08-27 19:01] #85 closed

[2015-08-27 19:51] ThePsionic commented on #369
Yes, sorry.

[2015-08-27 20:09] ThePsionic opened #374 "Tag forgetter of some sort"

[2015-08-27 20:58] ThePsionic opened #375 "Editable Reblogs deletes captions"

[2015-08-27 21:02] ThePsionic opened #376 "Shorten Posts' message overlaps with the top banner"
![blob](http://i.imgur.com/AKAh70Y.png)

[2015-08-27 21:20] rafflesiazero opened #377 "Old Stats duplicates when one goes to tumblr.com/likes"
Not much to say beyond just showing you a picture of the glitch: http://puu.sh/jQQtR/09f3d7c130.png

[2015-08-27 21:22] ThePsionic commented on #206
#137; I accidentally duped myself.

[2015-08-27 21:22] #206 closed

[2015-08-27 21:26] ThePsionic commented on #375
From the support Gitter:

<TSFennec> Like, if pictures have credits/captions, the image reblogs, but not the text.
<TSFennec> Sometimes if I try it again the text will show up in the queued post... Other times even when I do it a few times it's not working.
<TSFennec> (I'm fairly sure this is an issue with the editable reblogs extension. Can't be sure it's not Tumblr itself, but since I haven't he

[2015-08-27 21:34] nightpool commented on #375
This is a dupe of #100

On Thu, Aug 27, 2015 at 5:26 PM ThePsionic <notifications@github.com> wrote:

[2015-08-27 21:35] nightpool commented on #375
we've been tracking both bugs there, IIRC

On Thu, Aug 27, 2015 at 5:34 PM Evan G <eg1290@gmail.com> wrote:

[2015-08-27 21:35] nightpool commented on #374
I think we put this somewhere?

On Thu, Aug 27, 2015 at 4:09 PM ThePsionic <notifications@github.com> wrote:

[2015-08-27 21:37] ThePsionic commented on #375
Seems quite odd to track both of those bugs under the same title, which is a completely different issue.

[2015-08-27 22:05] #376 closed

[2015-08-27 23:43] nightpool commented on #375
there might be another bug I'm forgetting somewhere

On Thu, Aug 27, 2015 at 5:37 PM ThePsionic <notifications@github.com> wrote:

[2015-08-28 01:41] coderpatsy commented on #374
That'd be #242

[2015-08-28 02:55] 0xazure commented on #374
Cheers, @coderpatsy.  Closing as dupe in favour of #242.

[2015-08-28 02:55] #374 closed

[2015-08-28 03:39] coderpatsy opened #380 "Shorten post with given tag(s)?"
Suggestion for Shorten Posts: Optionally put in tags and it shortens posts if it's tagged with any of the inputted tags (say, "#long post") regardless of type. It's like blacklisting, but with less chance of your eye just glazing over the notification since you can see part of the post.

[2015-08-28 05:54] PeachyBird opened #381 "When clicking avatars, open blog in new tab and disable that weird sideblog thing that comes up."

[2015-08-28 05:54] PeachyBird opened #382 "Option to change Anon avatars to anything we want."

[2015-08-28 05:55] PeachyBird opened #383 "Shuffle option for Queue."

[2015-08-28 05:55] PeachyBird commented on #383
This would need to ignore scheduled posts.

[2015-08-28 05:56] PeachyBird opened #384 "Old, edited reblogs showing my portion of the reblog as being a reblogged portion"

[2015-08-28 05:58] PeachyBird opened #385 "Add option to add words to Blacklist/Whitelist by highlighting and right clicking words, like in Tumblr Savior."

[2015-08-28 05:59] Wolvan commented on #382
Already a thing in the next satsukimous update, you can keep up with the Pull Request #350 if you like

[2015-08-28 07:31] ThePsionic commented on #381
The Open in New Fab extension has an option for this, unless I am
misunderstanding.

On Fri, Aug 28, 2015, 07:54 PeachyBird <notifications@github.com> wrote:

[2015-08-28 07:33] ThePsionic commented on #385
I'm pretty sure you can enable a key combination in the preferences (Alt+B
off the top of my head)

On Fri, Aug 28, 2015, 07:58 PeachyBird <notifications@github.com> wrote:

[2015-08-28 08:25] ThePsionic commented on #383
Already exists as part of Enhanced Queue.

[2015-08-28 08:25] #383 closed

[2015-08-28 08:26] ThePsionic commented on #385
Yep.
![blob](http://i.imgur.com/Gg5BQVP.png)

[2015-08-28 08:28] ThePsionic commented on #382
Dupe of #263

[2015-08-28 08:28] #382 closed

[2015-08-28 11:59] invalidCards opened #386 "Blacklisted posts do not get shortened"
1. Have Blacklist and Shorten Posts installed.
2. Find a blacklisted post and unhide it.
3. Expected: The just unhidden post gets shortened.
4. Actual: The unhidden post does not get shortened, even if the height is larger than the set treshold.

[2015-08-28 13:42] albinakarambura commented on #338
This happened in old xkit to me a lot too. It's the reason I'm not using post archiver now.

[2015-08-28 14:41] ThePsionic opened #387 "Middle mouse clicking with Open in New Tab opens 2 tabs"
1. Have Open in New Tab installed
2. Middle-mouse click on a blog link
3. Expected: A new tab opens, going to the specified blog
4. Actual: Two new tabs open, going to the specified blog

[2015-08-28 15:50] #263 closed

[2015-08-28 16:23] invalidCards opened #389 "Blacklist URL checking is broken"
From a set of asks:

[time passes]

[2015-08-28 17:38] ChuckL commented on #189
We discussed this a bit in chat and we're thinking of opening this back up.  Unfollowing blogs is already a feature on that page, we're just filtering the blogs for the user.  The extension would still require user input for each blog.

If anyone thinks this is a bad idea we can discuss it more.  I'll reopen this and start dev this weekend.

[2015-08-28 17:54] nightpool commented on #385
this is still a valid enhancement, right clicking would be nice.

would require some new bridge methods though.

On Fri, Aug 28, 2015 at 4:26 AM ThePsionic <notifications@github.com> wrote:

[2015-08-28 18:53] ThePsionic commented on #385
I missed the right clicking part, apologies

On Fri, Aug 28, 2015, 19:54 Evan <notifications@github.com> wrote:

[2015-08-28 19:07] nightpool commented on #389
i'd actually like to re-write blacklist to make it work more like tumblr
savior, since so many people have problems with it.

On Fri, Aug 28, 2015 at 12:24 PM ThePsionic <notifications@github.com>
wrote:

[2015-08-28 19:51] blackjackkent commented on #387
I can't dupe this; it only opens in one tab for me.

[2015-08-28 19:52] blackjackkent commented on #384
Can you provide us with steps to reproduce this bug? I'm having trouble determining under what circumstances this would happen.

[2015-08-28 19:54] blackjackkent commented on #377
Duplicated. I'll look into this.

[2015-08-28 20:28] 0xazure opened #390 "Enhance the extensions gallery"
It would be nice to add some categories to the Gallery to help the end-user with things like extension discoverability.  Some examples of categories:

* all (of course)
* featured (Editor's Choice-style)
* recently updated

The Gallery is a little small; I wouldn't mind seeing the window enlarged a bit and adding tabs for the categories along the side, kind of like how installed extensions are lis

[2015-08-28 20:37] ThePsionic commented on #387
Might want to have mentioned this is in Chrome. Testing in Firefox shows it does work correctly.

[2015-08-28 21:09] ThePsionic commented on #387
Seems to have been a glitch in the system somewhere. Can't reproduce myself anymore; closing.

[2015-08-28 21:10] #387 closed

[2015-08-28 21:36] Wolvan commented on #390
how would we do this? Would we add coma-seperated tags to the extension headers or something?

[2015-08-28 21:38] Wolvan commented on #389
how does tumblr savior work compared to XKit Blacklist, @nightpool ?

[2015-08-28 21:43] 0xazure commented on #390
Probably the easiest, short-term way would be to add additional keys to `gallery.json` and update `xkit_preferences.js` accordingly.  Longer-term, categories should probably be managed more dynamically through some kind of web UI that's easy to update to reduce code churn as we cycle extensions in and out of categories like 'featured'.

I'm undecided as to if we should categorize extensions more g

[2015-08-28 21:45] Wolvan commented on #390
But how would we accomplish the web ui part? That would mean xkit_preferences.js would have to load another source just to get the sections/categories/tags

[2015-08-28 21:49] 0xazure commented on #390
Sure, so `xkit_preferences.js` could first try to reach a URL that serves dynamic (server-generated) enhanced gallery json and, failing that, could fall back to the static `gallery.json` file served from `gh-pages`.

[2015-08-28 21:53] Wolvan commented on #390
I had the idea to leave gallery.json unchanged, let that be loaded first by xkit_preferences.js. After successfully loading gallery.json we load another file (categories.json or something like that) which contains the categories + the extensions by name in those categories, which xkit_preferences.js then parses. In case of categories.json downloading failure, we can just put all the extensions int

[2015-08-28 22:22] gloomykid opened #391 "Opening in new Tab: Notes on dashboard"
When looking at a post of mine on my dashboard and seeing that someone reblogged it (no matter if a comment was included or not), and I click on said note, it will only open in a sidebar preview of their blog instead of their actual blog post in a new tab.

The new tab thing only works if you're clicking on the same notification on the activity page.

Chrome, Win7.

[2015-08-28 23:00] gloomykid commented on #60
ive tested running tumblr with xkit and without any other add-on, and the j/k button issue is still a thing if using infinite scroll instead of pages.

as soon as you hit the 2nd page, it wont work. that is the issue ive collected so far.

the question is if you want me to test if its an extention from xkit that collides with j/k?

[2015-08-29 09:26] ThePsionic opened #392 "Make tag blacklisting more strict"

[2015-08-29 09:50] ThePsionic commented on #243
Can't reproduce anymore. Is anyone still having this problem?

[2015-08-29 21:14] GoesOnGhost commented on #386
If it's any help, these extensions work together if Shorten Posts is installed before Blacklist.

[2015-08-30 02:47] Hyratel opened #395 ""Next 100" in Mass+"
The "first 100" is a very useful feature, but for prolific users, it's not uncommon to have 300+ posts per month, which is the same tedious process the "select 100" is intended to avert. I suggest a "next 100" button to go with it

[2015-08-30 04:11] cherwally commented on #296
Still broken

[2015-08-30 11:27] albinakarambura opened #396 "Profiler extension bug"
I noticed that sometimes profiler extension disappears from user menu.

![image](https://cloud.githubusercontent.com/assets/1273206/9566936/39ed7204-4f22-11e5-8455-78eb4a98ec12.png)
I only have 3803 likes in total, so that can't be right. It appears that the counter is broken too.

and the timezone doesn't show at all.
![image](https://cloud.githubusercontent.com/assets/1273206/9566950/a87a4b3e-4f

[2015-08-30 18:18] coderpatsy opened #397 "Shorten Posts cuts off dock_video_button on video posts"
Look at the right side of this screenshot:
![shortened cutoff](https://cloud.githubusercontent.com/assets/13140934/9568729/9c30ed5a-4f0f-11e5-8d47-c5d1f2890644.png)

Firefox 40.0.3, XKit 7.7.0, Shorten Posts 0.2.2. The cuttoff disappears when you expand the post.

Changing the overflow declaration to overflow-y won't fix it since [there seems to be a bug with how browsers treat overflow](http://st

[2015-08-31 05:12] blackjackkent opened #399 "Quick tags doesn't work with video posts"
From an ask:

Submitter's a buddy of mine -- worked with him to determine that this is happening in video posts on all browsers. Duped and claimed; will work on this tomorrow.

[2015-08-31 14:44] ThePsionic opened #400 "Shorten Posts tag overflow upon massive tagging"
http://i.imgur.com/TOvOJTo.png

[2015-08-31 21:54] ThePsionic opened #401 "Shorten Posts glitches when shrinking posts in queue"
![a](http://i.imgur.com/71fJWve.png)

When the "Shrink Posts" option of Enhanced Queue is enabled, the Shorten Posts extension does strange things.

[2015-09-01 00:38] rimbaum opened #402 "Allow View Comments to see when pictures are added"
Right now, when someone reblogs a post with <em>only</em> a picture or gif, View Comments can't see that there's been content added and just skips over it. It'd be great if there was a way to see that a picture has been added, even if it's only a tag of [picture] instead of the whole photo.

[2015-09-01 19:36] 0xazure opened #406 "Long-running gulp tasks crash on lint error"
Creating a separate issue from [#298 (comment)](https://github.com/new-xkit/XKit/issues/298#issuecomment-131717321):

Long-running tasks like `gulp watch` and `gulp server` exit with an error code if they detect any file errors.  This is because of how we have set up task dependencies; both of these tasks depend on a `gulp lint` task which exits with an error code if file errors are detected _as i

[2015-09-01 22:33] jristz opened #407 "Return to the olds chains... or make them scrollable"
Follow official Tumblr staf page, the next regression is this:
http://support.tumblr.com/post/128127169452/ever-see-a-crazy-long-indecipherable-reblog-chain
This will make chains literally exponentially longers like those from RP blogs.

I post this here before to let know this and prevent complains when the update break the add-ons related to chains.

[2015-09-01 22:38] nightpool commented on #407
Closing for now as we don't current know what the situation is going to be code wise or what we're going to try to accomplish. Rest assured that we're committed to doing as much as we can though.

For more information, check our latest post on [the xkit announcement blog](http://new-xkit-extension.tumblr.com)

[2015-09-01 22:38] #407 closed

[2015-09-01 22:38] nightpool commented on #407
We'll make sure to create issues here as soon as we've come up with a plan of attack.

[2015-09-02 00:49] noahleigh opened #408 "Wrap tags on in-dashboard blog panel"
With the "wrap tags" tweak enabled, it doesn't wrap tags in the sidebar-blog-view, and those tags are unscrollable because the tweak disables that.

[2015-09-02 01:00] nightpool commented on #408
this is a duplicate of https://github.com/new-xkit/XKit/issues/194

only happens to some users, and inconsistently at that.

On Tue, Sep 1, 2015 at 8:49 PM noahleigh <notifications@github.com> wrote:

[2015-09-02 01:28] noahleigh commented on #408
Thanks, I've subscribed to that issue now.

[2015-09-02 02:20] nightpool commented on #408
reopening this because further investigation reveals this is a separate issue.

[2015-09-02 02:22] noahleigh commented on #408
Details?

[2015-09-02 02:26] nightpool commented on #408
Looking into it now, but this seems to be tag wrapping specific—unlike the issue I liked to which was a global issue with all of the blog sidebar and xkit extensions

[2015-09-02 03:19] nightpool opened #410 "extension renaming/merging/removal"
from https://github.com/new-xkit/XKit/pull/409#issuecomment-136922604

in a list format:

 [] logic that would replace estufars_sidebar_fix with a new old_sidebar extension
 [] logic that would be general enough to handle extension renaming, extension deletion, and extension merging in a good way

this is probably going to be a new json file containing a list of migrations that's read by xkit_pref

[2015-09-02 08:35] rafflesiazero opened #411 "When browser is unable to load to secure websites, Retags is messed up."
More thorough description is when my browser is unable to resolve the connection to sites starting with HTTPS or even HTTP, I get an error message from Retags stating that it has encountered an invalid or illegal string, which it's then strongly recommended to restart XKit because of this. So, I hit the button to reset XKit, but it still stays up, so I have to hit the OK button.

Normally, a brows

[2015-09-02 12:22] nightpool commented on #411
If you can't load http sites, then you can't use a browser at all, so I'm
not sure that's what you meant.

if you just can't load https sites, then how are you using tumblr? As far
as I can tell tumblr is https-only.

On Wed, Sep 2, 2015 at 4:35 AM rafflesiazero <notifications@github.com>
wrote:

[2015-09-02 16:04] chocorooms commented on #211
Hi, just came in to report that my girlfriend and I both have experienced this issue, and for us it seems to happen pretty reliably when you reblog a post from the actual blog page it's on, and not from the dashboard itself. It can also happen to any post with a title, picture, or video.

[2015-09-02 16:16] nightpool commented on #375
I was forgettting one—this is a dupe of #211

[2015-09-02 16:16] #375 closed

[2015-09-02 16:40] #377 closed

[2015-09-02 17:07] nightpool opened #413 "mention notifs should show tags"
it would be sick if this showed tags as well as content:
![image](https://cloud.githubusercontent.com/assets/233815/9638212/5dd7e78c-5173-11e5-806d-36722d404857.png)
(also on the dashboard as well)

[2015-09-02 17:59] 0xazure opened #414 "Investigate Contributor License Agreements"
Brought up in #405, but I think it would be worthwhile to investigate the legal situation as we rebrand and take over from STUDIOXENIX.

We should probably investigate [Contributor License Agreements](https://en.wikipedia.org/wiki/Contributor_License_Agreement) and see what our options are and how a CLA would operate under the current license of [GPLv3](https://www.gnu.org/licenses/quick-guide-gpl

[2015-09-02 18:01] nightpool commented on #414
Isn't this dependent on us having a better leadership structure then just
whatever? and some sort of legal entity to assign copyright too.

not really worth it at this point in time imo.

On Wed, Sep 2, 2015 at 1:59 PM 0xazure <notifications@github.com> wrote:

[2015-09-02 18:05] 0xazure commented on #414
I'm approaching it more from a [CYA](https://en.wikipedia.org/wiki/Cover_your_ass) standpoint.  A lot of what's in place right now is implied given it's an open-source project, and it should probably be firmed up a bit and put in writing.

Even if we don't go whole-hog and institute a CLA, we should have, at the bare minimum, some contributing guidelines.

We've got more pressing matters at the mo

[2015-09-02 18:14] jristz commented on #407
The update is here and look like break images in reblogs too.

[2015-09-02 19:49] nightpool commented on #407
What do you mean?

[2015-09-02 20:00] rafflesiazero commented on #411
Right, that's what I meant. This only happens every once in a while, however a simple browser restart fixes everything and Retags doesn't show up as being broken, but it's only with this instance that it does.

[2015-09-02 20:41] nightpool opened #416 "blacklist doesn't work after reblog-list update"
from the askbox

http://new-xkit-support.tumblr.com/post/128208736168/i-know-you-guys-said-none-of-you-had-gotten-the

[2015-09-02 20:43] nightpool opened #417 "shorten posts breaks drafts editor"
from the askbox

[2015-09-02 20:49] schaufel4 opened #418 "Open in Tabs"
I opened Issue #80, and no, it is not fully resolved. Tags on sidebar now open in new tabs the way they should, but Likes still does not, and single photos are still opening in new tabs instead of the photoset viewer (though multiple photos in a set open in the viewer, thankfully).

[2015-09-02 21:16] ruddyowls commented on #417
Okay, so here's a post in the draftbox with the extension turned on, un-expanded, with current settings. Changing the settings doesn't seem to affect whether the bug appears or not.

![image](https://cloud.githubusercontent.com/assets/14099609/9644589/ee9f4f3c-5194-11e5-9898-f587b712767d.png)

I can expand the post as I would on the dash and show it at its full size, no problem. However, when I cl

[2015-09-02 21:41] #297 closed

[2015-09-02 22:07] rimbaum opened #420 "New post tweaks?"
I personally don't mind the new post look all that much, but everything <em>does</em> seem to bleed together a bit too easily. Do you think there would be a way to add colored/shaded separators to more clearly define the different reblog comments in a chain?

I know that getting the classic post look back is important to people too, but some people just want a tweak to make the current posts easie

[2015-09-02 22:53] ruddyowls commented on #417
Apparently this is happening on the dash too, but only when editing posts that have already been made

[2015-09-03 00:50] jristz commented on #407
Reblog blockquote, Tumblr change it, side efects are user blacklist is
broken, colored blockquote broken,  images in blockquotes broken an any
functionality related to reblogs' blockquoting

El mié 02/09/2015, 4:49 PM, Evan <notifications@github.com> escribió:

[2015-09-03 03:59] jristz commented on #407
#419 #420 #421 are "duplicated" in the sence, they report problems and breakages with the new reblog blockquote mode, and #416 is noe of the side effects of the problem tumblr-savior work ok in blocking users.

[2015-09-03 04:20] #47 closed

[2015-09-03 04:20] #271 closed

[2015-09-03 04:54] lleytonc opened #423 "Source doesn't appear in the post"
This is the post on Chrome with the new xkit installed.
![5fd554b2-36c4-4c07-b95b-d4ca6687802c](https://cloud.githubusercontent.com/assets/14104016/9650789/9d54617a-523a-11e5-89b7-e28c4cd64727.png)
This is the post on Safari.
![a9163bff-8eca-4d93-aa3f-e09beb303e78](https://cloud.githubusercontent.com/assets/14104016/9650796/ad541e4e-523a-11e5-8114-ba6d8189669d.png)

I also cannot see the update of

[2015-09-03 05:39] sobekstar opened #424 "AccessKit font increase broken in main post body"
Howdy! Since the new reblog changes, AccessKit no longer boosts font sizes in the main post body, though it does appear to still work on other text such as usernames and tags.

And now it appears as though using a quote in the post body makes the font *even smaller*, as seen here: https://i.gyazo.com/fafe4eb0afd46f28cb316ea1c638e9ea.png
It's nearly impossible for me to read.

Here is AccessKit ena

[2015-09-03 08:02] jaygold56 commented on #423
I had the same problem that I thought was xkit but it turns out it wasn't. If you have tumblr savior installed I'd check the settings tab and see if you have "Hide Tumblr's source attribution" unchecked.

As for the new post format, not everyone has this update yet. Tumblr is rolling it out slowly to only some users at a time.

[2015-09-03 08:08] lleytonc commented on #423
Ohhhh it's tumblr savior this little shit! This problem has troubled me for so long. Thank you so much!

[2015-09-03 08:10] jaygold56 commented on #423
No problem :)

[2015-09-03 11:07] #423 closed

[2015-09-03 13:41] Wolvan opened #427 "Debloat Tweaks"
Tweaks turned into an absolute mess by now, a lot of functions that could either be put into other extensions or ones that deserve their own extension entirely

[2015-09-03 13:42] Wolvan commented on #427
Discussion on which functions to go where here, please

[2015-09-03 14:19] fionaroleplays opened #428 "What you have in drafts delete after you save"
I am a rp helper and I have various things in drafts that I work on. So a few days ago I started working on a masterlist. I saved it when it was getting long and I would get back to it when I had more time. Today I opened it and was fine, but when I saved it so that nothing would crash etc, everything deleted. There was literally only six bullet points out of...over fifty maybe that I had already

[2015-09-03 14:23] blackjackkent commented on #413
I'll take this one

[2015-09-03 14:43] nightpool commented on #424
editing out the color quotes stuff since that's a separate issue. AccessKit is a legit bug though.

[2015-09-03 14:47] nightpool commented on #428
this is pretty bad! I don't know if this is specifically XKit's fault, but
if you're on firefox, try using Lazarus. I don't know specifically if it
works with tumblr's forms but its worth a shot

otherwise if you're doing long posts you should definitely make sure to
save them in google docs or something before posting theme—tumblr is broken
by definition, and while we can stem the onrushing tide,

[2015-09-03 14:53] blackjackkent commented on #428
I am unable to reproduce this and doubt that it is specifically related to XKit; you mention having greasemonkey scripts installed as well...try removing or disabling them and see if you still encounter the problem.

[2015-09-03 17:33] mackenbrose commented on #428
It was happening to me 9/10 (Chrome, Mac), and I deleted tampermonkey (i think that's basically the equivalent of FF's greasemonkey??). It only still does it when I edit a "replied to your post" post, but fwiw it seems to have fixed whatever was deleting the text in posts when I go back and edit them. If I remember correctly, greasemonkey was never very compatible with the original xkit and one of

[2015-09-03 17:37] nightpool commented on #428
hmm that makes sense @blackjackkent something tells me the next thing that
needs a blockquote fix is one-click reply

On Thu, Sep 3, 2015 at 1:33 PM mackenbrose <notifications@github.com> wrote:

[2015-09-03 17:53] #413 closed

[2015-09-03 19:22] blackjackkent opened #432 "One-Click Reply needs to be brought up to speed with new blockquote behavior"
Oneclick reply formats replies with a blockquote in the middle:

so and so replied to your post:

This will not work with the new blockquote parsing paradigm and will look funny for anyone viewing things with the new reblog design.

[2015-09-03 21:31] anakhasilver opened #434 "Read Mores misbehaving with Editable Reblogs"
It appears there's a bug where when reblogging, Read Mores delete what's under them and just show up as [[MORE]]. It appears to only happen when Editable Reblogs are active. Multiple people have experienced this.

[2015-09-03 22:18] blackjackkent commented on #434
I will look at this when I get home from work. :)

[2015-09-03 23:07] nightpool opened #436 "editable reblogs needs undefined guards"
two problems:

people who made posts that are title-only, with no content will have an undefined reblog_html. this currently tanks editable reblogs.

people who have deactivated their accounts will have no reblog_link. this also currently tanks editable reblogs.

swag.

[2015-09-03 23:07] nightpool commented on #436
@blackjackkent roll up with the other er bug?

[2015-09-03 23:09] nightpool commented on #436
if reblog_content is none, we should skip them from the tree altogether.

if they don't have any reblog link, then I guess we should just do `<a href="http://{blogname}.tumblr.com">blogname</a>` I guess?

[2015-09-03 23:18] nightpool commented on #436
wait, this is odd. that blog wasn't deactivated, but it still didn't have a link. investigating...

[2015-09-04 02:10] blackjackkent opened #437 "Post titles not displaying on editor screen when reblogging with Editable Reblogs"
Doesn't actually affect whether title gets posted (it does), but might confuse people.

[2015-09-04 02:16] blackjackkent opened #439 "Tweak to reduce size of post titles is no longer working."
Probably related to Tumblr dashboard style updates.

[2015-09-04 03:22] rimbaum commented on #437
Adding to this, I'm wondering if it will be possible to edit the titles again at some point? This is important in some parts of the RP community.

[2015-09-04 03:40] #327 closed

[2015-09-04 03:46] #434 closed

[2015-09-04 04:14] nightpool opened #441 "[editable reblogs] investigate whether we can edit post titles"
i don't think so, but it'd be nice to see. Probably would be done by editing the html in the old .post-title element in the editor I guess?

[2015-09-04 04:55] nightpool commented on #437
@rimbaum unclear. we're tracking it at issue #441

[2015-09-04 04:56] nightpool commented on #437
fixed by #438

[2015-09-04 04:56] #437 closed

[2015-09-04 04:56] nightpool commented on #436
fixed by #438

[2015-09-04 04:56] #436 closed

[2015-09-04 05:40] laurajax opened #442 "Retags does not show tags on notifications from Classic Notifications"
The notifications that the Classic Notifications extension make appear on tumblr.com/blog/[URL] pages do not show the tags that Retags should make them show. Sometimes I see them appear for a split second upon page load before disappearing again. This points to the likelihood that they are always being loaded and then hidden. The extension works fine in the activity page and in the pop-up from cli

[2015-09-04 05:48] laurajax commented on #442
Oh, and Retags does not make tags show up in the Lightning button drop-down at the top of the page either, but it seems that no extensions work up there at all (NotificationBlock is another example). Since nothing works in that drop-down it seems like a separate thing. Should I submit an issue for that as well?

[2015-09-04 05:49] nightpool commented on #442
@wolvan was just lamenting this too.

@laurajax sure, sounds like a legit issue.

On Fri, Sep 4, 2015 at 1:40 AM laurajax <notifications@github.com> wrote:

[2015-09-04 06:01] laurajax opened #443 "Extensions do not affect Lightning button drop-down."
![image](https://cloud.githubusercontent.com/assets/2278946/9677400/5a0fc46e-52a7-11e5-94ce-01ddea0a5d3c.png)

The notifications that show in the pop-up/drop-down when clicking on this button at the top of the page seem to not be affected by any Xkit extension (e.g. Retags, NotificationBlock, etc.)

That button is wonderful! But for many people it's basically unusable without NotificationBlock.
In

[2015-09-04 06:03] laurajax commented on #443
Oh, and possibly consider adding a way to make the Lightning pop-up taller? Its shortness is the only way in which it is inferior to Classic Notifications.

[2015-09-04 06:47] ThePsionic opened #444 "Servant can't choose chat posts as selector"
![img](http://i.imgur.com/9L0Q1LV.png)
I'll write up a fix for this.

[2015-09-04 10:39] Wolvan commented on #442
I'll see if I can work on a fix for the tags getting hidden

[2015-09-04 10:43] #439 closed

[2015-09-04 11:35] #444 closed

[2015-09-04 12:45] coderpatsy opened #448 "Post Archiver doesn't autofill title field from reblogged posts on dash"
Tested with text, photo, chat, video, and link posts. Only reblogged chats auto-fill the field because tumblr didn't muck with them.

Original posts still seem to work fine in my limited testing.

[2015-09-04 15:40] 04tobizbits opened #449 "blank xkit window (chrome)"
xkit window appears blank in all tabs. chrome and xkit are updated, window still appears blank if any other extensions are disabled/uninstalled. xkit window will sometimes load, but after closing it will return to being blank.

[2015-09-04 16:33] ThePsionic opened #450 "Retags broke with the latest update"

[2015-09-04 17:02] bvtsang opened #451 "Pressing J doesn't always navigate to next page"
Steps to reproduce:

1. Install J/K Across Pages
2. Settings > Dashboard > Disable endless scrolling
3. Visit your dashboard
4. Keep pressing J until you reach the bottom of the scren
5. Press J
6. Expect to navigate to next page
7. Observe that nothing happens

This doesn't happen all the time, but I can reproduce it fairly reliably.

[2015-09-04 19:05] bvtsang opened #453 "Blog Tracker: allow rearranging of tracked blogs"
From an ask:

[2015-09-04 20:25] nightpool opened #454 "editable reblogs can't reblog one-click reply"
trying to reblog [this post](http://jabyrwock.tumblr.com/post/128351027935/nightpool42-replied-to-your-post-support) fails under editable reblogs:
![image](https://cloud.githubusercontent.com/assets/233815/9693830/758679ac-5321-11e5-91ad-9dfd054da4e6.png)
when I try to reblog:
![image](https://cloud.githubusercontent.com/assets/233815/9693834/8420f744-5321-11e5-814a-baaa35b7497e.png)

[2015-09-04 21:56] ThePsionic opened #455 "Layout update broke Auto Load Images"
External images are no longer being automatically loaded. Instead, the reblog shows a dotted div with the text "Load External Image".

Tumblr probably updated their classes, and we haven't updated to reflect that.

[2015-09-04 22:05] ThePsionic opened #456 "Servant selection is wrong"
Pasting from Gitter:

If you for instance make a servant that says "If I'm on dashboard and the post is original, highlight it" it does activate on the inbox
But if you say "If the post is original and I'm on the dashboard, highlight it" it doesn't activate on the inbox

[2015-09-04 22:12] ThePsionic commented on #455
Tumblr now uses `<div class=externai-image-wrapper data-src=(external link)>` which changes to `<p><img src=(external link)/></p>` on click.

[2015-09-04 22:37] #455 closed

[2015-09-04 22:51] blackjackkent opened #458 "Tracked blogs disappear after a few hours"
@bvtsang summarizing an issue reported in dev chat:

you can add a person to the blog tracker
the person stays on the blog tracking list
but after a couple of hours, the person is no longer there
and the number of blogs you can track decrements by 1
e.g. 30 remaining blogs to track -> (after tracking 1) 29 left -> (after a couple of hours) 30 left
and you also have a blacklist installed (and I hig

[2015-09-05 03:06] finagle29 opened #459 "Servant logic ignores all but last condition"
Steps to repro:
1. make new servant with multiple conditions (e.g. post type is, post is from, post is original, etc.)
2. observe that the action is performed only when the last condition is met

[2015-09-05 03:25] finagle29 opened #460 "No return type tooltips in Servant"
according to atesh's [documentation on servant](http://xkit.info/servant/), there should be tooltips explaining return types of cause servants, but when i hover on the icon, there's no tooltip

[2015-09-05 04:27] laurajax commented on #443
it's not really a feature, is it? Extensions that are meant to affect notifications do not affect these notifications.

[2015-09-05 04:29] Wolvan commented on #443
I actually agree with @laurajax in this case. The lightningbolt menu still shows notifications which we should work with

[2015-09-05 06:28] ThePsionic commented on #459
I'm fairly sure this bug is the same as I described on #456 but I'll close that one because this one has actual repro steps.

[2015-09-05 06:28] #456 closed

[2015-09-05 06:52] rafflesiazero commented on #363
I'm still having errors with this. I've done everything listed here and it's still showing up as Undefined. I even reset XKit and it's still giving me errors.

[2015-09-05 13:55] gloomykid opened #461 "XCloud downgrades automatically after browser restart."
When using the XCloud migration guide to upgrade to 0.3.0. and changing the set ups in the XKit editor, it's all fine.

But as soon as the browser is closed and opened again, tumblr tells me about some "update" to "XCloud 0.2 REV B", which is obviously a downgrade again.

After that, I have to go the XKit editor again, copy paste the 0.3.0 text into XCloud to make it work again, because otherwise

[2015-09-05 14:01] Wolvan commented on #461
That is a problem with ``` xkit_updates ``` and I already wrote a fix for that, see #440

[2015-09-05 14:01] #461 closed

[2015-09-05 15:39] gloomykid commented on #296
ah now its broken for me as well. i took a screenshot of the error code in order to help out some more:

![ss 2015-09-05 at 05 39 04](https://cloud.githubusercontent.com/assets/13604430/9700002/0ea1afac-53f5-11e5-9f3f-790666744c34.png)

[2015-09-05 20:13] laurajax commented on #279
i second this, there are a number of extensions that i dont use simply because I dont know what they do (e.g. Mass+)

[2015-09-05 20:40] finagle29 commented on #296
@gloomykid do you have any password protected blogs?

[2015-09-05 20:44] ThePsionic commented on #279
Old Stats anyone? * is a nice wildcard selector. Not so much of a description.

[2015-09-05 21:59] #296 closed

[2015-09-06 01:16] gloomykid commented on #296
@finagle29 i do, but i thought that the post counter only counts the posts for one blog. and the one i checked was without a password.

[2015-09-06 02:10] finagle29 commented on #296
as of version 0.2.1 it checks all blogs, which introduced errors if you have private blogs. that specific error should be fixed with version 0.3.0

[2015-09-06 06:15] nakengelhardt commented on #451
This happens when the last post on the page is shorter than the screen and the top of the post is still visible. I have a fix for this, let me figure out how to do pull requests...

[2015-09-06 07:12] bvtsang commented on #451
@nakengelhardt FYI, I have a working fix for this in #452.

[2015-09-06 07:18] nakengelhardt commented on #451
Oh nice, let me try yours then!

[2015-09-06 09:13] ThePsionic commented on #205
It's here! [Estufar made this an actual thing](http://estufarextensions.tumblr.com/post/128438346723/i-made-a-tungle-dashboard-theme-the-theme-right). (Pinging @estufar for obvious reasons)

[2015-09-06 17:51] gloomykid commented on #60
Guys, I've found the causing problem for the issue to get to the previous post with K.
It's "Reblog as Text". If I disable said extention, my K button still works just fine.

Honestly, I don't even know if this is necessary to use, because of the whole interface change, I don't know if long text posts will still be converted into links. But if they still turn into links instead of long text posts,

[2015-09-06 18:07] bvtsang commented on #60
I'm interpreting "K not working" in two ways:

1. Pressing K while at the top of the screen doesn't navigate to the previous page
2. Pressing K doesn't skip over an entire post, but scrolls up a tiny bit instead

In my testing, I've never encountered the first case. But I've encountered the second case even with J/K disabled, which leads me to believe that this is an issue with Tumblr's J/K functi

[2015-09-06 18:37] meiloslyther commented on #60
Thanks gloomykid, I think that might have done it. Mine's been working so far. (Also, I wasn't able to find any super long text posts immediately on my dash, but I found one reasonably long and it seems that Reblog As Text is not necessary anymore. It also appears that you can't change post types anyway.)

And yes, bvtsang, 2 is the problem I was having at least (1 isn't even applicable to me).

[2015-09-06 20:01] disturbedmurders opened #466 "Reblogging post clears out all but title"
So, I've come across a problem where I'll click reblog (not one-click reblog) and the post shows up fine. For example, an ask box meme. Add my tags, then click reblog. All fine. The problem is that I refresh my dash and find out that the entire body of the post got deleted. I've attached pictures to show what I mean. This seems to only happen with the Editable Reblogs extension.
![1](https://cloud

[2015-09-06 20:20] inklesspen commented on #60
I have experienced both problems 1 and 2. I have disabled, but not removed, Reblog as Text, and I am still experiencing problem 2.

[2015-09-06 20:22] gloomykid commented on #60
I only have problem number 2, which I described in my previous comments. And that number 2 issue with the K button is what I meant with the Reblog as Text.
I might be wrong but it works for me until now, I might still encounter a bug with the K button but I hope I fixed it.

[2015-09-06 23:21] #280 closed

[2015-09-07 11:40] gloomykid commented on #466
I can confirm that this has happened  to me as well.

[2015-09-08 00:53] #424 closed

[2015-09-08 01:14] coderpatsy commented on #60
I've always assumed the bug was due to Tumblr Savior and hadn't bothered to test.

[2015-09-08 02:48] blackjackkent commented on #255
Fixed by #345

[2015-09-08 02:48] #255 closed

[2015-09-08 04:11] Ceciliavonjoy commented on #466
This has also happened to me... multiple times. Disabling the 'Editable Reblogs' extension was the only thing that stopped it.

[2015-09-08 08:50] FluffyLee22 opened #472 ""Get Extensions" never loads"
Ive been sitting here for over 30 minutes, waiting for the tab to load the extensions so i can get back to posting. I had no problem with Firefox, but Chrome wont load. I have been sitting here for feels like forever for the thing to load the icons.
Is this a bug or my computer just full of crock?

[2015-09-08 10:29] Wolvan commented on #472
Make sure your chrome is updated. The current version is 45, but 44 also works

[2015-09-08 14:29] nightpool commented on #466
Can you provide examples of posts that exhibit this behavior when you
reblog them? Thanks!

@blackjackkent this seems to be related to blockquotes re: the image above?
We should try to figure out what blockquote combinations break tumblr and
check for them and try to fix them.

On Tue, Sep 8, 2015 at 12:11 AM Ceciliavonjoy <notifications@github.com>
wrote:

[2015-09-08 14:33] blackjackkent commented on #466
[sigh] Yeah, this is stemming from the fact that Tumblr forgot people might want to use blockquotes inside their posts and is parsing them funny as all hell.

I'll look further into this.

[2015-09-08 14:38] nightpool commented on #466
do dummy elements help?

On Tue, Sep 8, 2015 at 10:33 AM BlackjackKent <notifications@github.com>
wrote:

[2015-09-08 14:51] blackjackkent commented on #466
Might. I'm gonna have to investigate more closely what HTML is being produced by this particular scenario.

[2015-09-08 15:19] blackjackkent commented on #466
I'm having trouble reproducing this (using that post, with Editable reblogs enabled).

@disturbedmurders @gloomykid @Ceciliavonjoy can you go to Other -> Export Configuration -> Extension Info Export and give me your extension configuration? I'm wondering if two extensions are conflicting somehow.

[2015-09-08 16:11] citrusella commented on #466
I've been having this happen on a few occasions (but not necessarily on a consistent basis)... but weirdly enough, it doesn't happen if I have Old Stats enabled (whereupon it either acts normal or screws up in another way that's hard to explain (but I can try if you'd like me to)). It might just be coincidence that it didn't happen with Old Stats on, but I felt it worth mentioning.

If it helps, t

[2015-09-08 17:09] FluffyLee22 commented on #472
its all up to date.

[2015-09-08 17:13] Wolvan commented on #472
and it's still not working? Can you open https://new-xkit.github.io/XKit/Extensions/dist/page/gallery.json

[2015-09-08 17:15] FluffyLee22 commented on #472
yup and i get a page full of text... like legit text on the entire page.

[2015-09-08 17:16] Wolvan commented on #472
can you press Ctrl+Shift+J and then try open the extension gallery?

[2015-09-08 17:21] FluffyLee22 commented on #472
![untitled](https://cloud.githubusercontent.com/assets/14176523/9742084/fd4665c0-5612-11e5-9fa5-1db70ddae2da.png)
yeah i did the Ctrl+Shift+J thing and this is where it took me... if you wanted extensions i can get there from my google options thing on the right corner there...
do i need to be here? is there something missing im  not seeing or... do i need to be in the extensions setting.... im so

[2015-09-08 17:25] Wolvan commented on #472
No, you actually opened your downloads (Ctrl+J)
F12 should also be opening the developer console, you just have to click on the "Console" tab then

[2015-09-08 17:28] FluffyLee22 commented on #472
ok so i have that open now... im in "Console" .... and its blank.

[2015-09-08 17:32] Wolvan commented on #472
refresh the page and then open the extension gallery again

[2015-09-08 17:35] FluffyLee22 commented on #472
dude this litterally did nothing.... all i did was open a little box that is blank at the bottom of my browser and refresh my tumblr page... just to be sure i wasnt messing up i refreshed all of my pages... what did this do? Xkit is working on my Chrome, HOWEVER the "Get Extensions Gallery" just wont load. everything else works.

[2015-09-08 17:36] Wolvan commented on #472
The console is there to show some errors that might have happened in the background which we don't properly ctach in XKit.

[2015-09-08 17:38] FluffyLee22 commented on #472
WHOA HOLY... ok now im scared again. i opened the thing thinking it was for the browser so when it was blank i was confused but now im scared because i opened it on my tumblr page and ther are yellow and red codes all over and i dont know what im looking at

[2015-09-08 17:39] Wolvan commented on #472
Don't worry about that, just open the extension gallery and screenshot what you have in the console

[2015-09-08 17:41] FluffyLee22 commented on #472
![untitled](https://cloud.githubusercontent.com/assets/14176523/9742592/15b23528-5616-11e5-85e2-10a0a700aeeb.png)

[2015-09-08 17:51] FluffyLee22 commented on #472
is this what you needed?

[2015-09-08 17:53] Wolvan commented on #472
yeah. Can you give me the exact version of chrome and XKIt?

[2015-09-08 17:55] FluffyLee22 commented on #472
my chrome is Version 32.0.1700.102
and XKit is  7.7.0

[2015-09-08 17:57] Wolvan commented on #472
There is your problem, @FluffyLee22.

[2015-09-08 18:01] FluffyLee22 commented on #472
but it wont let me update... : I  should i just uninstall Chrome and reinstall it? like there is no option to get an update.

[2015-09-08 18:02] Wolvan commented on #472
try redownloading chrome, yes. Versions that old have trouble updating by themselves

[2015-09-08 18:03] FluffyLee22 commented on #472
ok... sorry for the hassle i REALLY dont know computers and i get frustrated when thrown into something like this and nobody helps.
ill just reinstall chrome and try new...

[2015-09-08 18:06] Wolvan commented on #472
If it doesn't work you can always come back here. If it works you can come back as well so we can close this issue, alright?

[2015-09-08 18:12] nightpool commented on #472
closing in favor of a new issue tracking warning old chrome users

[2015-09-08 18:12] #472 closed

[2015-09-08 22:48] kitsunegari101 opened #476 "AccessKit post text title font size doesn't increase"
I've noticed that as of late, the font size increase in AccessKit seems to be having issues; post text looks fine (as in after a page refresh it changes to the normal font) but post title text doesn't change at all, instead staying the same size as the post text itself. Only way I've found around it is to untick the box next to the font size increase box, but it's not any easier on my terrible eye

[2015-09-08 23:00] gloomykid commented on #466
@nightpool so these posts were an example:
http://k0k0mari.tumblr.com/post/117845983172/fluff-meme-cuddles-edition
http://k0k0mari.tumblr.com/post/128657453977/touch-meme
on some accounts i would reblog them with one click reblog + adding a tag, and everything is fine, but on some of my accounts it was just the title without the "description" part.
it was random which accounts would delete that to

[2015-09-08 23:02] 0xazure commented on #476
Closing as duplicate of #424, and this was fixed in #470.

Outdated extensions can usually be forced to update by navigating to the 'Other' tab in the XKit interface and clicking on 'Update all my extensions'.

[2015-09-08 23:24] Ceciliavonjoy commented on #466
https://gist.github.com/ba3c054cba193e770502 here's my extension
configuration

On Tue, Sep 8, 2015 at 10:19 AM, BlackjackKent <notifications@github.com>
wrote:

[2015-09-08 23:29] Ceciliavonjoy commented on #466
This one had an image erased: http://ceciliavonjoy.tumblr.com/post/128069830826/tiny-floating-rose
and this video had the caption erased: http://ceciliavonjoy.tumblr.com/post/128441243671
i reblogged them by opening them in another tab and tagging them

[2015-09-08 23:58] nightpool commented on #476
@kitsunegari101 If you're not seeing this fix, confirm that you're on XKit
7.7.0

if you're not, you can update here for firefox
<http://new-xkit-extension.tumblr.com/firefox> and here for chrome
<http://new-xkit-extension.tumblr.com/chrome>.

On Tue, Sep 8, 2015 at 7:02 PM 0xazure <notifications@github.com> wrote:

[2015-09-09 19:55] kitsunegari101 commented on #476
Currently on 7.7.0; no changes so far.

[2015-09-09 20:22] 0xazure commented on #476
@kitsunegari101 please verify that you are using AccessKit version `1.1.6`.  XKit extension versions can be seen by navigating to the 'My XKit' tab in the interface, scrolling to the extension (in this case, AccessKit), and inspecting the version number to the right of the extension name as seen below:

![capture](https://cloud.githubusercontent.com/assets/1041456/9773177/d6567ba6-570e-11e5-971d-7

[2015-09-09 20:37] 0xazure opened #478 "The Great Modularization Project"
This issue tracks progress for the effort to modularize XKit internals and extensions to follow the [CommonJS specification](http://wiki.commonjs.org/wiki/CommonJS).

/cc @blackjackkent

Related: #216, #427.

Refactor TODOs:

- [ ] core
  - [ ] xkit.js
  - [ ] XKit Installer
  - [ ] XKit Main
  - [ ] XKit Patches
  - [ ] XKit Preferences
  - [ ] XKit Updates
- [ ] extensions
  - [ ] AccessKit
  -

[2015-09-09 20:40] ThePsionic commented on #478
Really minor nitpick, not sure if even related: make sure extensions don't need to have a file name in parentheses suffixing them (aka rename the files to their extension names)

[2015-09-09 20:41] Wolvan commented on #478
Just stating the obvious again: We should have this run on a parallel branch

[2015-09-09 20:43] Wolvan commented on #478
You forgot to add bridge to the core checklist

[2015-09-09 20:59] 0xazure opened #479 "Depreciate Legacy Headers"
In conjunction with #478, I would propose the depreciation of [Legacy Headers](https://github.com/new-xkit/XKit/wiki/Legacy-Headers) in favour of proper programmatic export of these values.  In essence, we would change the existing comment block, like below:

[code]

and convert it into CommonJS module exports, for example:

[code]

[2015-09-09 21:01] Wolvan commented on #479
:+1:

[2015-09-09 21:45] bvtsang commented on #479
We'll also need to update the following wiki pages:

- https://github.com/new-xkit/XKit/wiki/Example-Extension
- https://github.com/new-xkit/XKit/wiki/Legacy-Headers
- https://github.com/new-xkit/XKit/wiki/Writing-a-New-Extension
- possibly others

[2015-09-09 22:01] Wolvan commented on #479
First we have to phase the old headers out, @bvtsang

[2015-09-09 22:09] bvtsang commented on #479
Right, I'm just mentioning the wiki pages because we'll need to make sure the deprecation of the headers is consistent with the information we have on the wikis. We don't want people getting conflicting information.

Also, mentioning the wiki stuff here helps us track it.

[2015-09-09 23:41] kitsunegari101 commented on #476
Definitely on 1.1.6; for now, I've disabled the font size increase until a fix is found (at least, for me).

[2015-09-09 23:50] 0xazure commented on #476
I'm not able to reproduce the issue.  You'd said

but post titles appear large even without AccessKit installed.  Could you attach a screenshot of the behaviour you're seeing and elaborate on what you're expecting to see?

[2015-09-10 04:16] #104 closed

[2015-09-10 04:27] Ceciliavonjoy commented on #466
Two more posts wiped of caption with this extension configuration:
https://gist.github.com/0d3022a31b2414996d80

On Tue, Sep 8, 2015 at 6:24 PM, Emily Kampen <emirozu13@gmail.com> wrote:

[2015-09-10 05:08] kitsunegari101 commented on #476
Knew I'd forgotten something in the OP; thanks for the reminder.

Here's the post title text with font size increase turned off:

![size increase off](https://cloud.githubusercontent.com/assets/14188767/9780547/f8a4de82-574f-11e5-8593-0344c71bae87.png)

And here it is with it turned on:

![size increase on](https://cloud.githubusercontent.com/assets/14188767/9780552/05682296-5750-11e5-92fb-d0ab572

[2015-09-10 06:32] blackjackkent commented on #476
Damn... I guess post titles in the new reblog layout are differently styled. I'll look at this tomorrow. Reopening the issue and claiming.

[2015-09-10 12:23] ThePsionic opened #481 "Prevent XKit activating on *.media.tumblr.com"
Otherwise things like these happen:
![a](http://i.imgur.com/BCuQR4h.png)

[2015-09-10 14:39] blackjackkent commented on #476
Turned out my previous fix actually bugged titles. So this one's my fault. Fix in #482 should solve it.

[2015-09-10 14:50] #476 closed

[2015-09-10 15:03] 0xazure opened #483 "Deprecate XKit.console"
`XKit.console` is a mess and really isn't all that useful to us for debugging.  It should be deprecated in favour of native `console.log` where absolutely necessary.

[2015-09-10 15:06] 0xazure opened #484 "Remove XKit Packs"
Immediately after release, XKit Packs were disabled.

This is effectively dead code that should be removed from the codebase.

Announcement links:
- http://xkit-extension.tumblr.com/post/86541896872/1-xkit-packs-historically-developing-for-xkit
- http://xkit-extension.tumblr.com/post/86585386917/xkit-packs-part-ii

Wiki links:
- https://github.com/new-xkit/XKit/wiki/XKit-Packs

Related: #178.

[2015-09-10 15:16] nightpool commented on #484
80% sure this is a dupe of another issue... let me check

On Thu, Sep 10, 2015 at 11:06 AM 0xazure <notifications@github.com> wrote:

[2015-09-10 15:31] Wolvan commented on #484
If we remove packs, we have to remove code in both ``xkit_patches`` and ``xkit_updates``

[2015-09-10 16:31] blackjackkent commented on #484
Started poking at this; seems pretty straightforward (assuming this is in fact already completely unused). Need to do further testing though.

[2015-09-10 16:50] rafflesiazero commented on #411
Here we go, this just happened a few minutes ago, but now I'm able to connect to Tumblr.

http://puu.sh/k6zcA/83fb824db1.png

[2015-09-10 17:04] 0xazure opened #485 "gulp compress:firefox silently swallows jpm errors"
Ran into this when unrelatedly debugging output from [mozilla/amo-validator](https://github.com/mozilla/amo-validator).

Running `jpm xpi` manually produced errors, but these errors were not bubbled up in the `gulp` task, nor did it cause the build task to fail as expected.

Should probably be an easy fix in [how we deal with errors from `childProcess.exec`](https://github.com/new-xkit/XKit/blob/2

[2015-09-10 17:13] 0xazure commented on #411
From your screenshot, I notice that you're trying to run XKit on Pale Moon.  Note that we do not officially support Pale Moon, or anything other than latest Chrome or Firefox releases, at the current time.

A member of the community [has provided Pale Moon installation instructions](http://new-xkit-extension.tumblr.com/post/127647956059/new-xkit-on-pale-moon-kludge), but we do not officially suppo

[2015-09-10 17:13] #411 closed

[2015-09-10 17:31] 0xazure opened #487 "Create CONTRIBUTING.md"
Adding a `CONTRIBUTING.md` file to the project will cause GitHub to add a link to it when users create issues / PRs through the web UI.

We should include some standard info, as well as create an issue template by abusing form parameters like so:

https://github.com/new-xkit/XKit/issues/new?body=**Operating%20System**:%0A**Browser%20and%20Version**:%0A

We should also use the issue template string

[2015-09-10 17:34] bvtsang commented on #456
This issue is closed as a duplicate of #459, which has actual steps to reproduce. I know this issue number is lower than the other, but I thought I'd include the actual reason in case anyone looking at this bug was wondering why it was closed.

[2015-09-10 17:54] nightpool commented on #411
Also, its not just the screenshot—this is a browser/computer/network level
bug. If you can't load Tumblr, then xkit just won't work. simple as that.

On Thu, Sep 10, 2015 at 1:13 PM 0xazure <notifications@github.com> wrote:

[2015-09-10 20:38] kitsunegari101 commented on #476
Still having the same issue, but I think it might just be my browser screwing up. :/

[2015-09-10 20:41] blackjackkent commented on #476
Can you verify that you've moved to a new version of AccessKit?

[2015-09-10 20:50] #484 closed

[2015-09-10 21:08] Ceciliavonjoy commented on #466
http://ceciliavonjoy.tumblr.com/post/128798388046 this post wiped of
caption with this extension configuration:
https://gist.github.com/fc184e13ef02d09e811e

http://ceciliavonjoy.tumblr.com/post/128798814911/slipstreamborne-tilthendoftheline-youre
post is supposed to look like this

On Wed, Sep 9, 2015 at 11:27 PM, Emily Kampen <emirozu13@gmail.com> wrote:

[2015-09-10 21:16] Ceciliavonjoy commented on #466
Three more image posts with captions erased, this extension config: https://gist.github.com/ebf0568ddbeba3c71b2e

[2015-09-11 20:10] blackjackkent commented on #459
Are servant's conditions ANDs or ORs? Cos if they're ors, then this is expected behavior, no?

[2015-09-11 23:11] laurajax opened #490 "Make tags editable in a plain-text format (Possibly through QuickTags?)"
The way tags work is terrible. If you make a typo, or put the tags in the wrong order, you have to delete and retype the whole thing for almost no reason at all.

If changing/overwriting Tumblr's New/Edit Post tag section is too difficult, I think it would work very well through the QuickTags interface. QuickTags already has the option to overwrite a post's tags, so I think the only code that woul

[2015-09-13 08:17] ShareNoMimosa opened #491 "Replyviewer and Tagviewer icons not available in sideview"
after the new update, when clicking on a note from the activity page it loads multiple posts from that user's blog instead of just the post's permalink like it used to so you can't use the replyviewer or tagviewer extensions from that sideview

[2015-09-13 17:13] GrimmAx commented on #100
https://gist.github.com/13c1a52c5ab1307e7a7f

[2015-09-13 17:18] GrimmAx commented on #100
Still getting the same problem here, I'm afraid

[2015-09-13 21:03] GrimmAx opened #492 "Double posts"
![refpic](https://cloud.githubusercontent.com/assets/14262640/9838971/7d0ce322-5a39-11e5-8707-cc6d771004cd.png)
Uninstalled and reinstalled XKit only to find that the issue is still happening. Any suggestions on how to fix it?

[2015-09-14 01:51] finagle29 opened #493 "Chrome's GM_listValues looks in the wrong place"
as noted by @nightpool in [xkit_patches.js#L228](https://github.com/new-xkit/XKit/blob/master/Extensions/xkit_patches.js#L228), chrome's `GM_listValues()` doesn't work; it looks in `window.localStorage` which is empty unless you have Retags.  This causes the check on line 228 to go awry and the full config dump is empty.

[2015-09-14 01:53] finagle29 commented on #493
A long term fix would include some changes to the Chrome bridge, I have a fix ready if we decide to do this.
A short term fix would probably just be changing `if(values.length === 0)` to `if(XKit.browser().chrome)`.

[2015-09-14 09:21] ThePsionic commented on #492
Closing as a duplicate of #100.

[2015-09-14 09:21] #492 closed

[2015-09-14 17:11] 0xazure commented on #487
Maybe include some resources links like we've done on [Pull Requests](https://github.com/new-xkit/XKit/wiki/Pull-Requests)

- http://chris.beams.io/posts/git-commit/

[2015-09-15 02:52] citrusella opened #497 "Strange blockquote issue with editable reblogs"
So... I've been having a slightly inconsistent issue with editable reblogs.

Sometimes (usually with longer posts), when I try to trim blockquotes, this happens:

http://citrusella-flugpucker.tumblr.com/private/129116873953/tumblr_nulouqAOTe1rl47k3 (The top set of blockquotes is what I was reblogging before the trim; it appears in the new look when viewed on the dash; the second set of quotes is w

[2015-09-15 06:38] citrusella commented on #497
Update: Also happens occasionally when *not* trimming the post. (Just had it happen on the same post that demonstrated the problem above, when I was not trimming it.) Does not happen with Editable Reblogs turned off.

[2015-09-15 11:13] realityfabric opened #498 "Relative Time bug in Alternative Timestamps"
Possibly the same bug as in https://github.com/new-xkit/XKit/issues/116

My computer system time is set to Pacific Time (-7:00), but I have my blog set to Islamabad (+5:00) for irrelevant reasons
When my blog is set to:
-7:00:      2015-09-15 03:55 :: 15 minutes ago
+5:00:     2015-09-15 15:55 :: in 12 hours
+4:00:     2015-09-15 14:55 :: in 11 hours

This leads me to believe that the timestamp it

[2015-09-15 12:54] ThePsionic commented on #498
I have a feeling that https://github.com/new-xkit/XKit/blob/master/Extensions/timestamps.js#L262 and https://github.com/new-xkit/XKit/blob/master/Extensions/timestamps.js#L322 don't work nicely together, creating this issue. Needs further investigation.

[2015-09-15 14:23] nightpool commented on #497
Can you link some posts where reblogging them triggers this behavior?
thanks!

On Tue, Sep 15, 2015 at 2:38 AM citrusella <notifications@github.com> wrote:

[2015-09-15 14:27] nightpool commented on #498
yeah this is def a dupe of #116, thanks. We initially assumed that tumblr would always serve EST timezones, but it turns out that tumblr serves times based on the blog timezone, but without timezone information alol.

[2015-09-15 14:27] #498 closed

[2015-09-15 19:16] citrusella commented on #497
This post does it: http://smourice-toastygraham.tumblr.com/post/129038974542/game-day-open

As does this one: http://ask-luminousgumbettino.tumblr.com/post/129057860308/zombie-apocalypse

I should probably examine non-RP posts that do it (in case others would test it by reblogging, since it tends to come across as weird to reblog a roleplay if you're not in it); I don't have any posts that aren't

[2015-09-15 21:24] #459 closed

[2015-09-15 21:34] 0xazure opened #500 "Enable sharing Servant snippets"
There should be a way to export/import and share Servant snippets similar to importing/exporting lists from Blacklist.

[2015-09-15 21:35] blackjackkent commented on #500
I'll work on this.

[2015-09-15 22:15] ThePsionic commented on #460
Starting work on this.

[2015-09-15 22:22] Wolvan opened #501 "Saving JSON Object in the XKit Editor"
That's been something that has been bugging me for some time when I tried importing custom extensions. Instead of just being able to copy the JSON string of the custom extension and pasting it in the editor, you have to manually go through adding stylesheet, script and icon since the JSON strings gets overwritten by the other tabs

[2015-09-16 00:29] nightpool commented on #497
Don't worry we have private accounts we use to test this sort of thing haha
any kind of posts are fine.

On Tue, Sep 15, 2015 at 3:16 PM citrusella <notifications@github.com> wrote:

[2015-09-16 00:31] #451 closed

[2015-09-16 00:39] nightpool commented on #497
Hmm. I was able to reblog and trim the post just fine....

@blackjackkent what are the common failure modes you know of for
reblog-parsing? Is it something we can reasonably check for and warn the
user?

On Mon, Sep 14, 2015 at 10:52 PM citrusella <notifications@github.com>
wrote:

[2015-09-16 03:51] bonme commented on #491
^^ having the same issue

[2015-09-16 18:51] blackjackkent opened #502 "Editable Reblogs posts hidden on dash"
Steps to reproduce:

1. With Editable Reblogs enabled, reblog http://hannahraewu.tumblr.com/post/129223604000/thats-not-possible (into drafts, since it is a public user post)
2. View post in drafts
3. Observe that only post title is displayed.

Some digging has revealed that Tumblr's reblog parsing is now looking for `class='tumblr_blog'` (with SINGLE QUOTES ONLY) in the blog URL attached to each

[2015-09-17 03:27] #502 closed

[2015-09-17 04:00] #453 closed

[2015-09-17 13:11] emmonja commented on #497
Hi. I've been having the same issue. It doesn't happen to every post but it does happen to many long ones, and it's not just a dashboard issue. It shows up on my blog like that too. The problem is exactly the same as the one described above. I've tried trimming the post and the same issue occurs.

http://foxfireflamequeen.tumblr.com/post/129274614498/what-was-it-like-to-be-a-female-star-trek-fan-i

[2015-09-17 19:44] kitsunegari101 opened #505 "disappearing post titles"
I'm guessing this might be an issue with either Tumblr code conflicting with something or a bug in Editable Reblogs, but sometimes post titles just disappear, but show up when I go to edit the post.

on dash:
![no title 1](https://cloud.githubusercontent.com/assets/14188767/9944038/820b03d6-5d4a-11e5-815e-fa40e46efe46.png)

in post editor:
![no title 2](https://cloud.githubusercontent.com/assets/1

[2015-09-17 20:26] nightpool commented on #505
Can you link a post where this happens? Thanks!

[2015-09-17 21:27] laurajax commented on #491
The icons also do not appear in the sidebar for me.

I don't think it's related to loading multiple posts though; the sidebar loads just one for me and the icons still don't appear.
@k11mamaes As for you loading multiple posts in the sidebar, it might be related to the fact that tumblr staff took out the "see more posts from this blog" button in the sidebar and instead uses the site's "infinite sc

[2015-09-17 22:24] prince-vince commented on #491
I'm having the same problem as @laurajax

[2015-09-18 00:49] dlmarquis commented on #60
Has anyone (@bvtsang? @hobinjk?) tried looking at the K buffer to see if it breaks on loading a new infiniscroll page? I'll make an attempt but I dunno how well it will work from mobile.

[2015-09-18 02:02] rimbaum opened #507 "Readmores converting to hr lines with editable reblogs enabled"
[This post] (http://txmekeeper.tumblr.com/post/129317891468/txmekeeper-txmekeeper-test-post-keep) is an example of what I've been getting when I try to insert a readmore into a post with xinbox enabled. My extension configuration export is [here] (https://gist.github.com/anonymous/601c3893bd5ac1ddbef1), and there's a screenshot helpfully provided by @blackjackkent of the offending post on the dash

[2015-09-18 02:35] citrusella commented on #497
Possibly-relevant detail: Sometimes when trimming, after I trim I'll attempt to use the arrow keys (as opposed to the mouse) to navigate to the end of the post... and it just won't go (usually when I end up with a blank line above the text in the most "inner" blockquote). I can click into other lines, but the arrow, within that line, just after trimming, won't always go. Might be just be a useless

[2015-09-18 06:39] invalidCards opened #509 "Retain selected blog through reblogs in OCP"
From the support Gitter. Add the ability to keep the currently selected blog (not the default blog) through reblogs.

Example:
1. Set the blog in OCP from the default blog to a sideblog.
2. Expected: When opening the OCP interface again, the sideblog is still selected.
3. Current: When opening the OCP interface again, the default blog is selected.

Perhaps a toggle option.

[2015-09-18 06:47] ThePsionic opened #510 "Add "more info" button to extensions in gallery"
Similarly to the "more info" button when an extension is installed, add this to the gallery as well in order to let people know what something does before they install it.

[2015-09-18 15:51] selloutoftheshield commented on #507
![capture](https://cloud.githubusercontent.com/assets/14349960/9963920/9643e1c2-5dfb-11e5-9aa0-dcb80910f448.PNG)
That's what mine looks like

[2015-09-18 15:54] selloutoftheshield opened #512 "I post a "Read more" on firefox it won't show it"
![capture](https://cloud.githubusercontent.com/assets/14349960/9964011/002e3448-5dfc-11e5-8afe-591683cf22ae.PNG)
That's what the "Read more" looks like

[2015-09-18 17:43] AuraSweet opened #514 "Posts look weird."
![why](https://cloud.githubusercontent.com/assets/14351360/9966485/737b815a-5dfa-11e5-8d94-8b2efd9c275a.png)
This only happens when I have text above, or below, not when I have both. It looks really weird, and it looks even worse on my blog. Worst yet, I can't get rid of it when I go back to edit the post.

[2015-09-18 17:44] Wolvan opened #515 "Chat post gives "Invalid Editor Type""
http://prntscr.com/8hseig
This is the user's gist: https://gist.github.com/anonymous/c325144bd42e17ddedc2
Already went through most of our common trouble shooting, couldn't track down the issue. Can't reproduce locally either
It only seems to happen on creating or reblogging a chat post though

[2015-09-18 17:57] AuraSweet commented on #514
I just disabled Editable Reblogs to check if that was what was wrong, and it is. Because once I disabled editable reblogs they looked normal.

[2015-09-18 18:25] nightpool commented on #514
creating/editing them looked normal, or did they just look normal automatically?

[2015-09-18 19:33] nightpool commented on #515
this is a regression introduced by #504 and specifically, not bailing out of running on a post_window when the post doesn't have a reblog_tree.

we should check if the html editor is a thing and bail out at the top of that function

[2015-09-18 19:34] nightpool commented on #515
@Wolvan just as an FYI—issues should not have both the "bug" and "unconfirmed" labels at the same time.

either something is a bug, or its an unconfirmed problem people are having. until we can confirm it, it isn't a "bug" yet.

[2015-09-18 19:37] Wolvan commented on #515
@nightpool ah ok. I thought unconfirmed was like couldn't reproduce

[2015-09-18 20:59] AuraSweet commented on #514
Creating them.

[2015-09-19 01:00] blackjackkent commented on #512
Closing as dupe of #507

[2015-09-19 01:00] #512 closed

[2015-09-19 01:34] anakhasilver commented on #514
I can confirm this is a thing that happens when creating posts. If you edit them, they seem to fix themselves if this is the same issue I had, and I believe it is.

[2015-09-19 02:12] k11mamaes commented on #491
@laurajax yeah i checked again.  it loads the post and infinite scrolling loads posts to fill any space below if you scroll down.  but yes no icons.

i looked at the html a little.  when posts are loaded in the sideview, the post controls (reblog, like, etc) are contained within a div with class "post_controls".  however, when posts are loaded on the dashboard, within the "post_controls" div, ther

[2015-09-19 03:40] ShareNoMimosa commented on #491
i just looked at the code, it is in fact a problem with the different class names, but that problem is originating within the XKit.interface.add_control_button function.  ill see what i can do

[2015-09-19 13:41] nightpool commented on #515
It is, but we just set it up this way to make the filters work better.
Unconfirmed is "can't reproduce", Bug is "can reproduce".
On Fri, Sep 18, 2015 at 3:37 PM Wolvan <notifications@github.com> wrote:

[2015-09-19 13:52] Wolvan commented on #515
gotcha

[2015-09-19 15:28] coderpatsy opened #516 "Misaligned wrapped tags with Shorten Posts"
![tags](https://cloud.githubusercontent.com/assets/13140934/9976829/363fde18-5ead-11e5-9baa-925d346912bd.png)

Not sure if just happens on video posts, but if you have a post with enough/long enough tags to get the draggable class then css specifity rears its head. .post_tags.draggable overrides Shorten Posts' css and sticks a left margin on there. I'm not sure how best to fix it. I know throwing

[2015-09-19 18:58] devmackie commented on #450
I submitted this Ask. More info: The greasemonkey script available from http://lx.tumblr.com/post/86030948950/retags works. So I uninstalled the XKit version and used that instead.

[2015-09-19 18:59] Wolvan commented on #450
@devmackie I think someone of our team is working on a fix for retags and tagviewer right now

[2015-09-20 00:26] 0xazure opened #517 "Don't automatically hide installed extensions from Gallery view"
Currently,  extensions that are already installed get hidden from the extensions list in the Gallery.

Instead, the Gallery should display the entire list of extensions but extensions that have already been installed should be marked as such and the "install" button should be disabled.

There should also be an option flag somewhere that allows users to hide installed extensions from the gallery vi

[2015-09-20 00:31] Wolvan commented on #517
I am curious, why should the extensions stay visible?

[2015-09-20 00:34] 0xazure commented on #517
Partially related to issues [like this](http://fastcst.tumblr.com/post/129453604167/my-xkit-came-back-but-there-are-loaves-of-bread), where people forget which extensions they have installed and there's no good way, currently, to see a list of what you have and have not installed.

I've actually been tripped up by this in the past when testing extension fixes; I forget what's installed or not, and

[2015-09-20 00:39] Wolvan commented on #517
Alright, I get your point. If you want I can look into this tomorrow

[2015-09-20 03:09] anakhasilver commented on #507
I can confirm Read Mores are messing up.

[2015-09-20 03:12] kitsunegari101 commented on #505
Sorry for taking so long to reply! [Here's](http://rpmemesupreme.tumblr.com/post/126489364103) a post where it happens, and [here's](https://gist.github.com/255ac54783dc94ee8a74) my extension configuration.

[2015-09-20 03:13] VixenArgentum opened #519 "Read more not showing up when using Editable Reblogs"
Whenever I have the Editable Reblogs extension enabled, I cannot insert a functioning read more break.  When I post it, it shows a little line where the read more should be, and then posts all of the content I wished hidden below it.  It looks like this:
![noreadmore](https://cloud.githubusercontent.com/assets/14366729/9979067/b8b460c8-5f0a-11e5-84c7-ad728a4a1d14.png)

[2015-09-20 03:46] dlmarquis commented on #490
I second this. I'll look into it.

[2015-09-20 06:48] dlmarquis commented on #519
Are you sure this is editable reblogs? I can't reproduce this, but I don't have Better Reblogs installed and it looks like you do. Does it also get fixed when you disable Better Reblogs (or whatever you're using to bring back nested reblogs)?

[2015-09-20 08:01] dlmarquis commented on #517
As a sidenote: make sure core extensions are still hidden unless the user has flipped the viewable switch.

[2015-09-20 08:04] dlmarquis commented on #454
Is this still true after all the updates (we and) Tumblr pushed?

[2015-09-20 09:37] artist-chan commented on #507
i have the same issue:

![readless](https://cloud.githubusercontent.com/assets/14369115/9980094/ed5aff7c-5f8b-11e5-8ed4-1930c0bab432.png)

[2015-09-20 13:14] Wolvan commented on #517
@dlmarquis Will do!

[2015-09-20 13:49] gloomykid commented on #507
can confirm that too, it's a mess for RPers who need read mores...

[2015-09-20 15:57] paradox0s commented on #519
Actually as far as I can tell this is caused by the Stylish extension, "Classic Editor". When I disabled that read mores started working for me again.

[2015-09-20 16:00] Dhwty commented on #519
I'm using 'Classic Editor', and I can't reproduce this problem.

[2015-09-20 16:10] VixenArgentum commented on #519
I've been able to get it to work again.  I did have the extension FixMyPosts enabled, and now that I've got that shut off, Editable Reblogs is working for me again.

[2015-09-20 16:10] #519 closed

[2015-09-20 18:12] 0xazure commented on #485
Turns out it's not actually a problem with what we're doing.  `jpm xpi` will [never exit with anything other than `0`](https://github.com/mozilla-jetpack/jpm/blob/206e8989fe4b4c40c7e919488e9fe950e0f5be6b/bin/jpm#L48-L55).

Internally, `jpm xpi` [correctly rejects a promise](https://github.com/mozilla-jetpack/jpm/blob/a0f27fd1978c94a0bb3024cee84f4fb5075c9fbd/lib/validate.js#L19) if the validation s

[2015-09-20 18:12] #485 closed

[2015-09-20 19:44] Wolvan commented on #517
![image](https://cloud.githubusercontent.com/assets/1437010/9982555/b1fb634a-5fe0-11e5-9b8a-ccbc7f9526ce.png)
Which design would be better?

[2015-09-20 20:03] Dhwty commented on #517
The left is much more readable. On the right, you're running into contrast problems which can keep users with visual difficulties from figuring out which extension that is. ('Sure, I installed it at some point, but WHAT IS THAT?') I can say that because I'm having some difficulty reading it.

[2015-09-20 20:08] 0xazure commented on #517
:+1: for the left design.  I've never liked the full-tile state change, it was just less noticeable before because as soon as you clicked away from the Gallery it would hide the tile.

[2015-09-20 21:28] Wolvan commented on #510
Just found out that this is actually a part of ``xkit_preferences`` (See https://github.com/new-xkit/XKit/blob/master/Extensions/xkit_preferences.js#L1091-L1093) already, we just have to add a details field to each extension in the gallery.json

[2015-09-20 21:43] #510 closed

[2015-09-20 21:50] ThePsionic commented on #460
Ergh, unclaiming. I can't figure out for the life of me why TipTip does what it does.

[2015-09-20 21:59] AuraSweet opened #523 "Editable Reblogs fails when images inserted into posts"
Whenever I go to input a gif, and then try to put text under it, the text goes away completely. Then when I edit it, the text is still gone.

[2015-09-20 22:07] AuraSweet commented on #523
And I also can't reach anybody on Xkit support.

[2015-09-21 02:54] blackjackkent commented on #523
I'm looking into this now -- we've had a couple of reports of it and I think I've located the root cause with a brute force fix. I'll be putting together something better tomorrow hopefully.

[2015-09-21 04:32] Shi9k opened #525 "Auto Tagger function to keep the original tags misses the first letter of each tag on posts from tumblr.com/search"
The issue seems to happen only when reblogging directly from search results.

This is an example of a search result:
![001-search-example](https://cloud.githubusercontent.com/assets/7720037/9985543/34350a82-6004-11e5-81a0-98f1dbc6c470.png)

As can be seen in the pop-up, each tag loses its first letter:
![002-search-example-quick-tags](https://cloud.githubusercontent.com/assets/7720037/9985563/71d5

[2015-09-21 08:43] ThePsionic opened #527 "Reblogging photosets changes URL"
From the support Gitter.

This person was queueing photos and photosets, only to find out that the original poster's url was changed to his own.

Original post: ![a](https://www.filepicker.io/api/file/vt4TPoqNSESW1pgdRPhB)

After queueing: ![a](https://www.filepicker.io/api/file/bEbDJZNWQ6umGZWSTtg2)

Extension dump: https://gist.github.com/anonymous/74818de2c1feff00557c

[2015-09-21 08:48] ThePsionic commented on #516
It seems to happen randomly, but I can confirm that this happens.

[2015-09-21 08:53] dlmarquis commented on #507
This isn't related to xinbox, but is likely related to the editor-specific routines added recently by @blackjackkent. This post: http://new-xkit-support.tumblr.com/post/129557893718/hello-loves-we-seem-to-be-experiencing-an-issue covers the details.

[2015-09-21 14:26] nightpool commented on #346
This bug is super old

[2015-09-21 14:26] #346 closed

[2015-09-21 21:40] 0xazure opened #529 "Migrate linting tools to ESLint"
We're currently using both [JSHint](https://github.com/jshint/jshint) and [JSCS](https://github.com/jscs-dev/node-jscs) to lint our Javascript files to check linting and enforce code style (which we're not doing too much of as of yet, see #209).  Migrating to ESLint would both reduce the number of tools we use, as well as reduce linting time as JSHint and JSCS need to both independently read and p

[2015-09-22 02:01] citrusella opened #530 "Problem with Post Block on search pages"
I don't know how much maintenance you guys do on Atesh's extensions, but blocking a post via Post Block on a search page blocks the entire search, at least for me. Not sure how fixable it is but it seems like a really broken thing. :-/

[2015-09-22 16:25] Wolvan opened #531 "XKit.tools.get_settings and XKit.tools.set_settings only accept strings"
It's impossible to store a number or a boolean value using get_settings and set_settings, which seems to be a problem with the way Firefox stores settings. Chrome should be able to store other data types but for compatibility's sake @atesh chose string only storage

[2015-09-22 19:20] ThePsionic commented on #531
The only reason I can see this happening is because `GM_setvalue` and `GM_getvalue` in `Firefox\data\bridge.js` automatically parse any value to a string.

[2015-09-22 19:47] gloomykid commented on #466
i wanted to add up that there are several text posts like this one:
http://tsujikun.tumblr.com/post/129656093967/its-time-you-knew-the-truth
where everything gets cleared up after reblogging (mostly when i add a @ user name on the end). if i edit the post and save it again, the post is back to normal.

i really dont know whats going on anymore...

[2015-09-22 19:50] gloomykid commented on #225
no one really replied on this one for a month now (hah) but i experienced this issue:
if the box "open in new tab instead of blog sidebar" is checked, it will open two tabs instead of one. if its unchecked, its not as bad. though mostly there were interferences with sidebars and xinbox, afaik.
i had to disable this extention in order to use tumblr properly, so a check-up/re-do would be appreciated

[2015-09-22 21:29] Wolvan commented on #531
This is exactly what I meant with

I want to update the bridge to JSON.stringify and JSON.parse the settings

[2015-09-22 21:42] ThePsionic commented on #531
Ah yes, [I see what you mean now](https://developer.mozilla.org/en-US/docs/Web/API/Storage). I thought it was a silly little thing enforced by Firefox.

[2015-09-23 11:40] gloomykid commented on #185
I also wanted to add up (even if this is old a/f) that the read mores do not work at all in drafts/private/queue mode. only on the dashboard...
which is a little pesky for RPers who draft threads and want to read them again later...
I hope this can get a fix too?!

[2015-09-23 12:54] nightpool commented on #185
@gloomykid Can you make a different issue? thanks!

(is this only with editable reblogs enabled? If so, then we're aware of that issue and are working on it as fast as we can, although you may also experiencing #519—check to see if you have FixMyPosts enabled, and disable it if possible)

[2015-09-23 19:42] xsethxchickx opened #532 "How do you unreverse this?"
![4](https://cloud.githubusercontent.com/assets/14810602/10056514/9f7380b0-6209-11e5-9b9c-248f15e13bfc.PNG)
I clicked on something before tumblr did all its stuff and now I can't remember what I did to unreverse it, I use Chrome.

[2015-09-24 14:43] nightpool commented on #507
reopening because according to @blackjackkent this still happens if you have multiple readmores in the same thread.

[2015-09-24 18:37] noelnotnole opened #534 "Unable to start new line when pressing Enter"
There is a running issue with being unable to press enter to start a new line when making a post. People are able to do shift+enter but unable to press enter alone to do so.

[2015-09-24 18:37] #534 closed

[2015-09-24 19:08] selloutoftheshield opened #535 "Enter key no longer works"
You have to push shift + enter to get a new line now.

[2015-09-24 19:12] #535 closed

[2015-09-24 20:08] selloutoftheshield opened #536 "Easy reblog/draft/queue doesn't work for Firefox"
![1](https://cloud.githubusercontent.com/assets/14349960/10085276/465ca8da-62d6-11e5-84b7-58a1a5087442.PNG)
![capture](https://cloud.githubusercontent.com/assets/14349960/10085277/465d5ee2-62d6-11e5-9cf6-cc21994b27cc.PNG)
This is what I get when I try to do it the fast & easy way to draft/queue stuff.

[2015-09-24 20:10] nightpool commented on #535
tumblr-wide bug, not xkit's fault, got fixed within the hour.

[2015-09-24 20:10] nightpool commented on #534
tumblr-wide bug, not xkit's fault, got fixed within the hour.

dupe of #535

[2015-09-24 21:00] nightpool commented on #536
How long has this been broken for?
On Thu, Sep 24, 2015 at 4:08 PM selloutoftheshield <notifications@github.com>
wrote:

[2015-09-24 21:03] selloutoftheshield commented on #536
Ever since I had xkit on firefox, I tried telling the original xkit makers but nothing seemed to happen.

[2015-09-24 21:07] nightpool commented on #536
Okay that seems to be pretty isolated then, because one click reblog works
for everyone else on Firefox

Can you screenshot and post your exact Firefox and XKit versions?
On Thu, Sep 24, 2015 at 5:03 PM selloutoftheshield <notifications@github.com>
wrote:

[2015-09-24 21:08] gloomykid commented on #185
@nightpool sorry for not opening a new issue! And yes I'm experiencing both, I'll see about the FixMyPosts thing, I wasn't even aware this was a thing. Thanks!

[2015-09-24 21:13] gloomykid opened #537 "Read More Now not working outside of Dashboard"
I've mentioned this in another Read More thread, but I've been advised to open a new issue:
When being on drafts, private mode or queues etc., opening the Read More Now link does not work and only re-directs me to the blog with the read more (which is the basic tumblr feature without XKit).

Though, I'd like to add, that using drafts is something necessary for RPers. Therefore it'd be nice to make

[2015-09-24 21:20] Zarggg commented on #536
Are you absolutely certain you have not exceeded the daily post limit? I know from past experience that you can't even save drafts or queue for later once you hit it.

[2015-09-24 21:22] selloutoftheshield commented on #536
Nightpool: What do you mean by that?
Zarggg: It does that every time I try to one click reblog/queue/draft stuff

[2015-09-24 21:36] selloutoftheshield commented on #536
![2](https://cloud.githubusercontent.com/assets/14349960/10087576/a9dc3798-62e2-11e5-86f3-a115abaeb67d.PNG)
![3](https://cloud.githubusercontent.com/assets/14349960/10087578/a9e71406-62e2-11e5-8579-96830b67457b.PNG)
![1](https://cloud.githubusercontent.com/assets/14349960/10087577/a9e4974e-62e2-11e5-93ed-9b0bae90f9f3.PNG)
And yes I can still post, because when I first get on, every time I try that

[2015-09-24 22:58] nightpool commented on #537
Ah, this is for drafts. Hmm I don't know if this is going to be trivially
possible for us. We'll probably have to structure things differently on the
backend to allow it access to private posts.

may be a bit of a challenge.

On Thu, Sep 24, 2015 at 5:13 PM gloomykid <notifications@github.com> wrote:

[2015-09-24 23:00] nightpool commented on #185
@gloomykid I misread your comment—there's be a bug with some subset of editable reblog users that breaks *creating* read mores. (not read more now buttons—they can't create any read mores at all, it just shows up as [[MORE]] and the rest of the text rather then the keep reading link)

I assumed you were talking about that issue. I've left a comment on the new issue with more thoughts.

[2015-09-25 01:18] dlmarquis commented on #454
Okay, some bizzareness I've found: the reblogged reply looks bugged out on the dash (with and without Reblog Display Options), but looks fine on individual blogs. So the html isn't getting eaten, but won't display anyway.

Are you sure this is related to Editable Reblogs, @nightpool?

[2015-09-25 01:22] dlmarquis commented on #432
Okay, I think this and #454 are dupes of eachother. I left a note there about display weirdness I was experiencing. How are blockquotes parsed now that OCR breaks? Since I'm assuming blockquotes still work in general.

[2015-09-25 01:26] dlmarquis commented on #384
I'm fairly certain we fixed this in an update forever ago. Closing until someone can reproduce in ER 2.1.3+

[2015-09-25 01:26] #384 closed

[2015-09-25 03:12] nightpool commented on #454
@dlmarquis hmm I guess I've just been thinking about it as "in that problem
area" rather then being an actual ER bug.

On Thu, Sep 24, 2015 at 9:18 PM dlmarquis <notifications@github.com> wrote:

[2015-09-25 03:12] nightpool commented on #432
yep cosign dupe of #454

On Thu, Sep 24, 2015 at 9:23 PM dlmarquis <notifications@github.com> wrote:

[2015-09-25 07:22] ShareNoMimosa opened #538 "Editable Reblogs Error Message on New Chat Post"
When creating a NEW chat post, the following error message pops up.  And it only occurs for the chat type, all other types function correctly.  Also my editor is already set to rich text.

![screen shot 2015-09-25 at 12 17 38 am](https://cloud.githubusercontent.com/assets/8609540/10095013/321f79de-631b-11e5-8789-ea0dd44c3051.png)

[2015-09-25 14:10] gloomykid commented on #537
I just observed this issue on private posts too, but if that isn't possible, that is okay. I think more people would be happy about the Read More Button working for Drafts.
As far as I know, the old XKit Read More worked on drafts. So, I'm not sure if you could compare the HTMLs from the old and new one? Just a thought...

[2015-09-25 23:13] 0xazure commented on #531
Both Firefox and Safari use HTML5 `localStorage`, which _only_ supports strings.  Google Chrome has its own API built on top of `localStorage` that allows storage of JSON, including ints/floats/bools/etc.

Any changes we make need to be compatible across all of the storage methods.

[2015-09-26 04:16] finagle29 opened #540 "Classic Search runs on blog pages"
from an ask:

[2015-09-26 06:44] bvtsang opened #542 "Post aren't hidden if they're AlreadyReblogged on the dashboard"
Steps to reproduce:

1. In One-Click Postage, enable AlreadyReblogged
2. Enable "Hide posts if they're AlreadyReblogged on my dashboard"
3. Visit your dashboard and reblog a post that has already been reblogged
4. Hover your mouse over the reblog icon and reblog that post
5. Refresh your dashboard
6. Expect that the post you reblogged from is hidden
7. Observe that the post you reblogged from is s

[2015-09-26 12:05] Wolvan commented on #542
Fixed once #533 gets merged

[2015-09-26 16:42] bvtsang commented on #542
I had someone try the tentative fix to #533, but this issue still persisted.

[2015-09-26 17:09] Wolvan commented on #542
Did they install only the updated ``one_click_reblog.js`` or also ``xkit_patches.js``? Storing the root ID depends on ``xkit_patches.js`` to return the proper ``root_id``

[2015-09-26 17:10] cheyytan opened #543 "problem with notification post block"

[2015-09-26 17:12] Wolvan commented on #543
Might we get some information what exactly the problem is?

[2015-09-26 17:29] bvtsang commented on #542
They only updated One Click Reblog.

I just tested this with xkit_patches, and I'll safely say #533 does indeed fix this.

[2015-09-26 18:48] #542 closed

[2015-09-27 00:57] 0xazure opened #546 "Implement Safari build tasks"
In preparation for the re-release of the Safari version, implement Gulp build tasks for extension building.

[2015-09-27 04:56] #515 closed

[2015-09-27 04:56] #538 closed

[2015-09-27 20:45] gloomykid opened #549 "Body part of post gets deleted pt. 2"
I know there has been an issue #466 already, but I've found out more things about this issue, and due to the other thread being basically dead, I wanted to start a new one.

The text part of a post gets deleted if the last thing you've interacted with on the post are the tags. For example, I've reblogged a text post, added a @ user and then tagged it. It ended up looking like this

![ss 2015-09-27

[2015-09-27 20:50] gloomykid commented on #549
**EDIT**

I just tried out the ctrl+enter on a photo post and this is interesting... on the dashboard the description got deleted, on my blog it's still there.

![ss 2015-09-27 at 10 47 35](https://cloud.githubusercontent.com/assets/13604430/10125132/f1fe3d9e-6569-11e5-8c42-5a15bd503591.jpg)

![ss 2015-09-27 at 10 47 44](https://cloud.githubusercontent.com/assets/13604430/10125134/f7b9f764-6569-11

[2015-09-27 21:02] basilissa opened #550 "Unable to reblog/like/etc from blog pages"
The extension seems to have made it so that tumblr acts like you're not logged in when you view people's blogs, so that the only buttons on the top right are "follow ______" and "sign up for tumblr". I use Chrome, and checked Firefox to make sure it was only affecting the browser I have xkit installed in, and it works perfectly fine w/o xkit there.

[2015-09-27 21:22] anakhasilver opened #551 ""External Image" showig up instead of the actual images in posts"
Unsure if this is brand new or what, but I reblogged something and got "External Images" even in the editor. It didn't matter if I had Xkit on or not, it still happened. But if anyone can fix it, you can.

[2015-09-27 23:52] ThePsionic opened #552 "Drafts+ issues"
I'm tired so I'm just going to list some things I found and I'll see when I or someone else gets around to them.
- [ ] After going out of Mass Edit mode, the publish/archive/schedule/queue overlay is still placed on posts as well as the post type bar on the top of the page when hovering over these elements. Refreshing fixes this.
- [ ] The "Delete 100 drafts" and "Delete 1000 drafts" buttons are d

[2015-09-28 17:54] rosalindwills commented on #487
Off the top of my head for standard information -- definitely:
* XKit version
* OS
* Browser type and version
* version of any relevant extensions

[2015-09-28 17:54] blackjackkent commented on #487
Off the top of my head for standard information -- definitely:

XKit version
OS
Browser type and version
version of any relevant extensions

[2015-09-29 13:48] ThePsionic commented on #551
@anakhasilver, do you have Auto Load Images installed or not?

[2015-09-29 14:08] ThePsionic commented on #552
Hrm, can't seem to reproduce the first point anymore.

[2015-09-29 15:27] hobinjk opened #556 "Read More doesn't use new Tumblr layout"
Part of testing #360.
<img width="653" alt="initial" src="https://cloud.githubusercontent.com/assets/2776089/10168876/ab199750-669c-11e5-99f2-766721fe0264.png">
Click the lower one, expect to see only the lower one's content in its place:
<img width="671" alt="click one" src="https://cloud.githubusercontent.com/assets/2776089/10168880/ad383316-669c-11e5-8a17-fdd2c17fb5ef.png">
For contrast, this i

[2015-09-29 15:29] 0xazure commented on #550
Can confirm.  My main browser is Chrome and I've been noticing similar behaviour for a while now.

Interestingly, it appears to be limited to Chrome only.  On Firefox, even with XKit enabled, the reblog/like/etc interactions show up as they're expected to.

[2015-09-29 15:32] blackjackkent commented on #550
This seems to vary from person to person; I have'nt been able to duplicate this experience on any of my Chrome installs. :/

[2015-09-29 15:42] 0xazure commented on #550
Looks to be a Tumblr thing.  Chrome (seemingly) doesn't work properly at all, Firefox seems to work all the time, and even visiting Tumblr with a browser that doesn't even support XKit exhibits _mixed_ behaviour where some blogs display the interactions properly and others don't, even if they did on Firefox.

[2015-09-29 15:54] anakhasilver commented on #551
Yes. It appears that it's an issue where Chrome and Tumblr don't get along for some reason.

[2015-09-29 18:40] blackjackkent commented on #416
As near as I can tell, Blacklist still works for tags and usernames, but post content is getting lost for any reblogged content (i.e. it still works on original posts or on content added by a particular post, but any previous reblogs are ignored) because the reblog list update changed the HTML structure of posts.

Steps to reproduce:
1. Make a text post on Tumblr containing a word you wish to bloc

[2015-09-29 19:48] #416 closed

[2015-09-29 23:32] blackjackkent opened #558 "Editable Reblogs doesn't populate HTML editor"
I messed up.

Steps to reproduce:
1) Set your default editor to HTML (or find a post which you have previously posted/edited using the HTML editor, making it only use the HTML editor henceforward).
2) Click the Edit control
3) Observe that the HTML editor is empty when the edit window pops up.

Working on a fix now.

[2015-09-30 00:55] dlmarquis opened #560 "Make extension search optionally search in an extension's preferences"
So that users can easily find relocated features, such as No Sidebar.

[2015-09-30 03:21] laurajax opened #562 "Make extension update information a part of the New Xkit extension."
For instance, the pop-up in the lower left hand corner that reads "[#] extensions have been updated, click here to view them" and then when you click it it only says things like "Blacklist: 2.7.6". That doesn't really explain *what* "Blacklist 2.7.6" is or why it was updated, but it could include that information.

This would be much more efficient for disseminating the information about an update

[2015-09-30 03:22] #558 closed

[2015-09-30 03:26] Wolvan commented on #562
Paperboy (news) is actually about to being revived, see #554. I like the idea of having a changelog somewhere inside of XKit though

[2015-09-30 19:49] blackjackkent commented on #530
Duplicated the problem...looks like we're using the wrong selector to identify which post we want to block and we're grabbing everything on the page. I'll see what I can do about this.

[2015-10-01 02:12] selloutoftheshield commented on #536
My firefox just updated to 4.1

[2015-10-01 16:22] #530 closed

[2015-10-01 18:40] ThePsionic commented on #282
Closing this as wontfix since there is nothing **to** fix - this option works as expected.

[2015-10-01 18:41] #282 closed

[2015-10-01 18:53] ThePsionic commented on #233
Unable to reproduce anymore; closing.

[2015-10-01 18:53] #233 closed

[2015-10-01 19:00] #324 closed

[2015-10-01 21:11] ThePsionic commented on #189
@ChuckL any progress on this?

[2015-10-01 21:16] gloomykid opened #568 ""Answer Time" on top of dashboard visible despite being blocked on New X Kit."
![ss 2015-10-01 at 11 16 25](https://cloud.githubusercontent.com/assets/13604430/10234047/73c985f6-6892-11e5-8573-9cfce260d099.png)

Was that feature removed again?! Or is it just a bug hence to new layout changes (?) of tumblr?

[2015-10-01 21:17] Wolvan commented on #568
The feature was moved to Anti Capitalism

[2015-10-01 21:17] #568 closed

[2015-10-01 21:21] gloomykid commented on #568
Ah, sorry. Didn't know about it. It's hard to keep track of these things if features get moved to other extentions without any notification... thanks for the info.

[2015-10-01 21:29] Wolvan commented on #568
It's no problem, glad you found it. We just decided on moving it to anti-capitalism since it belongs there more

[2015-10-01 22:21] nightpool commented on #568
@wolvan I thought we were blocking moving it on the extension stuff you
were working on?

On Thu, Oct 1, 2015 at 5:29 PM Wolvan <notifications@github.com> wrote:

[2015-10-01 22:27] Wolvan commented on #568
Are you refering to issue #427?

[2015-10-01 22:34] bvtsang opened #570 "Preferences aren't sanitized"
1. Install Satsukimous
2. In the settings for Satsukimous, enable Replace Name
3. In the replacement name, enter `"<script>alert(1);</script>`
4. Click out of the XKit settings to save it
5. Refresh the page
6. Open up the settings for Satsukimous
7. Expect to see `"<script>alert(1);</script>` as the replacement name
8. Observe that the settings aren't rendered properly

![screen shot 2015-10-01 a

[2015-10-01 22:36] nightpool commented on #364
I agree with everything here except removing framework_version. ideally that should be updated by gulp, no?

browsers are bad and inconsistent. firefox auto-update is going to be weird in the future and I think require infrastructure on our part anyway because we're a hidden extension and I don't know if safari auto-updates at all or what the deal is there.

[2015-10-01 22:41] 0xazure commented on #364
I've definitely changed my stance on `framework_version.json` since I've been made aware of how we're going to be handling the Firefox situation going forward.  I agree that we'll need some kind of mechanism for letting users know that there's an update they need to download.

Conceivably, we could join everything into a single file with a Gulp task and then have XKit download and cache the data i

[2015-10-01 22:46] #517 closed

[2015-10-01 22:49] nightpool commented on #570
xkit is a giant xss vuln waiting to happen this is basically expected
behavior, at least for me.

On Thu, Oct 1, 2015 at 6:34 PM Bryan Tsang <notifications@github.com> wrote:

[2015-10-02 00:57] #525 closed

[2015-10-02 02:38] 0xazure opened #572 "Release Safari version"
Meta-issue tracking the release of the Safari version

- [x] Merge in @hobinjk's changes to Safari (#574)
- [x] Create build scripts to build the extension from source (#546)
- [x] Remove the 'unsupported' warning from `xkit_preferences` (#571)
- [x] Rebuild `dist/` with the above changes
- [x] Draft release announcement post
- [x] Submit to the [Safari Extension Store](https://extensions.apple.co

[2015-10-02 15:20] nb622 commented on #572
@NewXKit
nb62284: Welcome to the Live Support for New XKit. If you did not yet set a username, please use /nick <Username> to do so.
nb62284
hey - a couple of you guys helped me last night and also sent me the link on github for the new safari extension - which i installed and @hobinjk asked me to let you guys know how it went and if it was working on my computer/imac
<nightpool> Yeah one sec we m

[2015-10-02 15:42] hobinjk commented on #572
See pull #574 for initial code and way too many manually copied files.

[2015-10-02 16:06] ThePsionic opened #575 "One-Click Postage doesn't work in the video popout"
When watching a video, once you scroll down you get a video popout. Hovering over the reblog button does pop up a One-Click Postage interface as expected, but posting/queueing/drafting doesn't actually work, with the interface closing after pressing either button, without doing anything to the post.

[2015-10-02 17:00] ChuckL commented on #189
Not much, I've added the button in but haven't hooked it up to the JS yet.
I think I'll probably just shelve this one.  I have an idea for a better followers extension thing that I may play around with.

[2015-10-02 20:13] metalhearted opened #578 "Mass Editor Features"
Currently, the mass editor does not support fanmails.

Also, would be great if you could add in a feature to drag and select multiple messages/fanmails in the mass editor (something like qplus/archive poster chrome app - qplus.io).

Select All button, Select all fanmails button, select all messages "asks" button.

This would be a very handy tool to manage the volume of messages I receive.

Thanks

[2015-10-03 13:32] uranchan commented on #86
I have the same problem, it's definitely caused by Tweaks, more exactly by the "Move the edit/remove buttons out of the gear menu" option. If I uncheck that, everything is fine.

[2015-10-03 19:38] finagle29 commented on #551
There seem to be two issues here:
* "External Image" placeholder showing in the post editor instead of the actual image (which could be interpreted as a problem / deficiency with Auto Load Images)
* After reblogging with ER, the text "External Image" shows instead of a clickable placeholder or the actual image itself

[2015-10-03 22:34] anakhasilver commented on #551
That's exactly it. It seems to clear up on its own after awhile, but it's still a bug.

[2015-10-04 07:07] LunaManar commented on #194
Just checked today after the update, and this appears to be fixed! Hopefully tumblr won't go and break it, again.

Thanks for your hard work.

[2015-10-04 12:29] 4drenalin3 commented on #86
The problem is that the edit/delete/queue buttons are moved out of the gear menu, but their event listeners are lost in the process. Unfortunately the solution isn't as simple as cloning the buttons.

[2015-10-04 12:47] #194 closed

[2015-10-04 18:32] bvtsang opened #583 "Editable Reblogs interferes with One-Click Reply"
Steps to reproduce:

1. Enable Editable Reblogs and One Click Reply
2. Set your text editor to Rich Text or HTML
3. Go to your Activity page
4. Click the reply button that shows on mouseover next to a notification
5. Expect to see the reply text populated in the text editor that shows up
6. Observe that no text is populated

[2015-10-04 23:55] ofinnocxnce opened #585 "Editable Reblogs: Post disappears when editing in HTML Editor"
I have everything updated, all the extensions and stuff... So the problem is, when I reblog a post, add something to it myself and edit it in the HTML Editor and then reblog it while staying in the HTML editor, what the other person said before completely disappears and the only thing that stays is what I added. This doesn't happen in the Rich Editor, only the HTML one. I also already saw this hap

[2015-10-05 01:41] AuraSweet commented on #585
It happens similarly for me, except it's just on posts I reblog in general. I also have proof if you want to see it.

[2015-10-05 03:38] Wolvan commented on #585
Did anyone of you two edit the Username by any chance? Make it bold, remove the colon, anything at all?

[2015-10-05 04:08] AuraSweet commented on #585
I tried to, but the post still disappeared anyway.

[2015-10-05 04:10] Wolvan commented on #585
Did you edit the blog title in any way the first time around?

[2015-10-05 04:11] AuraSweet commented on #585
The post title? No, I don't think so.

[2015-10-05 04:13] Wolvan commented on #585
Sorry, I meant the username somewhere in the reblog chain

[2015-10-05 04:16] AuraSweet commented on #585
I'm pretty sure I didn't.

[2015-10-05 04:18] Wolvan commented on #585
Can you link us to the post? And tell us what you did step by step to reproduce this problem?

[2015-10-05 04:20] AuraSweet commented on #585
I couldn't get support for a while, so I implemented other things to fix it, so I'm not sure how to reproduce it. :$

[2015-10-05 04:21] AuraSweet commented on #585
I'll try, though.

[2015-10-05 04:22] Wolvan commented on #585
what DID you implement? That might be good to know as well

[2015-10-05 04:22] AuraSweet commented on #585
![problem](https://cloud.githubusercontent.com/assets/14351360/10273002/67057bc6-6ae6-11e5-948b-66fa59979a34.jpg)

[2015-10-05 04:23] AuraSweet commented on #585
I implemented Tampermonkey just to make things back to normal until I could get Xkit.

[2015-10-05 04:23] Wolvan commented on #585
Can you link us to that post? And what tampermonkey script exactly?

[2015-10-05 04:24] AuraSweet commented on #585
http://confidxnteveryday.tumblr.com/post/130529127207/scxrletlass

[2015-10-05 04:24] AuraSweet commented on #585
When I reblogged that, I had Tampermonkey disabled, but it was the tumblr Reblog Fix.

[2015-10-05 04:24] AuraSweet commented on #585
When I reblogged the post I just linked you, which disappears on the dash, I had Editable Reblogs enabled.

[2015-10-05 04:41] AuraSweet commented on #585
There's two of them, not just the one, if that helps any :D

[2015-10-05 04:41] AuraSweet commented on #585
https://greasyfork.org/en/scripts/11318-tumblr-reblog-fix
https://greasyfork.org/en/scripts/12164-tumblr-reblog-fix-two/code
And they only work if you have Chrome, for Firefox I think it's different.

[2015-10-05 04:42] AuraSweet commented on #585
But I had both of those disabled and ER enabled when the post above happened.

[2015-10-05 04:52] AuraSweet commented on #585
So I thought it might be Xkit and came to you guys.

[2015-10-05 07:02] ShareNoMimosa commented on #491
@blackjackkent this issue can be closed

[2015-10-05 07:04] #491 closed

[2015-10-05 08:05] Jangalian commented on #550
It's happening to me as well, it started on my laptop and now even my Chrome netbook is doing it. It shows the "sign up!" feature as though I'm not logged in, and it's only with Chrome.

[2015-10-05 10:33] ofinnocxnce commented on #585
Yeah, I personally did edit the URL of the person the post was originally from like making it into a header or bold or whatever, that's what I did and for a friend of mine it even happens when she doesn't edit the posts in the html editor, but just in the rich editor and edits the url there

[2015-10-05 15:49] nightpool commented on #550
If we can trace this back to some XKit behavior we should consider fixing it, but as this is reproducible without xkit installed I'm going to close for now.

[2015-10-05 15:49] #550 closed

[2015-10-05 16:39] Wolvan opened #586 "Change Event handling in New XKit"
Currently, New XKit uses it's own "Event" System by adding and removing listeners through XKit functions. It would be good if we used an already established Event library instead.
This is probably going to be part of the GMP, since that includes changing a lot of extensions as well. Otherwise we would need a way to make it backwards compatible to our old way of subscribing to events.

@0xazure sug

[2015-10-05 16:50] Wolvan commented on #531
In case #548 does not get merged before the GMP, we discussed using https://github.com/ozantunca/locally instead of what we do right now

[2015-10-05 21:27] anakhasilver opened #588 "Problem with the reblog/close buttons when reblogging directly from blog page"
![wthtumblr](https://cloud.githubusercontent.com/assets/11988228/10294100/df72e886-6b7d-11e5-80f9-8fd51c7aa6c4.png)

This only seems to happen when I reblog directly from a blog's page and not from dash. It's not Stylish, I've disabled all Stylish scripts when testing. No idea what's causing it.

[2015-10-06 01:00] dlmarquis opened #589 "Investigate image captioning accessibility"
So Tumblr lets you caption images, then hides the captions unless you click each image. We should make an option to put these below images.

Additionally, since Tumblr uses the alt attribute for captions, captions are read out by screenreaders as image descriptions. Which would be more usable if we were given more than a one-line popover to enter a description (and maybe check if the 200 char limi

[2015-10-06 01:36] 0xazure commented on #586
Possibly related to #192.

[2015-10-06 01:44] 0xazure commented on #487
`CONTRIBUTING.md` should also include steps from #230.

[2015-10-06 03:04] 0xazure opened #590 "Welcome/tour not dismissable on pages other than Dash"
Got this one from a friend.

Rough steps to reproduce:
1. Do a fresh install of XKit
2. Log out of Tumblr
3. Visit a blog permalink (do this before logging in or visiting the Dashboard)
4. Notice the XKit welcome message that isn't in any way dismissable (see below)

![e08bff31f579faa8892b25ee3e44eb1e564de8421162fc4590 pimgpsh_fullsize_distr](https://cloud.githubusercontent.com/assets/1041456/1029

[2015-10-06 03:57] 0xazure commented on #365
Useful reference guide we can possibly tweak for use with the project: http://benlimmer.com/2013/12/26/automatically-publish-javadoc-to-gh-pages-with-travis-ci/

[2015-10-06 08:04] Jangalian commented on #550
So does this mean it's being dismissed, even though it interferes with xkit? No one has any idea whatsoever how this is happening or why?

[2015-10-06 09:04] Wolvan commented on #365
the problem is still that we aren't running tests on ``master`` with Travis, or are we? Personally I'd say having a nodescript listen for a gh webhook might be a lot easier than having travis built. Or how could we make sure that it builds without running test on master?

[2015-10-06 16:28] 0xazure commented on #365
We _are_ currently running tests on master; if you check [the branches on Travis](https://travis-ci.org/new-xkit/XKit/branches) it's right up there at the top as the 'default branch'.  It's just less obivous because homu runs pre-merge tests on a separate branch before merging into `master`.

Setting up CI to do this for us would be _significantly_ easier than setting up a webhook, and would also

[2015-10-06 16:42] Wolvan commented on #365
OK, nevermind, you got me there. All up for having travis rebuild our distribution! I'll look into this.

[2015-10-06 18:39] nightpool commented on #550
@jangalian Its some bug on tumblr's end. Having XKit installed makes no
difference as to whether it happens or not.

Have you reported the problem to Tumblr?

On Tue, Oct 6, 2015 at 4:04 AM Jangalian <notifications@github.com> wrote:

[2015-10-07 02:15] finagle29 commented on #333
Closing as dupe of #136

[2015-10-07 02:15] #333 closed

[2015-10-07 03:30] finagle29 opened #594 "Different AutoTagger tags for each blog"
Feature request from the Support chat.

[2015-10-07 08:28] #401 closed

[2015-10-07 08:39] dlmarquis commented on #209
Thread necro: can we please stop using hard tabs? I hate them. I hate them so much.

[2015-10-07 08:40] dlmarquis commented on #514
This looks like the image issue @blackjackkent fixed a while back. Closing until someone comes to tell me I'm wrong.

[2015-10-07 08:40] #514 closed

[2015-10-07 17:42] gloomykid opened #595 "Enable @username on One-Click Postage extention?"
Just an idea, if possible...

[2015-10-07 17:47] Wolvan commented on #595
The popover that comes up would probably be a bit hard to pull off, but parsing @s might pe possible

[2015-10-07 17:56] gloomykid commented on #595
I kind of figured that. It's just that I've encountered the bug #549 while opening a post to reblog it manually, but that bug never occured when adding captions on One-Click-Postage, therefore it would be a good solution for that (tumblr?) bug. Also making reblogs faster if @'s could get added like that.

[2015-10-07 20:57] contentmint opened #596 "Quick Reblog/Queue Error"
Quick Reblog displays
"INOCP109-403" when reblogging to certain sideblogs?

[2015-10-07 21:00] contentmint opened #597 "get_posts() needs better logic for "mine" (affects Quick Tags most prominently)"
It seems that the Quick Tags icon doesn't show up on posts made by other members on sideblogs. They are still editable, but you have to go through Gear icon > Edit.

[2015-10-07 21:08] exinspired opened #598 "Activity+ notes fail to display after several minutes/hours?"
So I make a fair amount of posts and I get a decent amount of notes, often with some kind of tags in the reblog.  A few days ago I noticed that quite a few notes would disappear after a few minutes or hours(not necessarily after I saw them--if I fell asleep and checked /activity upon waking up there'd be new notes, a gap in time where older new notes were missing, then older notes, some of which w

[2015-10-08 04:27] rimbaum opened #599 "Always Show Scroll To Top option in Tweaks not working"
I have the option checked, but it hasn't been working in a couple of weeks. Really annoying because I feel like tumblr doesn't show the scroll to top button until way too far down the page.

[2015-10-08 08:01] ThePsionic commented on #596
What browser and version, which XKit version, which One-Click Postage version?

(For future reference: HTTP 403 is Forbidden.)

[2015-10-08 09:13] contentmint commented on #596
I figured out the issue was that the sideblog was accidentally blocked, and does not have to do with XKit itself.

[2015-10-08 09:19] #596 closed

[2015-10-08 12:08] Wolvan commented on #596
Is the blog you wanted to reblog to either password locked or something?

[2015-10-08 16:29] Wolvan opened #600 "Text Input capped to 512KB by default"
That means you are only able to use 524288 characters in any text input from XKit. This becomes a problem especially when you have a lot of posts in post archiver that you want to ex- and afterwards import again, since that can easily exceed the 512KB limit, breaking the import JSON anhd making it impossible to restore the post archive

[2015-10-08 21:20] finagle29 commented on #600
This issue is specific to Chrome and Safari.  It's [WebKit bug #44883](https://bugs.webkit.org/show_bug.cgi?id=44883)
If we use a `<textarea>` we should be able to avoid this.

[2015-10-08 21:47] Wolvan commented on #600
are you going to look into that, @finagle29?

[2015-10-08 21:52] finagle29 commented on #600
Yes.

[2015-10-09 23:39] paramarx opened #606 "Reblog display options, when set to nested style, doesn't implement color quotes' basic functionality"

[2015-10-10 00:30] KennyVee commented on #100
Still happening -- any movement on this issue yet? I've had to disable editable reblogs because I'm tired of subjecting my followers to doubled posts that can't even be edited down (they can be edited only when Editable Reblogs is disabled).

Configuration export: https://gist.github.com/9d4d1ea6589bd8677e2e

[2015-10-10 00:32] nightpool commented on #100
this should be totally different in the next ER version. we'll deploy that
first, and then if this bug still exists we'll take a look.

On Fri, Oct 9, 2015 at 8:30 PM KennyVee <notifications@github.com> wrote:

[2015-10-10 00:34] nightpool commented on #168
looks like this never got pushed to the stores :(

[2015-10-10 04:04] realityfabric opened #609 "Music spontaneously plays while scrolling the dashboard"
There aren't even any audio posts and I've had three different songs play from the tumblr tab. I disabled New XKit and the songs appear to have stopped happening, although this could be coincidence. It only started happening in the past half an hour.

[2015-10-10 04:05] realityfabric commented on #609
I'm runnning Google Chrome "Version 45.0.2454.101 unknown" on Ubuntu 14.04

[2015-10-10 04:17] realityfabric commented on #609
Seems to be less spontaneous than it is sporadic, when it happens it seems to happen almost immediately upon the page loading completely.

[2015-10-10 04:20] realityfabric commented on #609
Looks like it was a Yahoo Sponsored Post that was playing audio despite being hidden.

[2015-10-10 04:23] realityfabric commented on #609
It is definitely a Yahoo Sponsored Post, which only automatically plays audio when hidden by New XKit.

[2015-10-10 06:34] hobinjk opened #610 "Themes: Does not apply theme"
None of the themes apply on Firefox or Chrome. This is with version 0.1.3. Originally reported by a user and confirmed by me.

[2015-10-10 07:02] realityfabric commented on #609
I'm not sure what was causing this, but it hasn't happened for a couple of hours when it was happening almost every other time I'd refresh the dashboard.

[2015-10-10 07:02] #609 closed

[2015-10-10 15:33] anakhasilver commented on #588
Still having this problem, although it's spread to normal problems.
As a not, it only happens on Chrome. So I'm unsure if this is a thing that Chrome is doing or what.

[2015-10-10 16:02] 0xazure commented on #610
`dist/page/themes.json` doesn't seem to contain the file contents anymore.  I'm still tracing the commit history to find out why, because when I [introduced the changes](https://github.com/new-xkit/XKit/commit/f04d87e8fb0cc9c87d990a37e3ef93d2a9e31c1d) to the build system it was working as intended.

[2015-10-10 16:06] 0xazure opened #611 "Text theme can't load background"
In #545, 'Tex' got renamed to 'Text' (as it should have been), but the [URL for the background image](https://github.com/new-xkit/XKit/commit/0d5901e3ae0553f7a157b59d5dbd64872d4650b4#diff-0fbf2a8d2c4b2c178733b3318a0a8b67R7) was not updated to reflect this change.

[2015-10-10 16:22] 0xazure commented on #610
Traced the problem back to #475, it looks like I missed the `contents` key when I refactored the Themes [`buildGalleryFile` function](https://github.com/new-xkit/XKit/pull/475/files#diff-8f425bc0a81040ea478a6428ec77de3fR83).

[2015-10-10 16:29] #610 closed

[2015-10-10 16:37] gloomykid commented on #395
it's very old but i second that, because i'd like to search by a tag and be able to apply that to the next 100 and so on and so on to have a string of posts. otherwise that feature wouldnt be all too useful in my opinion.

[2015-10-10 20:03] ChuckL opened #614 "Editable reblogs from deactivated users."
From support.

"hello? i'm having an issue and i'm not sure what's causing it, honestly. whenever i reblog a text post where the user's deactivated it clears the text but the title stays intact."

Sounds like editable reblogs don't work is intended if you're reblogging from a deactivated user.

[2015-10-10 20:14] #611 closed

[2015-10-10 20:25] ChuckL opened #615 "Shrink Posts no longer works in Enhanced Queue"
From Support: "After yesterday's Enhanced Queue update, Shrink Posts no longer works."

We've had another person come and and tell us that

[2015-10-10 20:50] onoksphinx opened #617 "Infinite loading on extensions tab."
With the new xkit clicking on the extensions tab gives me an infinite loading screen.

[2015-10-10 20:56] Wolvan commented on #617
Update your chrome to at least v44.

[2015-10-10 21:06] #617 closed

[2015-10-10 21:33] nightpool commented on #614
Blackjackkent is working on a fix for this iirc.
On Sat, Oct 10, 2015 at 4:03 PM Charles <notifications@github.com> wrote:

[2015-10-10 21:33] ThePsionic opened #618 "Tag Replacer unable to function with colons"
From the support Gitter:

[2015-10-10 21:43] invalidCards opened #619 "PostBlock still clears searches"
Report from the support Gitter that #530 is still happening. As soon as the user hits a blocked post, the rest of the search is empty. They were on the latest version of XKit and PostBlock.

[2015-10-10 21:46] bvtsang commented on #619
If an old issue resurfaces, then instead of creating a new issue to track it, we should reopen the old issue.

[2015-10-10 22:16] ThePsionic opened #620 "Drafts Mass Deleter does not work"
From the support Gitter:

Opening the JavaScript console revealed a plethora of HTTP 401 (Unauthorized) errors as well as messages saying "Unable to unlike post with id *" even though the Mass Unlike functionality was turned off.

[2015-10-11 02:52] 0xazure commented on #230
After some discussion on Gitter, we've decided against hosting it as a gist and instead want an analogue to the `CONTRIBUTING.md`, `README.md` files at the top level of the project.  We've decided on `TROUBLESHOOTING.md` for the filename, we just have to populate it with the steps.

[2015-10-11 10:14] heatheronlamma commented on #615
I've had the same problem.

[2015-10-11 10:19] heatheronlamma opened #621 "Tags stopped wrapping after latest update"
Firefox 41.0.1 on Mac 10.10.5
![tags](https://cloud.githubusercontent.com/assets/14818788/10416297/918638dc-7044-11e5-8da0-970275be6c13.png)

[2015-10-11 13:22] Arasca commented on #615
Same here. The 'Queue Options' button still switches from ON to OFF (and vice versa) with a click, but the 'Shrink Posts' button stays on OFF. (..and I've already tried uninstalling, resetting etc.. nothing works.)
I really hope this can be fixed soon.. my queue is driving my nuts the way it is now.. :(

[2015-10-11 15:31] eizasgonzalez commented on #615
I have the same issue.

[2015-10-11 17:32] ThePsionic commented on #615
Okay so as the original writer of this feature, I went to test it out and it does not show the error message that was *intended* to be shown when I wrote it up.

@heatheronlamma, @Arasca, and @eizasgonzalez: Enhanced Queue's Shrink Posts no longer works if Shorten Posts is enabled due to formatting issues. It should work properly when you disable Shorten Posts.

[2015-10-11 17:54] Arasca commented on #615
@ThePsionic I saw that message when I checked the XKit Editor and immediately disabled Shorten Posts. Nothing happened, so I reset XKit and only installed the Extensions I really needed, leaving out Shorten Posts, and still nothing..
Thanks for the info though, maybe it'll work for the others..

[2015-10-11 18:50] eizasgonzalez commented on #615
I actually don't even have Shorten Posts installed and still can't get Shrink Posts to work again.

[2015-10-11 20:32] #615 closed

[2015-10-11 22:21] Wolvan opened #623 "Enhanced Queue only checks for Shorten Posts enabled"
This means that if Shorten Posts is not installed it will still show the error message of shrink posts even if no conflict is happening

[2015-10-12 00:03] dlmarquis commented on #606
Sort of tangential, but perhaps we should fold Color Quotes into an option in Reblog Diplay Options while we're at it? It doesn't make much sense on its own anymore.

[2015-10-12 00:05] bvtsang commented on #606
Agreed, color quotes won't make sense if nested blockquotes is no longer the default post layout.

[2015-10-12 00:14] nightpool commented on #606
sounds good, but this also blocks on extension migrations (so people who
have already color quotes don't just lose them suddenly)

On Sun, Oct 11, 2015 at 8:05 PM Bryan Tsang <notifications@github.com>
wrote:

[2015-10-12 00:15] dlmarquis commented on #606
They already lose them, though, in the sense that they have to migrate over to RDO before there's a chance to see them anyway.

[2015-10-12 00:16] nightpool commented on #606
sure but we could at least make it easier for people who have both
installed (even if we don't want it to be the default)

On Sun, Oct 11, 2015 at 8:15 PM dlmarquis <notifications@github.com> wrote:

[2015-10-12 00:19] dlmarquis commented on #606
We could push an update to color quotes at the same time as RDO that alerts users of the switch. Would that be good?

[2015-10-12 00:39] blackjackkent opened #624 "XKit.installed.enabled returns "true" if extension is not installed at all"
From XKit chat:

[code]
that second parameter in get_setting is default_value
meaning that if the setting doesn't exist at all
this function returns true
which means that #615 is causing Enhanced Queue's shorten posts to bug out when Shorten Posts isn't installed at all.

Need to do a deep dive to make sure no functionality that uses `enabled()` is depending on that errant return value.

[2015-10-12 00:55] #623 closed

[2015-10-12 01:58] heatheronlamma commented on #615
I don't have Shorten Posts installed. The button will not let me click to turn on Shrink Posts

[2015-10-12 03:08] nightpool commented on #624
I *super* doubt anything is using this intentionally.

On Sun, Oct 11, 2015 at 8:39 PM BlackjackKent <notifications@github.com>
wrote:

[2015-10-12 03:10] nightpool commented on #606
yeah sounds fine.

On Sun, Oct 11, 2015 at 8:19 PM dlmarquis <notifications@github.com> wrote:

[2015-10-12 03:19] nightpool commented on #615
okay sorry for the false alarm but *this time* it should be working now.

On Sun, Oct 11, 2015 at 9:58 PM heatheronlamma <notifications@github.com>
wrote:

[2015-10-12 03:25] galaxiestomars opened #628 "says xkit 7.5.1 and that I cannot connect to the xkit server"

[2015-10-12 03:38] finagle29 commented on #624
I searched the repo for `XKit.installed.enabled(` (and even `.enabled(` to see if something was using `this` weirdly) and nothing was using `enabled()`'s errant behavior intentionally.  However it looked like some of Atesh's code was written knowing that `enabled()` returned the wrong value if an extension wasn't installed because in OCP, Themes+, and XInbox there's code like
[code]
that could hav

[2015-10-12 04:07] Wolvan commented on #628
Download New XKit either from
http://new-xkit-extension.tumblr.com/firefox or http://new-xkit-extension.tumblr.com/chrome

[2015-10-12 04:07] #628 closed

[2015-10-12 04:09] Wolvan commented on #606
We could also add the color quotes extension to ``xkit_preferences`` spring cleanup list

[2015-10-12 05:49] #590 closed

[2015-10-12 08:27] ShareNoMimosa opened #629 "Reblog As Text and Reblog Yourself Infinite Loops"
i found these since console logs are being printed in the loops, not sure if an actual issue or these occur by design.

the infinite loops are triggered if you open the normal reblog editor and the loops continue after the editor is closed.  reblog yourself infinite loop occurs when reblogging a post from yourself, reblog as text loop occurs with any reblog.

[2015-10-12 08:31] Wolvan commented on #629
what exactly do they say?

[2015-10-12 10:33] Arasca commented on #615
It does! Thanks a lot!

[2015-10-12 10:51] ShareNoMimosa commented on #629
![screen shot 2015-10-12 at 3 50 31 am](https://cloud.githubusercontent.com/assets/8609540/10426369/82bd5786-7094-11e5-8dfb-c29cf1d0049a.png)

[2015-10-12 13:06] Wolvan commented on #629
Yeah, I remember that output spam. It's something we are looking into for a later date

[2015-10-12 13:50] finagle29 commented on #629
IIRC Reblog as Text is not needed anymore due to a Tumblr-side change: long
posts aren't converted into links anymore.

On Mon, Oct 12, 2015 at 9:06 AM, Wolvan <notifications@github.com> wrote:

[2015-10-12 14:12] nightpool commented on #629
yeah trust us this annoys noone more then it does the active devs :D

Just something weird/legacy that we haven't gotten around to fixing yet.

pull requests always welcome.

On Mon, Oct 12, 2015 at 9:50 AM finagle29 <notifications@github.com> wrote:

[2015-10-12 16:22] nightpool commented on #606
@wolvan having it uninstall itself is more flexible and lets it do other
things as well (like showing a pop-up box/asking if they want to install
reblog display options)

On Mon, Oct 12, 2015 at 12:09 AM Wolvan <notifications@github.com> wrote:

[2015-10-12 16:30] Wolvan commented on #606
how about having color quotes show the warning message for a few weeks, then we can spring clean it. Or we might have a proper transformation infrastructure by then

[2015-10-12 16:43] nightpool commented on #543
closing without details

[2015-10-12 16:43] #543 closed

[2015-10-12 23:40] Wolvan opened #630 "Reblog Display Options duplicates captions in peepr"
![image](https://cloud.githubusercontent.com/assets/1437010/10441624/52bc8b9e-714b-11e5-9b17-c5b5790a34c4.png)
When the style is set to nested, the caption gets duplicated as you can see in the above screenshot

[2015-10-13 01:20] #546 closed

[2015-10-13 01:38] nightpool commented on #630
yes this is a fix I have locally that didn't get pushed before RDO got
merged. I don't have the bandwidth to push this now, but feel free to
assign it to me and I'll deal with it when I'm done with finals.

On Mon, Oct 12, 2015 at 7:40 PM Wolvan <notifications@github.com> wrote:

[2015-10-13 02:42] 0xazure opened #632 "Depreciate fallback URLs"
Ideally this should have gone out with `v7.7.1`, but now that the SSL/TLS certificates on the old XKit servers are dead, we should really remove the [fallback behaviour](https://github.com/new-xkit/XKit/blob/cfc7137ab37d569ccacb59645dcc52d9a03e5df1/xkit.js#L240) since instead of outright failing the download, mixed-content requests seem to cause XKit to hang in most browsers.

[2015-10-13 17:04] hobinjk commented on #572
The infinite looping in OCR appears to not be occurring anymore, `dist/` has already been rebuilt with #571. All that remains is drafting an announcement post and submitting to the store

[2015-10-13 17:15] Wolvan commented on #632
This would either require a core update or we could override ``XKit.download.page`` in either ``xkit_main.js`` or ``xkit_patches.js``. At least until we have enough stuff that is worth a new core release.

[2015-10-13 18:58] 0xazure opened #634 "Update branding"
We're in a weird spot where we haven't quite updated all of the naming/branding/links throughout the extension from the old 'XKit' branding.

We also need to make a comprehensive list of everything that needs to get updated.

[2015-10-13 20:16] 0xazure opened #635 "Move documentation into main repo"
Having the documentation over on the GitHub wiki is relatively low-friction for contributors, but I am of the opinion that including the documentation in the main project repo under `docs/` has a number of advantages:

- No need to use an external resource when developing locally
- The files in `docs/` would always reflect the information pertaining to whatever commit is currently checked out (ie.

[2015-10-13 20:22] 0xazure commented on #487
From @blackjackkent via Gitter:

[2015-10-13 22:04] #599 closed

[2015-10-13 23:59] annleeli opened #637 "Quicktag bundles don't show up until you refresh the screen"
If you make a new tag bundle for the quicktag extension, it does not appear in the list immediately. You have to navigate to another extension's settings and back to see it in the list.

[2015-10-14 03:12] rimbaum opened #639 "Automatic tags on a per-blog basis?"
I was thinking this might be an addition to the auto-tagger extension, or its own extension if it's a bit too clunky to add on to that. Basically, and this is especially useful for roleplay blogs, I want to be able to adjust any tags that happen for specific blogs.

For example, say you have a specific tag just for conversations with one person, or you have some goofy joke tag for them instead. Or

[2015-10-14 03:45] 0xazure commented on #639
This initially sounded like a dupe of #594, but that's not exactly the case, is it?  You're suggesting automatically adding tags based on the _other user's_ URL, whereas #594 wants to have different AutoTagger settings based on the blog they're _currently using_.

Have I got that right?

[2015-10-14 03:46] rimbaum commented on #639
Yep, that's right!

[2015-10-14 03:48] 0xazure commented on #637
Confirmed.  Interestingly, editing or deleting bundles shows the changes immediately.

[2015-10-14 05:00] breathelifein commented on #527
I've been having the same problem. I actually submitted a post to the new xkit blog yesterday about it, with a video demonstrating how this happens every single time to some blogs, but never to other blogs, but only now I noticed this only happens when I queue the post. I've tried disabling Enhanced Queue just to test, but it didn't change anything. But it was fixed when I disabled Editable Reblog

[2015-10-14 22:50] Wolvan opened #640 "Update JPM to 1.0.2"
Found out today that JPM 1.0.1 (which we currently specify in our shrinkwrap) produces incompatible Firefox extensions for Nightly 44. I manually updated through ``npm install jpm@latest`` and was able to build a working extension that way.

[2015-10-14 23:31] 0xazure commented on #640
Nightly 44 won't be landing until 2016-01-26 as per https://wiki.mozilla.org/RapidRelease/Calendar.

Based on [this diff of `jpm`](https://github.com/mozilla-jetpack/jpm/compare/mozilla-jetpack:b633361...mozilla-jetpack:2a38a0a) it's just version number tweaks for min/max version strings.

[2015-10-15 02:11] pwnedoscar opened #641 "Reblog Display Options Acting Odd"
This screenshot was taken with the Style set to Flat, and the default options set.
![new bitmap image](https://cloud.githubusercontent.com/assets/15134074/10502800/5f58bcea-72b5-11e5-9cb6-0f003c784c30.jpg)
I think this is what Nested style is supposed to look like, based on the way the post described it.

This screenshot was taken of the same post, after Style was set to Nested, with no other opti

[2015-10-15 02:44] nightpool commented on #641
Please refresh the page after changing between flat and nested.

On Wed, Oct 14, 2015 at 10:11 PM pwnedoscar <notifications@github.com>
wrote:

[2015-10-15 02:50] Wolvan commented on #641
From support chat:
<ajking324> Heya. I'm having this problem with the new reblog display options extension where when it's in Nested mode the contents of the post don't really show up (at least some of them) I was wondering if anyone else was having this problem?
<ajking324> https://www.filepicker.io/api/file/EhURgRsKTJa0bWYheeRo
Wolvan: and you set you did refresh?
<ajking324> yup. when i refr

[2015-10-15 02:53] nightpool commented on #641
I can't reproduce this on my end, unfortunately. Do you have any other
stylish extensions or anything installed?

On Wed, Oct 14, 2015 at 10:50 PM Wolvan <notifications@github.com> wrote:

[2015-10-15 02:54] Wolvan commented on #641
@nightpool Person already left, sadly. They said they are going to check back, maybe we can get that information then

[2015-10-15 03:05] Merunari commented on #641
I'm having the same issue in Firefox. I haven't tried Chrome yet. In addition to reblog display options, I have these extensions installed: activity+, alternative timestamps, anti-capitalism, audio+, audio downloader, classic search, drafts+, editable reblogs, enhanced queue, iconified notifications, mass+, mass deleter, no recommended, notifications+, one-click postage, one-click reply, tweaks, o

[2015-10-15 03:21] Merunari commented on #641
Just went through and disabled everything except for reblog display options and I'm still having the issue. At this point, there should be absolutely nothing interfering with it. No Stylish extensions, no GreaseMonkey scripts and no other xkit extensions enabled but the quote chain still doesn't appear on the dash.

[2015-10-15 05:02] anakhasilver commented on #641
I can vouch for the same steps Merunari did. Nothing works.

[2015-10-15 05:19] configchan commented on #641
It happens because some posts are missing the .reblog-list div, and have the contents sitting loose in the .post_container div. If you remove the code to make it return without doing anything if that div is missing, it works completely fine.

This only happens with reblog chains that have been mangled in such a way that they don't get parsed properly by Tumblr's new layout code, and end up looking

[2015-10-15 05:50] komikbookgeek commented on #641
I'm in Chrome and having the same issue. How would we remove the code if it's something on our dash? Or period?

[2015-10-15 05:53] configchan commented on #641
I mean the opening the code for the better_reblogs extension and removing that line. The parsing issue is on tumblr's end, but the problem with it being deleted is obviously on XKIT's end, since it only happens when you use this extension in this setting.

[2015-10-15 08:47] Wolvan commented on #641
Yeah, we suspected it to be other scripts that have messed up the post already, good to know that it really is the case and nothing that is part of pure xkit. We'll look into this, @configchan can you give us the line nr?

[2015-10-15 09:36] configchan commented on #641
The conditional block from line 193 to 195 is the one that causes the issue. I'm guessing the conditional is meant to terminate the function in order to stop it doing anything bad if the post isn't a reblog, but nothing it does in said circumstance causes any issues. Everything it does until the last two lines pf the function amount to nothing, and the last two lines end up taking care of this fri

[2015-10-15 09:39] Wolvan commented on #641
That's good to know, I'll talk with @nightpool about removing those lines. Thanks a lot for your help, @configchan

[2015-10-15 09:49] configchan commented on #641
No worries! Glad to be of help!

[2015-10-15 15:05] nightpool commented on #641
I'm still in the middle of finals week, but I'll try to get a new version
of br pushed out sometime this weekend or next week.
On Thu, Oct 15, 2015 at 5:49 AM configchan <notifications@github.com> wrote:

[2015-10-16 01:32] hobinjk commented on #640
I use Firefox Nightly as my daily browser so this already affected me. It even fails without a descriptive error message. This should definitely be updated eventually

[2015-10-16 01:36] Wolvan commented on #640
The only time it ever errors out is when you install/uninstall the extension, and that isn't even userfacing errors

[2015-10-16 02:21] hobinjk opened #643 "Host Firefox Extension as Unlisted"
Evals are prohibited and Mozilla isn't reviewing us.
- [ ] Create update.rdf
- [ ] Put update.rdf in a place where we will never move it

[2015-10-16 02:35] nightpool commented on #643
relative to what? Can old update.rdfs point at new update.rdfs?

seems like the most logical place is new-xkit.github.io/update.rdf but I
just wish we host our whole dist out of repo (and in that one) so that
might just be me

On Thu, Oct 15, 2015 at 10:21 PM James Hobin <notifications@github.com>
wrote:

[2015-10-17 00:55] gloomykid opened #644 "Reblog Display Options deletes answers to ask."
flat lay out:
![ss 2015-10-17 at 02 54 11](https://cloud.githubusercontent.com/assets/13604430/10556058/6e19f340-747a-11e5-9e2b-491f23039152.png)

nested lay out:
![ss 2015-10-17 at 02 54 23](https://cloud.githubusercontent.com/assets/13604430/10556061/75b8edea-747a-11e5-9047-7a887f30ec0a.png)

[2015-10-17 15:34] gloomykid opened #645 "Blacklist interfering with K to previous post!"
Referencing to #60 (I am talking about the K button feature from tumblr itself, not the J/K across page thing) I have finally found out what is interfering with the K button to get to the previous post feature.

It's the blacklist feature.

As soon as the mini-UI and regular UI show up on the dashboard, using the K button to get to the previous post would result into going only up the same height

[2015-10-18 00:33] dandelionnwine commented on #597
The icon shows once an post has been posted but it does not show up in the drafts or the queue.

[2015-10-18 00:34] dandelionnwine commented on #618
This was me that mentioned this in chat, I tried it again the other day, and for it's working now. So if you want to close it you can.

[2015-10-18 07:13] contentmint commented on #597
The icon is not showing up even on posts that have been posted.

[2015-10-18 08:47] #618 closed

[2015-10-18 15:11] Evalilith opened #648 "Themes+ background image causes xkit to fail upon refresh"
Using Chrome 46.0.2490.71 m and xkit has been force updated, so I'm pretty sure it's not a version thing. When using Themes+ with a background image, xkit as a whole completely fails to load upon going to the next page (no infinite scroll) or refreshing the main dash page (with infinite scroll). All tweaks and options vanish, including the header button for xkit itself. This also happens when open

[2015-10-18 19:44] maswartz commented on #641
I believe this has been happening to me too. With me it happens usually when I reblog a picture post and I put a caption, the caption doesn't show up on my dash but when I go to edit it it appears, it even shows up if I reblog it from myself. The strange thing is it has happened to someone else on my dash. The caption didn't show up on my dash under their post but it showed up under mine when I re

[2015-10-19 00:50] dandelionnwine commented on #597
It does for me in Chrome. You might want to tell them which browser and version you are using.

[2015-10-19 01:16] nightpool commented on #641
Pretty sure this is fixed on local copy and I *should* have tune later this
week to look into stuff (but no promises)

Someone mind assigning me? Thx
On Sun, Oct 18, 2015 at 3:44 PM maswartz <notifications@github.com> wrote:

[2015-10-19 01:26] Wolvan commented on #641
@nightpool you have been asigned

[2015-10-19 05:16] contentmint commented on #597
I'm using Google Chrome Version 46.0.2490.71 m and XKit Version 7.7.1

[2015-10-19 15:35] 0xazure commented on #640
Probable explanation to this change in Firefox Nightly 44: https://blog.mozilla.org/addons/2015/10/14/breaking-changes-let-const-firefox-nightly-44/

[2015-10-19 22:55] dandelionnwine commented on #597
That's so weird, because those are the exact versions that I'm using and it shows up in posts for me that were posted. It just doesn't show up in drafts or in the queue.

[2015-10-20 17:46] dlmarquis commented on #641
This *might* be fixed by #650. It should fix @maswartz's issue, at least.

[2015-10-20 17:47] maswartz commented on #641
@dlmarquis thanks

[2015-10-20 20:57] RafaelaKlein opened #653 "One click postage keeps posting to the wrong blogs"
Hello! I'm having trouble with the one click postage tool. What happens is the following: I have a tumblr account with several side blogs which I use all the time. But everytime I try to reblog something from the dashboard using the one click postage tool selecting one of my side blogs, it ends up posting to my main blog. It only posts to the right sideblog if I have just refreshed the page and if

[2015-10-21 00:15] Undivide opened #654 "Blocking a post with NotificationBlock then deleting it causes Classic Notifications to malfunction"
Basically, I posted an image that got over 5000 notifications. The notifications were becoming very spam-y, so I used Notification block to block it, then I deleted the post.

After that, Classic Notifications no longer functions as it should on my primary blog. It works just fine on my other blogs, though.
It does its job only every once in a while on my primary blog. It'll display 2, maybe 5 not

[2015-10-21 04:17] configchan commented on #641
It will not fix the issue in the cases I refer to, as if the div I mentioned is missing, the edited code will still return prematurely.

[2015-10-21 04:41] 0xazure commented on #572
@hobinjk any movement on getting submitted to the Safari store?

[2015-10-21 17:40] hobinjk commented on #572
@0xazure Just submitted today and "We will review your extension and email you soon at new.xkit@gmail.com."

[2015-10-21 17:42] Wolvan commented on #572
We have an email now?!

[2015-10-21 19:02] hobinjk commented on #572
@Wolvan Yes, its current uses are for the Apple and Opera store accounts (we are probably not going to publish to the Opera store in the near future). Migration of the Chrome and Firefox store accounts to use it will happen eventually.

[2015-10-21 19:03] Wolvan commented on #572
@hobinjk should I switch @NewXKitBot's mail to the new.xkit@gmail.com email as well later on?

[2015-10-21 19:10] hobinjk commented on #572
@Wolvan That would be definitely be a good feature to have in the future

[2015-10-21 23:16] exinspired opened #655 "Quick Tags 'Tag Bundles' section does not properly display in Xkit interface on /activity page"
On /activity page
![/activity page has no arrows or other formatting and makes it difficult to reorder the tag bundles](http://i.imgur.com/MBHPCzD.png)

on any other page I've checked so far
![image of tag bundles everywhere else and presumably functioning properly](http://i.imgur.com/ZTKVR0h.png)

Windows 10, Chrome 46.0.2490.71 m, New Xkit 7.7.1

[2015-10-22 05:23] #552 closed

[2015-10-22 16:20] nightpool commented on #286
this is a pretty major bug and still happening, someone want to look into?

no pressure, I probably will be able too this week if noone else can.

[2015-10-22 17:20] gloomykid opened #657 "Gear Icon not visible on inbox anymore..."
... therefore the "allow full-width *GIFs" section cannot be accessed on the inbox. Asks have to be edited after publishing to access the non-full-width *GIFs feature.

Some tumblr update caused that a few weeks ago, but I wasn't sure if people were aware of it already.

[2015-10-22 22:07] #501 closed

[2015-10-22 22:21] #365 closed

[2015-10-23 01:21] 0xazure commented on #227
As an update to this, the Verge is [reporting](http://www.theverge.com/2015/10/22/9596298/microsoft-edge-extensions-support-2016-release-update) that extensions won't be coming until "a future Windows 10 update in 2016".

[2015-10-23 01:34] nightpool commented on #227
someone sent and ask today saying there were some amount of beta extensions
that you could install "but in a weird way". Anyone hear anything about
this?

On Thu, Oct 22, 2015 at 9:21 PM 0xazure <notifications@github.com> wrote:

[2015-10-23 09:56] Wolvan commented on #227
@nightpool I have not, no. But I read the ask and googled a but, the only thing I found was a hosts file updater that pulls a list with ad hosts into your local /etc/drivers/hosts file

[2015-10-23 10:50] #286 closed

[2015-10-23 18:09] laurajax commented on #490
So I randomly remembered this today, and I decided since it's probably been forgotten/is low priority, that I could give it a try myself since I actually have some free time lately.

But diving headfirst and cold into both tumblr and xkit's code sounds pretty daunting (and I'm also (sinfully) unfamiliar with github). Do you have any suggestions on where to start @dlmarquis?