[2015-07-30 05:45] hobinjk opened #42 "Sending asks from dashboard with User Menus+ fails"

[2015-07-30 05:46] hobinjk opened #43 "View My Tags encounters VMT-510"
Probably easiest to fix using Tumblr's V2 API to fetch the user's last 10-50 posts. Caused by removal of a Tumblr internal variable

[2015-07-30 05:48] hobinjk opened #44 "Quick Reblog defaults to wrong blog"
One Click Reblog defaults to incorrect blog. May be fixed.

[2015-07-30 05:49] hobinjk opened #45 "Blog tracker occasionally doesn't reset to 0"
When clicking a tracked blog (using Blog Tracker), the unread posts counter sometimes doesn't reset to 0.

[2015-07-30 05:50] hobinjk opened #46 "Themes: Image option is broken"
This is more a people-should-be-told-how-to-update-themes thing, as Themes+ handles images correctly. Unfortunately the story for updating Themes is currently terrible.

[2015-07-30 05:52] hobinjk opened #47 "Themes: Updating built-in themes is impossible"
Themes currently live in a .json file pulled off of xkit.info, which is kept [here](https://github.com/hobinjk/XKit/blob/gh-pages/Extensions/dist/page/themes.json) for now. It would be nice to have the same type of rebuilding infrastructure for themes as we have for the extensions themselves.

[2015-07-30 05:53] hobinjk opened #48 "Mass Unlike: Number of likes doesn't update"
After mass unliking the number of likes seems to stay the same. This may just be that Mass Unlike fails as doesn't notify people that it failed.

[2015-07-30 05:53] hobinjk opened #49 "/search displays incorrectly"
/search has visual glitches where posts overlap other posts. An image will be attached to this eventually.

[2015-07-30 05:54] hobinjk opened #50 "Go-To-Dash doesn't work on own blog"
I believe that it doesn't display.

[2015-07-30 05:56] hobinjk opened #51 "Intermittent network_failed error after install"
This is probably just Github being finicky. The proper way to fix this is duplicating the retry_count logic used by the old download functions into the ones that fetch from Github. This can also incorporate deleting the old download functions.

[2015-07-30 05:56] hobinjk opened #52 "One Click Postage doesn't autotag in blog sidebar"
Probably an issue with frame_run

[2015-07-30 05:59] hobinjk opened #53 "Replace XCloud"
Provide a good way of transferring settings between XKit installations. The likely way to do this is by leveraging browsers' built-in addon synchronization primitives. The main blocker is that extension scripts should be stored outside of the synced storage.

[2015-07-30 06:00] hobinjk opened #54 "Provide a Mutual/Unfollower Checker"
At least one person wants this

[2015-07-30 06:12] hobinjk opened #55 "Extensions don't run directly on blogs"
To fix the Themes/Themes+ running on blogs debacle I prohibited all extensions from running when in a blog. This is less than ideal.

Fixing this requires testing for themes that subtly differ from what extensions expect. For example, one theme made posts have the "post" class, but stripped out the permalink element used by Timestamps. This in turn caused a scary error message to appear.

[2015-07-30 06:15] dlmarquis opened #56 "Tags sometimes do not show in activity."
Seems to be on a user-by-user basis whether this works or not.

[2015-07-30 06:18] phidari opened #57 "Provide an alternate way to remove a tracked blog"
I'm using Firefox 39 on Ubuntu 14.04. Holding down alt and clicking on a blog name in my tracked blogs section doesn't remove it; it just activates an Ubuntu "feature" that lets me drag the window around.

[2015-07-30 06:20] phidari opened #58 "View On Dash link doesn't appear in sidebar"
Firefox 39. I do have View On Dash enabled -- it works just fine in conjunction with Blog Tracker. But the "View on dash" link that should be appearing in my sidebar isn't there. Pressing alt+v doesn't bring it up either, it just opens my View menu.

[2015-07-30 06:27] dlmarquis commented on #54
Someone mentioned something about this causing problems in the past --- people being banned by staff for using a similar function?

[2015-07-30 06:30] dlmarquis opened #59 "Autotagger and the queue still do not work together"
It does not seem to matter whether the user uses quick queue or not.

[2015-07-30 06:38] dlmarquis opened #60 "K stops working after a new dash page loads"
Potentially a bug with XKit---I can't reproduce it without it.

[2015-07-30 06:39] hobinjk opened #61 "One Click Reblog doesn't give room to write"
When selecting the open in new tab option the composition window that opens does not have a space to write in, forcing the user to mess with the editor to create it.

[2015-07-30 06:40] hobinjk opened #62 "One Click Reblog doesn't handle Markdown as a default editor"
Composition in a new tab breaks because of the way post_window's set content function works.

[2015-07-30 07:59] bvtsang commented on #43
Ack, I just realized the try-catch statement might be unnecessary.

[2015-07-30 11:12] rimbaum commented on #53
If I can make a recommendation, as someone with multiple browser profiles set to sync with different accounts: Perhaps also an "export preferences" option that will create a file with all of your settings, and can be imported regardless of syncing options.

[2015-07-30 15:01] finagle29 commented on #57
From my understanding, since its an Ubuntu "feature", the solution is either to change the key that will remove a tracked blog to shift maybe or super or meta, or tell people with Ubuntu to change the mouse button modifier to something besides alt with `dconf write /org/gnome/desktop/wm/preferences/mouse-button-modifier  '"<Super>"'`

[2015-07-30 16:26] Zarggg commented on #54
Many social networks dislike the idea of being able to see a specific report of people who unfollow a given user.

One thing to consider is that drawing attention to the fact that one user unfollowed another can provide an avenue for the unfollowed user to harass the unfollower.

[2015-07-30 17:01] karuthepanda opened #64 "New update makes reblogging things a mess!"
When reblogging posts it's now impossible to erase any old content. You can't cut posts, you can't erase anything in prior posts even if you wrote it, and it's cluttering the dash and making everything excessively messy. It's also making tumblr unusable for those who RP with GIFs, and it's very frustrating!

[2015-07-30 17:26] #43 closed

[2015-07-30 18:10] dlmarquis commented on #64
DEAR SWEET JESUS WHY.

There's a "remove reblogs" option. I could probably write an extension to pull the contents down into the edit box and turn on the "remove" option by default. I'll look at it today and hopefully have it done by tonight.

[2015-07-30 18:11] Kikaromi commented on #64
Thanks dlmarquis! You'll make RPers (and probably many more people) very happy.

[2015-07-30 18:46] bvtsang commented on #64
Some brief thoughts on @dlmarquis's idea:

You may need to account for the user's text editor. If you pull the contents down into the edit box, you might need to use `$(".editor-richtext").html(quoted_contents)` for rich text and do something else for HTML and Markdown.

Also, for HTML and Markdown, Tumblr seems to wrap the contents of the edit box in `div`s on a line-by-line basis, which might ma

[2015-07-30 19:17] dlmarquis commented on #64
I've pretty much got it working for the Rich Text editor. I'll look at the HTML and Markdown editors now. Hopefully they won't cause too many problems.

[2015-07-30 19:57] BlackjackOHare commented on #64
https://greasyfork.org/en/scripts/11318-tumblr-reblog-fix/code Somebody made a tampermonkey/greasemonkey script that moves everything into the edit box.

[2015-07-30 20:05] anakhasilver commented on #64
That doesn't work on Firefox yet, just gonna point that out.

[2015-07-30 20:11] ReddPyramid commented on #64
Grease/Tampermonkey script also conflicts with some X-kit functionality as well, and I'm not a fan of that. X-kit is my go to.

[2015-07-30 20:17] BlackjackOHare commented on #64
I linked the code so it could be seen how they did it. :/

[2015-07-30 20:23] hobinjk commented on #64
@BlackjackOHare : Thanks for sharing! That is very similar to the approach described by @dlmarquis and @bvtsang. @dlmarquis  is currently eating, otherwise there would already be a patch.

[2015-07-30 20:33] ReddPyramid commented on #64
@BlackjackOHare I wasn't trying to put your advice down.  I'm happy to use the help, and i appreciate it.  I apologize if my comment came off harshly.

[2015-07-30 20:33] anakhasilver commented on #64
Thanks so much for your work, guys!

[2015-07-30 20:34] ReddPyramid commented on #64
And as above, thank you to all of you working to get this resolved!  Lifesavers, every one.

[2015-07-30 20:46] phidari commented on #57
Can confirm that changing the mouse button modifier like that fixes the problem.

[2015-07-30 21:11] BlackjackOHare commented on #64
@ReddPyramid It's alright. ^^ @anakhasilver They updated it to work with firefox. ^^

[2015-07-30 21:23] dlmarquis commented on #64
Done! Just waiting on @hobinjk to merge my request.

@bvtsang the extension uses the interface tool XKit.interface.post_window.set_content_html() to paste in the content, which probably needs to be updated to work for HTML and markdown. I'll take a look at it, but you seem to know more about it than me if you want to take a look too.

[2015-07-30 21:30] BlackjackOHare commented on #64
I think it's bugged, the xkit extension pastes everything within a blockquote without the extra line at the end outside of a blockquote.

[2015-07-30 21:35] dlmarquis commented on #64
@BlackjackOHare Oops, forgot to add the linebreak at the end. Fixed now.

[2015-07-30 21:42] bvtsang commented on #64
@dlmarquis I'll take a look at it for HTML and Markdown. Thank you so much!

[2015-07-30 21:45] alextpedro opened #67 "Editable Reblog deletes text from edit post."
With the Editable Reblog extension enabled, text from edit post gets erased.

Disabled:
![er_disabled](https://cloud.githubusercontent.com/assets/5782944/8995927/830cde1c-370c-11e5-8142-73d057115f4a.png)

Enabled:
![er_enabled](https://cloud.githubusercontent.com/assets/5782944/8995928/830ed280-370c-11e5-93e3-d9fa3a70c288.png)

[2015-07-30 21:46] Yunimori commented on #64
Bug in the script. If you go to edit your post -- YOUR post, not the reblogs -- it removes the text you had in there before, so you have to write the whole thing again.

[2015-07-30 21:56] dlmarquis commented on #64
@Yunimori should be fixed now.

[2015-07-30 22:03] hobinjk commented on #67
This should be fixed by Editable Reblogs v1.0.2. Thank you for reporting it!

[2015-07-30 22:03] #67 closed

[2015-07-30 22:04] Yunimori commented on #64
@dlmarquis  Ah...that actually seems to have made the entire extension not work. Can't edit reblogs again.

[2015-07-30 22:13] dlmarquis commented on #64
@Yunimori Just fixed that (this is what I get for trusting @hobinjk). It pulls the title down as well at the moment but I'm in the middle of fixing that.

[2015-07-30 22:15] Yunimori commented on #64
Thanks, seriously. Lemme know when the title pull gets fixed too, and I'll start testing across browsers again. :3

[2015-07-30 22:17] hobinjk commented on #64
@Yunimori Just fixed that (this is what I get for trusting @dlmarquis ). It no longer pulls down the title.

[2015-07-30 22:23] BlackjackOHare commented on #64
Sweet it's working now. Only weird thing it does is a double linebreak on the new post, but you just have to backspace. ^^

[2015-07-30 22:58] therebetterbepie commented on #64
The editable reblogs extension isn't working for me at all. I've installed it, made sure the old xkit was uninstalled and restarted firefox twice. Doesn't work on the dash or any of my drafts. Any advice?

[2015-07-30 23:00] hobinjk commented on #64
@therebetterbepie Make sure you're using Editable Reblogs version 1.0.7, clicking the manual update button if necessary. It should be working as long as you do not have the HTML/Markdown editor set as the default.

[2015-07-30 23:02] therebetterbepie commented on #64
I just did the manual update and no dice. The rich text editor is my default (I only ever use the HTML editor to do small text) so I don't see why it shouldn't be working but it's not.

[2015-07-30 23:13] dlmarquis commented on #64
@therebetterbepie @hobinjk I had the same issue. I had to manually copy the 1.0.7 code into the xkit editor.

[2015-07-30 23:13] hobinjk commented on #64
I've tested it on Firefox 39 and Firefox 42, and it appears to work in both. It's possible that Tumblr is in the process of pushing an update which breaks the fix. If you can open editable_reblogs in https://www.tumblr.com/xkit_editor and wrap post_window in `try { original_code_goes_here; } catch(e) { alert(e.message); }` there will be more information available about what is going on.

[2015-07-30 23:15] nightpool commented on #64
or just open the console and get the errors? that seems a lot easier to
explain haha.

On Thu, Jul 30, 2015 at 6:13 PM James Hobin <notifications@github.com>
wrote:

[2015-07-30 23:16] hobinjk commented on #64
@therebetterbepie @dlmarquis I've bumped the version number of editable_reblogs to try to fix that issue.

[2015-07-30 23:18] hobinjk commented on #64
nightpool: That actually wasn't working for me in some builds of Firefox due to some bugs with addons and Electrolysis. Of course, YMMV and if that works for you it is definitely easier.

[2015-07-30 23:24] nightpool commented on #64
Hmmm. I gave up on e10s when it kept crashing on my macbook and moved to
chrome, but doesn't xkit js inject into the page so it runs in the same
non-addon context tumblr js does? so there should be no process separation?

On Thu, Jul 30, 2015 at 6:18 PM James Hobin <notifications@github.com>
wrote:

[2015-07-30 23:24] nightpool commented on #64
and I think xkit used to have its own error console you could invoke—does
that also not work or was it removed?

On Thu, Jul 30, 2015 at 6:24 PM Evan G <eg1290@gmail.com> wrote:

[2015-07-30 23:28] nightpool commented on #64
anyway we can take this offline. don't want to spam the people following
the issue.

On Thu, Jul 30, 2015 at 6:24 PM Evan G <eg1290@gmail.com> wrote:

[2015-07-30 23:30] therebetterbepie commented on #64
I tired one more thing before anything else. I used the update all function just to make sure, and that actually worked. Don't know why the manual update didn't work, but at least that's easy.

[2015-07-30 23:34] hobinjk opened #69 "Debugging on Firefox is sad"
Because of the security enhancements in the addon-sdk, errors in XKit on Firefox don't get reported anywhere unless explicitly handled. While this will eventually be fixed in Firefox DevTools (I hope), a stopgap solution needs to exist.

[2015-07-30 23:34] hobinjk commented on #64
On Firefox, XKit now injects into a different context that is bridged by the unsafeWindow wrapper, you can see the details [here](https://github.com/hobinjk/XKit/blob/master/Firefox/index.js).

XKit does still have XKit.console, but it doesn't report uncaught exceptions (yet).

But yes, this is quite a digression from the original issue. I've filed issue #69 to track this.

[2015-07-30 23:35] nightpool commented on #69
does this work if you enable addon debugging and open up the extension console.

[2015-07-30 23:36] nightpool commented on #69
(the "Enable browser chrome and add-on debugging toolboxes" option)

[2015-07-30 23:38] hobinjk commented on #69
In my experience, I've found that neither the add-on debugging console nor the browser chrome toolbox report errors made in the addon's content scripts (xkit.js and friends). That being said, I use Firefox Nightly, which has its own special set of weird behaviors.

[2015-07-31 00:32] karanguni commented on #50
I believe this is part of Go-To-Dash's spec -

That said, it does work for me, so maybe more information needed on how to replicate.

[2015-07-31 00:34] nightpool commented on #50
@karanguni because your post appears on your own dashboard, it *should* theoretically work just fine. (and does under old xkit so any issue here is a regression)

[2015-07-31 00:34] nightpool commented on #50
view-on-dashboard on my own blogs works fine for me.

[2015-07-31 00:45] nightpool commented on #69
okay so this isn't nightly (its just mainline firefox) *and* I just ran it with jpn run (which is different in a few ways from a normal firefox startup but it's escaping me how right now) and logging is working fine:

![image](https://cloud.githubusercontent.com/assets/233815/8998478/7f11ac5c-36f3-11e5-930d-52585260cd60.png)

[2015-07-31 00:52] nightpool opened #70 "add sourceUrl support"
Adding `//# sourceURL=foo.js` to eval'd strings will make them show up in firefox/chrome debuggers. this would be so cool

mdn page:
https://developer.mozilla.org/en-US/docs/Tools/Debugger/How_to/Debug_eval_sources

[2015-07-31 01:43] hobinjk commented on #69
Oh cool! Thank you so much for pointing this out, I didn't think there were any solutions better than just alert()ing everywhere. I will close this issue and resume believing in the free web.

[2015-07-31 01:43] #69 closed

[2015-07-31 02:06] karanguni commented on #69
Choose your own log level: https://blog.mozilla.org/addons/2013/03/27/changes-to-console-log-behaviour-in-sdk-1-14/

[2015-07-31 02:14] sunnybunnybun commented on #56
I have been having this problem for a long time. I think it used to work on my Dell laptop but it's never worked on my hp desktop. I always use google chrome.

[2015-07-31 05:37] realityfabric commented on #61
I could be wrong, I don't know jQuery so I couldn't follow everything that was going on, but could this be a problem with strip_sentence?
Line 1213:
`m_sentence = m_sentence.replace("<p></p>","");`

[2015-07-31 05:55] bvtsang commented on #64
As promised, I researched making this work for the HTML and Markdown editors. I know what needs to happen to fix HTML, but I'm a bit stuck.

### HTML

It turns out that Tumblr is using a library called [Ace](http://ace.c9.io/ "Ace - The High Performance Code Editor for the Web") to add syntax highlighting to their post editor. We're fortunate that `window.ace` is accessible to us and that Ace prov

[2015-07-31 06:10] hobinjk commented on #64
@bvtsang Great research! It's possible to run scripts in the window scope using the function XKit.tools.add_function. It's a pretty horrible API that I was looking at refactoring, but for now it's the best that exists. There is an okay example of its usage in `soft_refresh`, but the general idea is that whatever function is passed in as its first argument gets turned into a script node and injecte

[2015-07-31 06:42] hobinjk commented on #61
@realityfabric That seems like a logical explanation. If you want to test it, go to http://tumblr.com/xkit_editor (it's really nice in Firefox) and open one_click_reblog. There's also more information [here](https://github.com/hobinjk/XKit/wiki/Fixing-a-bug).

[2015-07-31 06:53] realityfabric commented on #61
Well, it doesn't look like that was it, I completely removed that line and nothing changed.

[2015-07-31 07:21] hobinjk commented on #61
Hmm, that's too bad. I'll try a less elegant fix.

[2015-07-31 07:41] #61 closed

[2015-07-31 11:41] Fevix commented on #42
My bad. ColtCelestia here, I didn't realize there was a github.

More information about the failure, at least the version I'm getting:
Nothing crashes, as far as I can tell, but the browser does appear to be downloading information (As evidenced by the favicon part of the tab turning into the blue (Chrome) or green (Firefox) animated circle), but after a while it stops that, Chrome opting to displ

[2015-07-31 13:14] Ledyard commented on #53
Just for a heads up I started to take a whack at getting the old version of xcloud working earlier this week.  Currently it's in a prototype stage and is working on my vps.  https://codeandthings.com:3082

You can see the source here.
https://github.com/Ledyard/XCloud

I set it up to use nodejs since php sounded like more of a pain.

Also I have it set up using AWS S3 and DynamoDB so if we're luck

[2015-07-31 16:08] Ledyard commented on #53
For a future version, just using the browser's built in sync would be nice and fast.   It just depends if we want to support cross browsers or if there is an enhancement to allow third parties to plug into the xcloud service to say manage their tumblr mail or something.

Another solution I've been thinking of is having the plugins handle what the want to upload and receive.  So each plugin would h

[2015-07-31 17:17] nightpool commented on #70
working on a PR for this. feel free to assign me.

[2015-07-31 18:21] xaandria commented on #56
I have this same problem. Tags showed in activity in original xkit, but not this fork. Have always used Chrome.

[2015-07-31 20:13] rhirps opened #76 "One Click Reblog Not Working"
I hover over the reblog button and the screen pops up but when I click the reblog button there all I get is a continuous loading symbol. It won't reblog anything.

[2015-07-31 22:12] NursePhantump commented on #76
Have you uninstalled the old x-kit? If not be sure to do so and that should fix the problem!

[2015-07-31 22:13] realityfabric commented on #64
Sometimes when you reblog the post it posts the original and then the edit, even though in the reblog window it only showed the edit

I've only seen one person other than myself with a double post, and they told me that they are using XKit Mobile. I'm using Google Chrome "Version 44.0.2403.125 unknown".

Not sure if I should make a separate bug report for this or not.

[2015-07-31 22:19] hobinjk commented on #54
Yeah, this seems like not an actually good thing to have. This is what I get for blindly copying asks

[2015-07-31 22:19] #54 closed

[2015-07-31 22:26] hobinjk commented on #50
Works for me on both Firefox and Chrome. Closing unless someone can reproduce.

[2015-07-31 22:26] #50 closed

[2015-07-31 22:46] blindcat97 commented on #60
I also have this issue, though it's a little different. On mine, K doesn't stop working completely, but only scrolls up a few lines instead of the whole post. Very annoying for trying to jump back over long posts. I'm using Chrome 44 (newest available version) and am on Windows 8.1.

[2015-07-31 23:04] eggkin commented on #76
I'm having this problem too, but I've already uninstalled the old xkit and that didn't fix it. I even restarted my entire browser.
Windows 10, chrome.

[2015-07-31 23:10] eggkin commented on #60
I have this problem too, though I haven't been able to figure out why. It didn't start until I got the new xkit yesterday though

[2015-07-31 23:19] just-here-for-xkit commented on #58
Chrome, version 44.0.2403.107. Same issue.

[2015-07-31 23:26] britmus309 opened #77 "so will there ever be a version for safari or are we really just fucked..."
seems a little unfair..

[2015-07-31 23:27] Zarggg commented on #76
I've also noticed this, but I'm not yet sure what causes it.
Windows 10, Firefox. It also happened under Windows 7, so I think the OS is not a contributing factor.

[2015-07-31 23:54] geriatricpsychopaths opened #78 "reply disappearing when editing a post you've already posted."
I don't know if this is happening to anyone else or just me. But when you go to edit a post you've already written (say you find a spelling error or something), your entire reply is being removed. The only response still showing is said person you are responding to.

Edit: When you disable editable reblogs, the issue doesn't happen.
I am running Chrome and all my extensions/New xKIT is up to date.

[2015-08-01 00:29] dlmarquis opened #79 "Make full-width gifs optional"
Tumblr recently made gifs (and possibly other images?) full-width by default by adding the class "tmblr-full". It'd be nice to have an option in the richtext editor to turn this on and off. Simply removing the class in the HTML editor works at present.

[2015-08-01 00:48] dlmarquis commented on #58
@phidari do you mean that the View On Dash extension shows up only when blog tracker is enabled?

[2015-08-01 00:49] xxastraxx commented on #78
I seem to be experiencing this issue as well. Particularly with drafts. When you save a draft, then go to edit it later on from your draft page, it gets wild.. It won't let me delete the previous person's text-- or more accurately, when I delete said text and save the draft, the deleted text is still there in the new draft. (My own text is there as well though?)

I think it's an editing issue simi

[2015-08-01 00:50] phidari commented on #58
I mean the extension doesn't show up at all. When I click on a blog name that I'm tracking, it works properly. But there's never a "View on dash" link to check other blogs with.

[2015-08-01 01:19] schaufel4 opened #80 "Open In Tabs still bugged"
Open In Tabs opens links and blogs in tabs, but nothing on the sidebar (tracked tags, likes, following/ers, etc.). Also, if you enable opening blogs in new tabs, it forces photosets to open in new tabs as well, which makes photosets extremely annoying to view since you can't click through them on the dash anymore.

[2015-08-01 02:09] dlmarquis commented on #80
@schaufel4 what browser and OS do you have? I'm on Ubuntu 14.04 and Firefox 39 and have the sidebar issue but not the photoset issue.

[2015-08-01 02:16] schaufel4 commented on #80
Firefox 39 on Windows 7 Pro. The photoset issue only happens when I've toggled the "Open in new tab instead of blog sidebar" option.

[2015-08-01 02:55] chooope commented on #64
Not sure if this is the right place to say this or not, but uh-- the editable reblogs extension just isn't showing up for me? At all? I've got new xkit, everything seems to be up to date with it, but when I search for this extension in the gallery it just isn't there. Am I doing something wrong or...?

[2015-08-01 03:30] bvtsang commented on #64
@realityfabric Do you mean it reblogs twice, where the first reblog contains the original text and the second reblog contains just the text you appended? Or did you mean something else?

@chooope Is the old XKit uninstalled, disabled, or non-existent (i.e. never installed in the first place)? If so, then could you please file this as a separate issue? Thanks!

[2015-08-01 03:32] dlmarquis opened #81 "Add tweak to block video upload notifications"
We've had reports of the video upload notification not disappearing after a set amount of time and lasting forever and across blogs.

[2015-08-01 03:37] nightpool commented on #77
Unless you want to pay the 100$ per year a development license costs?
On Fri, Jul 31, 2015 at 6:26 PM britmus309 <notifications@github.com> wrote:

[2015-08-01 03:39] dlmarquis commented on #77
@britmus309 developing for Safari (and iOS) costs $100/yr. We'd have to discuss the logistics of opening a donations page, how to disperse the extra money if any, etc. It's something we'll eventually discuss, but we have a lot of other things to deal with too at the moment. There isn't really a timeline other than "probably not soon, but eventually".

Unless anyone else has ideas?

[2015-08-01 03:44] hobinjk commented on #77
I tried to run the Safari extension today and learned that without having paid the $100 fee you can't even install it. This means that we can't even use the sideloading approach employed by Opera users.

[2015-08-01 03:45] hobinjk commented on #77
(buttons are hard)

[2015-08-01 05:26] dlmarquis opened #82 "One Click Reply can't identify usernames properly"
From the askbox:

this just started happening today. im on chrome & my version of one click reply is 2.0.4. when someone replies who doesnt have any hyphens in their url, it shows up as "undefined" in the reply, even if i have the "show icon thing" turned on in settings for it. their icon will show up in the post but instead of their url being there, it will still say undefined. when someone repli

[2015-08-01 05:38] meiloslyther commented on #76
Having the same problem, even after uninstalling the old xkit. Windows 7, Chrome.

[2015-08-01 05:41] meiloslyther commented on #60
Same as blindcat97, but it comes and goes, though it usually doesn't work. Disabling xkit doesn't help, so not sure if it's that or not. Windows 7, Chrome.

[2015-08-01 06:07] chooope commented on #64
@bvtsang No, old xkit is there! I did see the post on the blog about old xkit needing to be uninstalled but when I did that xkit just disappeared altogether, and the about:config solution didn't help, so I reinstalled it since everything else works fine, aside from my aforementioned issue...

[2015-08-01 06:16] dlmarquis commented on #76
Could be a cache problem. Have you tried clearing the cache?

[2015-08-01 06:36] eggkin commented on #76
Just tried that, restarted browser too, didn't work :/
Maybe it's a windows 10 thing for me? I don't quite know how this stuff works, and I only discovered the new xkit the day after I updated so I dont have any previous knowledge on how it was working.

[2015-08-01 06:59] bvtsang opened #83 "Editable Reblogs extension not available in gallery"
According to [chooope](https://github.com/hobinjk/XKit/issues/64#issuecomment-126854114) in #64:

When asked if the old XKit was uninstalled, disabled, or non-existent:

[2015-08-01 07:04] nightpool commented on #83
I'm guessing that the situation is that @chooope is *actually* interacting
with the old xkit. (because when they uninstalled old xkit, their settings
button disappeared)

On Sat, Aug 1, 2015 at 1:59 AM Bryan Tsang <notifications@github.com> wrote:

[2015-08-01 07:09] bvtsang commented on #83
@chooope, just to confirm, did you install XKit from https://addons.mozilla.org/en-US/firefox/addon/new-xkit?

[2015-08-01 07:33] realityfabric commented on #64
@bvtsang No, what is happening is that both the original and edited content appear in one post.

What I think is happening is that the original content is not actually being deleted when it's copied down, but it still looks like it's been deleted while in the reblog box (idk the technical term for it, but the box where you edit posts).

I'd attach an image but I manually fixed it right away, and I

[2015-08-01 07:37] bootyquanda opened #84 "Instant Reblog "remove captions" not working"
It doesn't remove captions anymore.
Very important

[2015-08-01 08:09] sorrytryagain opened #85 ""null" tags"
Sometimes when I reblog, the tag "null" is automatically added onto my post after it's been submitted.

[2015-08-01 09:27] agrunwald82 commented on #82
additionally, at least once (2/3 times) it happened with me that the text of their reply was also, simply, "undefined", erasing their actual reply

[2015-08-01 09:31] agrunwald82 commented on #59
Definitely does not work with regular queueing. All other autotags work.

[2015-08-01 09:49] dlmarquis commented on #64
Currently the extension simulates clicking the remove comments button and then hides the button to bring them back because there wasn't another obvious way to prevent what @realityfabric is describing. This implementation works fine for me, but I've had timing issues with simulated clicks in other extensions (Old Stats) where the click doesn't register. It could be that the same happens in Editabl

[2015-08-01 09:56] dlmarquis commented on #85
Around the time of the Tumblr update to reblogs, I also saw "null" being added to the titles of previously untitled text posts, and as a comment on reblogs as well. This is likely either purely a tumblr update thing, or the recent update broke part of XKit.

[2015-08-01 10:56] rievna opened #86 "Drafts open on the dashboard"
When a draft was opened for editing with the old xkit, it would open with the drafts in the background, and when closed, would return one to one's spot inside the drafts folder. Ever since I installed the new xkit, drafts open on the dashboard. When "edit" is clicked, tumblr briefly loads the dash, then opens the draft on top of it. When editing is complete, one has to click back into the drafts.

[2015-08-01 11:18] rievna commented on #86
Confirmed this is being caused by xkit by disabling all chrome extensions, trying vanilla tumblr, there was no issue. Enable xkit, issue occurs.

[2015-08-01 12:21] KaeganDeoir commented on #83
I'm using Chrome and I'm having the same issue. This is the first time I've ever downloaded XKit, and I got it from the google app store following the link that was on the XKit website.

[2015-08-01 13:28] JawsLaw opened #87 "Remove Caption on one-click reblog no longer working"
windows 10
Chrome Version 45.0.2454.15 beta-m (64-bit)
Xkit 7.6.5

[2015-08-01 13:33] gaycabbage opened #88 ""delete caption" wont work"
hi! whenever i wanna delete a caption, i use the button when hovering over the reblog button.. besides it doesnt delete the actual caption! and i've tried updating, but none of it seem to work..

[2015-08-01 14:09] rhirps commented on #76
I have uninstalled the old xkit. Windows 8.1, Chrome. I cleared the chache and it still didn't work. /:

[2015-08-01 14:24] antialiasis opened #89 "Editing posts with reply quotes is wonky"
(I'm on Firefox; don't know if it matters, but.)

Steps to reproduce:

1. Use the reply-to-a-reply feature to reply to a reply. This opens up the editor, with "[username] replied to your post: [post title]" and then a blockquote with the user's reply. I can type an answer below it and post it just fine.

2. Now edit the resulting post. **Problem 1**: suddenly "[username]", "replied to your", "post

[2015-08-01 14:27] tobytalker commented on #83
I'm having this issue too. This is my first time installing XKit, and I have the newst update, but the 'Editable Reblogs' extension is just not showing up in the gallery.

[2015-08-01 16:29] ceksie opened #90 "one-click postage not working"
the extension doesn't work, it just keeps loading but never goes through

[2015-08-01 17:03] nightpool commented on #88
yep this is related to the most recent tumblr update.

On Sat, Aug 1, 2015 at 8:33 AM gaycabbage <notifications@github.com> wrote:

[2015-08-01 17:05] nightpool commented on #60
I seem to be missing some context here—what is k?

[2015-08-01 17:17] nightpool opened #91 "fresh install on chrome complains of "possible conflict""
1. create a new chrome profile. (starting chrome with an empty user-data-dir will do this)
2. load the xkit extension
3. load tumblr, wait for xkit to install itself.
4. click "refresh the page to continue using xkit"
5. see that xkit complains of an interfering plugin:

![image](https://cloud.githubusercontent.com/assets/233815/9022749/3c97bb5a-3847-11e5-841a-ec0a8d12a3f5.png)

(this is trivially

[2015-08-01 17:18] nightpool commented on #91
I had a similar experience testing the new extension on chrome.

[2015-08-01 17:22] blindcat97 commented on #60
The K key on the keyboard.

[2015-08-01 17:26] nightpool commented on #91
the offending line seems to be xkit.js:758
[code]
which was from the old blog stats bar. Not sure which plugin hides these, but we add them back in. Maybe do the opposite and a check for > 0 would be useful?

[2015-08-01 17:29] nightpool commented on #91
also this line is also true:
[code]
in fact, none of these classes are present at this time

[2015-08-01 17:30] ospreysoul opened #92 "Receiving Error on Install"
I've tried installing on both Chrome and Firefox, and I receive the Code 100 and the Code 101 errors on them, respectively.
Firefox was a new, clean install, and I've uninstalled and reinstalled Chrome twice now, along with switching my Chrome profile and creating a new one.
![temp](https://cloud.githubusercontent.com/assets/13602881/9022802/7686ec82-3851-11e5-9463-3cd968b21398.jpg)

[2015-08-01 17:31] ospreysoul commented on #92
![temp](https://cloud.githubusercontent.com/assets/13602881/9022807/99529054-3851-11e5-9652-819db67289f1.jpg)

[2015-08-01 17:38] bootyquanda commented on #88
Yeah this is pretty much the only thing I want fixed.

[2015-08-01 17:45] nightpool commented on #87
dupe of https://github.com/hobinjk/XKit/issues/84

[2015-08-01 17:47] nightpool commented on #90
dupe of #76

[2015-08-01 17:48] roxrollin opened #93 "View My Tags"
View My Tags won't allow me to add on tags to posts I'm trying to edit, when I click on the tags I use, it simply won't register onto the post I'm making/editing and it won't let me add the tags I wanna use.

[2015-08-01 18:02] #87 closed

[2015-08-01 18:04] #90 closed

[2015-08-01 18:05] ceksie commented on #76
i'm on a mac and using chrome and it doesnt work for me either

[2015-08-01 18:08] nightpool opened #94 "are we using the chrome management permission?"
![image](https://cloud.githubusercontent.com/assets/233815/9022933/5262bb72-384e-11e5-8aee-25b74d69a622.png)
I can't find any reference to it in bridge.js...

[2015-08-01 18:10] nightpool commented on #92
are you running behind some kind of proxy or firewall the prohibits you from contacting the xkit servers?

[2015-08-01 18:14] nightpool commented on #76
can you guys post your xkit and one-click-postage versions?
![image](https://cloud.githubusercontent.com/assets/233815/9022978/2935a1b4-384f-11e5-9521-2c7db5884309.png)
![image](https://cloud.githubusercontent.com/assets/233815/9022980/2e4c2eca-384f-11e5-83ca-f668cb9ac080.png)

[2015-08-01 18:15] nightpool commented on #76
Also, a list of the extensions you have installed would be helpful.

[2015-08-01 18:18] nightpool commented on #86
which extensions do you have enabled?

On Sat, Aug 1, 2015 at 6:18 AM rievna <notifications@github.com> wrote:

[2015-08-01 18:28] rhirps commented on #76
![screenshot 15](https://cloud.githubusercontent.com/assets/13593068/9023024/06b02ba0-3859-11e5-8572-c7bfe1f3a867.png)
![screenshot 16](https://cloud.githubusercontent.com/assets/13593068/9023025/06b5cf92-3859-11e5-883c-48d045763188.png)
xinbox, one click postage, one click reply, tweaks, go to das, activity+, anti-capitalism, auto load images, audio downloader, auto tagger, blacklist, classic sea

[2015-08-01 18:30] eggkin commented on #76
Xkit: 7.6.5
One-click postage: 4.0.0
extensions: all the default ones, timestamps, xcloud, tags on sidebar, classic search, reblog yourself, read more now, reblog as text, outbox, drafts+, convert links, blacklist, color quotes, search likes, servant, auto load images, tag replacer, find inactive, separator, view my tags, audio+, notifications+, access kit, open in tabs, mass+, activity+, Xwidgets

[2015-08-01 18:45] ospreysoul commented on #92
I don't believe so. I've never set up a proxy, and I'm not aware of using one. As far as firewalls go, the only one active is the default Windows firewall. I was running Adblock Plus, but I uninstalled it from Chrome.
By the way, that link won't open for me—it says my connection timed out.

[2015-08-01 18:48] nightpool commented on #92
Then I'm not sure what's going on, but something on your end. (maybe your
ISP?) is blocking you from reaching github.

On Sat, Aug 1, 2015 at 1:45 PM ospreysoul <notifications@github.com> wrote:

[2015-08-01 18:51] meiloslyther commented on #76
xkit: 7.6.5
One-click postage: 4.0.0
extensions: xinbox, one-click postage, one-click reply, tweaks, go-to-dash, anti-capitalism, blacklist, audio downloader, auto load images, auto tagger, color quotes, convert links, enhanced queue, no recommended, no sidebar, open in tabs, outbox, profiler, user menus+, quick tags, read more now, reblog as text, reply viewer, retags, tag viewer, timestamps, vie

[2015-08-01 18:51] nightpool commented on #83
can you please post your xkit version?
![](https://cloud.githubusercontent.com/assets/233815/9022978/2935a1b4-384f-11e5-9521-2c7db5884309.png)

[2015-08-01 18:53] nightpool commented on #92
(just to confirm—you don't see anything at [this link](http://hobinjk.github.io/XKit/Extensions/dist/extensions.js)?)

[2015-08-01 18:55] ospreysoul commented on #92
![temp](https://cloud.githubusercontent.com/assets/13602881/9023138/3ffbd64e-385d-11e5-8faf-e44d117763a5.jpg)
No, that page wouldn't load. Chrome's saying the connection timed out.

[2015-08-01 19:02] nightpool commented on #76
okay these are the extensions you guys all share:

    'anti-capitalism', 'auto tagger', 'blacklist', 'convert links', 'editable reblogs', 'enhanced queue', 'no recommended', 'one click postage', 'open in tabs', 'outbox', 'read more now', 'reblog as text', 'reply viewer'

I'll take a look and see if I can reproduce this.

[2015-08-01 19:05] nightpool commented on #92
can you see [this link](https://mozilla.github.io/)?

some filtering system is blocking your connections to github. are you in a school/work environment where some software like this may be in place?

[2015-08-01 19:08] ceksie commented on #76
http://i.gyazo.com/74f8c7cd18ec4efcabb3743b6dd3f087.png
http://i.gyazo.com/85ecd6b65f9f51899c05955140e9dff4.png
http://i.gyazo.com/016eff5d3e4c5b33b8cb850ebd8a3e98.png

[2015-08-01 19:37] hobinjk commented on #94
We are not. We're also not using the "tabs" permission. I've removed both of these and haven't noticed any decrease in functionality (which makes sense because the only things used are chrome.storage, chrome.runtime, and chrome.extension)

[2015-08-01 19:38] #94 closed

[2015-08-01 19:43] dlmarquis commented on #91
@nightpool Tumblr removed that entire div, so that bit of code should be removed. I'll deal with it, but I'm on a roadtrip right now and my internet could cut out at any time, so it might be a couple hours before you see the changes.

[2015-08-01 19:54] dlmarquis commented on #91
Just submitted the changes. They'll be incorporated into the next release of XKit.

[2015-08-01 19:55] nightpool commented on #91
@dlmarquis I can deal with it, I'm just wondering if there's anything we should put in its place. (we should probably try to detect for old-xkit, for example)

do we have any known conflicts with other tumblr plugins?

[2015-08-01 20:05] nightpool commented on #76
Okay so just to confirm: for all of you guys, the extension won't stop loading?

[2015-08-01 20:06] ceksie commented on #76
nope

[2015-08-01 20:07] ceksie commented on #76
at least not as long as i've waited?

[2015-08-01 20:08] rhirps commented on #76
Yes, it won't stop loading.

[2015-08-01 20:09] dlmarquis commented on #91
@nightpool It should be detecting old versions of Xkit already, but that appears to be broken at the moment. It's probably just a matter of bumping the version number.

We know there's a conflict with Stylish that makes XKit unusable, but we don't know why, since Stylish plays nice with the old version. That probably deserves its own issue.

[2015-08-01 20:15] nightpool commented on #91
@dlmarquis sounds good.

[2015-08-01 20:23] eggkin commented on #76
like, I get the menu to pop up, hit reblog, and the loading symbol doesnt go away, so yeah.

[2015-08-01 20:24] rhirps commented on #76
Yeah same as eggkin but it doesn't reblog the post at all.

[2015-08-01 20:25] eggkin commented on #76
Yeah, rhirps, that's what I mean, it doesn't reblog, it is eternally trying to process the request.

[2015-08-01 20:28] hobinjk commented on #76
"Not loading" is usually the result of an error being encountered in the API call that sends the post. This may be due to a change in protocol accompanying the Tumblr update

[2015-08-01 20:30] rhirps commented on #76
This problem has been going on since before the update with me.

[2015-08-01 20:40] meiloslyther commented on #76
I'm not sure what update you mean, hobinjk, but this has been going on for at least a week for me, maybe two.

[2015-08-01 20:42] nightpool commented on #76
okay I still can't reproduce this, but here's a modified version of one_click_postage that should give us more information about what problem's you're running into:

https://gist.githubusercontent.com/nightpool/aa763df7f1b700e837fd/raw/56b5d9c8196145d06c3ff2747cd84a953d09832b/one_click_postage.js

- open the document, press ctrl-a and then copy
- open up [tumblr.com/xkit_editor](//tumblr.com/xkit_

[2015-08-01 20:44] ceksie commented on #76
for me it's still loading like it was before

[2015-08-01 20:45] Raevik opened #96 "I can't install it ?"
Whenever I try to install it I get this message
![image](https://cloud.githubusercontent.com/assets/13604368/9023511/d3c5d1a4-389e-11e5-90c1-fd6869d44335.png)
I deactivated all proxies and it didn't work either so that's not the problem.
Can anyone please help me?

[2015-08-01 20:45] nightpool commented on #76
@hobinjk i dunno, the onerror handlers for those calls are pretty well populated. there aren't many places that aren't covered by a try/catch block.

[2015-08-01 20:47] nightpool commented on #76
@ceksie if you open up the developer console, (cmd-alt-j) do you see any red errors?

[2015-08-01 20:48] ceksie commented on #76
yes lots i'll get a pic

[2015-08-01 20:48] ceksie commented on #76
http://gyazo.com/0c9483e0d9cf748f2c92ad86d69f0636

[2015-08-01 20:51] eggkin commented on #76
The edit didn't work for me, I am still getting the same problem.

[2015-08-01 20:54] gloomykid commented on #60
i have the same issue on chrome, win7.

[2015-08-01 20:54] ryulong opened #97 "Blacklist issues"
A while ago, XKit used to be able to blacklist posts based on the source blog, and after Tumblr updated and the original XKit extension went dead this feature dropped. When you guys picked it back up again, this little side feature returned, but I think within the past few days this just plain stopped working again. Is there a way for the blacklist to recognize the source blog again?

[2015-08-01 20:57] nightpool commented on #96
this is a problem with the google web store, not xkit. you can read more
about it here
https://productforums.google.com/forum/#!topic/chrome/2AvdDgSJY08

On Sat, Aug 1, 2015 at 3:45 PM Raevik <notifications@github.com> wrote:

[2015-08-01 20:59] Raevik commented on #96
Thank you a lot I will

[2015-08-01 20:59] #96 closed

[2015-08-01 21:03] nightpool commented on #76
Found it! this is a problem with autotagger, but only if you've enabled "replace dashes in the username with spaces"

disable this option for now, and then we'll have a fix out soon that will allow you to re-enable it.

[2015-08-01 21:05] ceksie commented on #76
works now, thanks!

[2015-08-01 21:07] eggkin commented on #76
Works wonderfully now, with that disabled, thanks!

[2015-08-01 21:21] nightpool commented on #76
@hobinjk do we have a translation layer between the returned 'svc/post' models and xkit.interfaces.post objects? it looks like the code assumes they're going to be the same thing. (which is bad for us if tumblr changes any of their API)

[2015-08-01 21:24] nightpool commented on #85
this is the same bug as #76, I believe. (tumblr changed some part of their API). Do you have auto-tagger enabled?

@dlmarquis I saw that to, but that's probably something else. I'm pretty sure it was happening to people who didn't have xkit installed at all.

[2015-08-01 21:27] hobinjk commented on #76
@nightpool No, if I remember correctly the XKit.interface.post objects are only generated by scraping the ".post" elements whereas svc/post/* can do whatever it wants to. It would definitely be worthwhile to create XKit.interface.post.delete, XKit.interface.post.update, and XKit.interface.post.fetch. The main reason that hasn't already happened is that the object that the svc/post/* methods use is

[2015-08-01 21:31] fonbella commented on #82
I'm using Chrome version 44.0.2403.125 and I am having the same issue with one click reply changing people's urls simply to "undefined". Additionally, and this has been happening for a longer time, even though I have the option to post a tag with the person's url when replying to someone, this doesn't work. The tag field is simply empty and I need to enter the url manually.

[2015-08-01 21:35] nightpool commented on #82
intuitively, this is probably related to #76 also—I'm trying to find all of
the places that were affected by this tumblr api change and I'll make sure
to look through here

On Sat, Aug 1, 2015 at 4:31 PM fonbella <notifications@github.com> wrote:

[2015-08-01 22:27] ofinnocxnce opened #100 "Editable Reblogs doubles your post when drafted"
Okay, so when i go to draft a text post, it basically shows the same thing twice in that reply. Like when for example the text post was
"url:
oh my god this new xkit is awesome!"
and you put it into your drafts it then is
"url:
oh my god this new xkit is awesome!
url:
oh my god this new xkit is awesome!"

I hope you get what i mean!

[2015-08-01 23:36] ThePsionic opened #101 "Elevator back to top button"
Just for fun, shits and giggles, incorporate the [wonderfulness that is Elevator.js](http://tholman.com/elevator.js/) to enjoy going back to the top of the page. This is of course entirely optional and has no effect on anything so I understand if you don't want to do this ;)

[2015-08-01 23:56] promise-reprise opened #103 "Editable Reblogs causes tumblr to claim Post Is Empty"
So every time I tried to reblog something with the Editable Reblogs extension, tumblr said the post could not be empty. Uninstalling Editable Reblogs fixed the issue.

[2015-08-02 00:04] hobinjk opened #104 "In the absence of bundles, quick tags should prompt you to add them"
From an ask

This sounds like both Quick Tags and One Click Postage are enabled. In the absence of tag bundles Quick Tags should display either nothing or a create tag bundle button where it would normally have the bundle buttons.

[2015-08-02 00:24] Zarggg commented on #101
I've seen someone use an implementation of this with "Careless Whisper" and I just about died laughing.

Definitely an optional extension candidate, IMHO.

[2015-08-02 01:04] gloomykid commented on #46
also using themes+ and it kind of broke the header, too.
http://puu.sh/jlYJ6/cd4360e5fb.jpg
whenever i stopped using themes+ this is not a problem, but as soon as i create a new theme and enter a background image, this happens.

[2015-08-02 01:09] KaeganDeoir commented on #83
I fixed my problem this morning. I had to update the Chrome browser, then updated the XKit patches. My version was 7.6.5

[2015-08-02 01:46] ospreysoul commented on #92
No, I'm actually on my own computer that I put together myself about a month ago. I've been looking everywhere to find out why github in particular seems to be partially blocked to me.

[2015-08-02 01:53] hobinjk commented on #92
Something that might be worthwhile is checking your DNS configuration. I would especially think that this is the root of the issue if accessing other .io domains doesn't work. [https://crates.io/](https://crates.io/) should be up unless it's specifically github.io that is unreachable.

[2015-08-02 03:06] ospreysoul commented on #92
That link works for me just fine. So, I guess it's github.io

[2015-08-02 06:42] rievna commented on #86
Extensions enabled include XInbox, One Click Postage, One Click Reply, Go-to-Dash, Audio+, Auto Load Images, Auto Tagger, Blacklist, Bookmarker, Drafts+, Enhanced Queue, Find Inactives, Glowing Follow, Mass Deleter, Notifications +, Outbox, Post Archiver, Post Crushes, Quick Tags, Read More Now, Read Posts, Reblog as Text, Reblog Yourself, Reply Viewer, Retags, Scroll to Bottom, Tagviewer, Tags on

[2015-08-02 06:49] laurajax opened #105 "Retags does not work"
Retags has not displayed the tags on reblogs for me ever since some time ago on old xkit; it was one of the first extensions to stop working. When it didn't work on New Xkit I assumed that was to be expected, until I saw you guys answering asks as if it was working.

I disabled all other chrome and xkit extensions except for Retags, and it still does not work. I have Retags 0.6.6

[2015-08-02 07:00] nightpool commented on #86
the only way we can fix something is if we can consistently reproduce it.*
Therefore, when we can't reproduce it trivially under a default/"standard"
xkit setup, we need more information on your environment to try to
replicate the same conditions that break xkit. That's why I asked for your
extensions.

I don't really know enough about drafts to give you any real suspects, but
maybe try disabling

[2015-08-02 07:18] hobinjk commented on #86
Drafts+ appears to do this intentionally, behavior is implemented [here](https://github.com/hobinjk/XKit/blob/master/Extensions/drafts_plus.js#L202)

[2015-08-02 07:39] nightpool commented on #86
That's odd... maybe this is behavior from a time before the current tumblr
behavior? Or it smooths over certain instabilities that only show up (or
used to show up) in the drafting environment?

On Sat, Aug 1, 2015 at 6:18 AM rievna <notifications@github.com> wrote:

[2015-08-02 08:36] hobinjk commented on #101
It's like you're inside my brain! This was one of the first ideas I had for an extension and I am happy to announce that Elevator v0.0.1 now exists. Someone should stop me before I make Piano Scroller happen.

[2015-08-02 08:36] #101 closed

[2015-08-02 09:13] rievna commented on #86
I've isolated the problem. For me, it's not Drafts+, it's being caused by the "move edit and remove out of the gear" experimental function in Tweaks. I have it unchecked for now and no longer have the problem, however, it is a feature I enjoy and would like to be able to both use it and not be thrown onto the dashboard when editing a draft. I don't know how high experimental functions are on you g

[2015-08-02 09:19] rievna commented on #86
Also since disabling that checkmark under Tweaks I reinstalled Drafts+ and it does not dump me on the dashboard but opens the drafts inside the drafts folder as desired, so Drafts+ is confirmed not the cause.

[2015-08-02 10:45] ThePsionic opened #106 "Blacklist mini-ui is broken"
![image](https://cloud.githubusercontent.com/assets/842080/9025762/401c6cb2-3914-11e5-9eb0-1aae4330dba1.png)
The excuse text is white, the source overrides the excuse text, and the button to show it anyway falls under the post.

[2015-08-02 10:49] ThePsionic commented on #101
You are an amazing person and I love you, @hobinjk.

[2015-08-02 10:56] ThePsionic opened #107 "Servant colours don't fit nicely"
![image](https://cloud.githubusercontent.com/assets/842080/9025802/d8bc6692-3915-11e5-8372-4f2ff95ff84a.png)
There's a small white gap between coloured edges set by the Servant module and the actual top edge of the post.

[2015-08-02 13:36] hanharr opened #108 "known issue from original xkit - multifox and one-click postage won't work together"
first of all thanks for working on xkit! is there any chance that the issue where multifox and xkit's one-click postage extension don't get along is something you guys can fix? for reference, my default profile on firefox uses the extension just fine but when i switch to another profile in multifox, xkit responds with the "i could not draft/queue/reblog your post" error. if you guys can figure out

[2015-08-02 14:12] dlmarquis commented on #103
Can you give us information on your OS, browser, and other extensions? This is likely specific to your configuration.

[2015-08-02 15:23] nightpool opened #109 "[RFC] new support infastructure"
working on some additions to xkit to help with support stuff. plan is to create a button that will give you a github gist url containing

 - Browser/OS
 - XKit version
 - enabled plugins
 - plugin versions

anybody have any other ideas on stuff I could include?

stretch goal is if I can get xkit to add this to all new-xkit-extension asks transparently.

[2015-08-02 15:23] nightpool commented on #109
created this to get feeback/ideas on what stuff I should include.

[2015-08-02 15:28] Wolvan commented on #109
I'd suggest we add this to the XKit Control Panel as it's own tab.
Additionally we could have a textarea where the user can type their problems into.
Is there a REST API call to github to open new issues in a project?

[2015-08-02 15:34] nightpool commented on #109
@wolvan I'm going to be adding it to the xkit support tab.

I considered using github issues, but that requires people to have github logins. (or have all the issues be associated with one of our user accounts, I guess, which would be harder as we'd need some sort of intermediary server infrastructure)

[2015-08-02 15:52] Wolvan commented on #109
@nightpool I don't see a reason for any intermediary server infrastructure. We'll just push issues with the POST /repos/:owner/:repo/issues API to github and supply OAuth (I think it works with OAuth) of an account made only for issues

[2015-08-02 15:59] nightpool commented on #109
@Wolvan but then anyone could use that account to do other stuff, without
us being able to know about it, because they'd have the oauth token to
control it.

On Sun, Aug 2, 2015 at 10:52 AM Wolvan <notifications@github.com> wrote:

[2015-08-02 16:42] Wolvan commented on #109
@nightpool Shit, you're right. I didn't think of that. Does gist allow posts without an API Token/Account though?
Also, I did some scripting in google apps script recently, could we use that as our intermediary server?

[2015-08-02 17:01] nightpool commented on #109
@Wolvan You need an application client token, but nothing more then that IIRC.

[2015-08-02 17:12] Wolvan commented on #109
@nightpool gotcha. Although it would probably still be a lot easier for support to automatically open issues. You didn't answer me about the idea with google apps script yet, though

[2015-08-02 17:19] nightpool commented on #109
@Wolvan lets wait to bikeshed this until there's some working code. I think there are going to be more difficulties with using github issues, including de-duplicating them effectively and dealing with support requests that aren't bugs but end up in the repo anyway, but I don't think we need to hammer this out right now. I'm just trying to incrementally improve it right now but having it auto-gener

[2015-08-02 17:26] Wolvan commented on #109
@nightpool Point taken. If you only want the basics so far I'd say you push the gist idea back and simply print all of the required into into a textarea on the support page so they only have to copy and paste it

[2015-08-02 18:30] creatrixtiara opened #110 "Notifications on Activity Page cut off when selecting "retags/reblogs only""
<img width="559" alt="Activity page" src="https://cloud.githubusercontent.com/assets/8474427/9027433/b4eb9848-3909-11e5-95bd-5e69ad4ac3fc.png">
<img width="208" alt="Relevant extensions" src="https://cloud.githubusercontent.com/assets/8474427/9027434/b4ece590-3909-11e5-91fe-aeb220507988.png">

For some reason the notifications on my Activity Page get cut off when I ask to show retags & reblogs onl

[2015-08-02 18:42] wukongandsun opened #111 "Editable Reblogs/a few other extensions including outbox won`t play nice with multifox"
much like a similar post previously, I am having issues with the multifox and xkit meshing. But it outright won`t allow any of the blogs on my multifox use editable reblogs. I`ve tried it on several now, and it just hates this I suppose.

[2015-08-02 19:50] owlspice opened #112 "xkit support on pale moon"
Pale Moon is a web browser based on firefox, but trying to install the new xkit brings back "not available for firefox 24.9." Is there a workaround or fix for this?

[2015-08-02 20:00] hobinjk commented on #109
As far as a copy-paste solution goes, we could kill two birds with one stone by making this use a more generic Save/Restore function that would locally replace XCloud. Then when someone has a problem they send us their XKit backup file and we have their exact setup.

[2015-08-02 20:14] ospreysoul commented on #92
Finally got it to work today! I think my router simply needed to power cycle for a bit.

[2015-08-02 20:14] #92 closed

[2015-08-02 20:17] nightpool commented on #109
I had considered that, but I decided having the entire configuration of
someone's xkit had vaguely weird privacy-configurations, so I'm sticking
just to a list of extensions for now.

I'm probably going to make a save/restore function anyway, at least to help
with migrating from old xkit if nothing else.

On Sun, Aug 2, 2015 at 3:00 PM James Hobin <notifications@github.com> wrote:

[2015-08-02 20:18] nightpool commented on #112
does pale moon support the Addon SDK? If so then it shouldn't be too hard
to provide support for it.

On Sun, Aug 2, 2015 at 2:50 PM owlspice <notifications@github.com> wrote:

[2015-08-02 20:19] nightpool commented on #112
(as distinct from the extension api, that is)

On Sun, Aug 2, 2015 at 3:18 PM Evan G <eg1290@gmail.com> wrote:

[2015-08-02 20:24] nightpool commented on #109
I'm finding a *lot* of hand-rolled html and string concatenation in here... does anyone have a preferred templating library or should I just pick one?

[2015-08-02 20:47] Zarggg commented on #112
Pale Moon uses their own GUID, I believe.

https://forum.palemoon.org/viewtopic.php?f=24&t=8740
https://forum.palemoon.org/viewtopic.php?f=1&t=5440

[2015-08-02 20:52] Wolvan commented on #109
Couldn't we go with just a json string here? It's easy to get back into a readable form and it's a single string

[2015-08-02 20:57] nightpool commented on #112
the relevant section:

I don't think we're going to be building extensions with the pale moon sdk, but it seems like it should be an almost drop in replacement if you want to build the extensions yourself.

[2015-08-02 20:59] owlspice commented on #112
Hmmm, about what I expected. Oh well, thanks for your time, everybody!

[2015-08-02 21:00] nightpool commented on #109
@Wolvan we have functions with complexity counts in the hundreds because they're recreating by hand all of the loops and if conditions a proper templating language would provide for us.

also, escaping :/

[2015-08-02 21:01] nightpool commented on #109
I don't even want to think about how many potential XSS attacks are lying in wait in the xkit source code.

[2015-08-02 21:44] hobinjk commented on #109
I'm not sure that I see where a templating engine would benefit the internal representation of a transferable list of extensions.

As far as using templates in the interface, I will be interested to see if there are any solutions that will not require significant changes to the build or to the extension. Unless there is a great solution with no impact to backwards compatibility or user experience

[2015-08-02 22:05] nightpool commented on #109
@hobinjk I basically agree with you, but its useful to note that
xkit_preferences is over 2500 lines of code, and the majority of that is
hacked-together string based html manipulation. (including dozens of nested
if statements in each function, oodles of copy-and-pasted code, and all the
other problems that plague the majority of the "classic" xkit codebase)

however I can acknowledge that xkit_p

[2015-08-02 22:09] Wolvan commented on #109
The code of XKit deserves a heavy cleanup, but that should be put in it's own issue, I agree with @hobinjk here.
It's still something we have to look into in the future, such messy code makes developing for XKit an absolute pain. It takes you at least 2-3 days to even understand what XKit is doing where the way it is right now

[2015-08-02 22:52] hobinjk commented on #108
I believe that the way Multifox works makes it so that XKit mistakenly identifies itself as the first blog you were logged into. This probably should be reported as a bug in Multifox because they should be properly creating different cookie jars for different profiles and this suggests that they aren't.

[2015-08-02 23:39] Schmaiffe commented on #105
Heya, I'm not a programmer or anything, but I had problems with retags on the old xkit and found out it was a third party extension, which can be found here: https://github.com/alexhong/tumblr-retags

In my case, even the new version didn't work because of a problem with the cache, so the dev very kindly made a no-cache version, here: https://github.com/alexhong/tumblr-retags/blob/master/tumblr-re

[2015-08-03 00:06] chooope commented on #83
Hi, sorry for the delay! @bvtsang I did download from that link, yes, and I am on Firefox. This is my version of xkit. http://i.gyazo.com/d4e3b71d2b39680d253aec0c9aa8d7ec.png

[2015-08-03 01:26] nightpool commented on #83
@chooope that version is an out-of-date old xkit version. Uninstall all xkit extensions in about:addons (ctrl-shift-a), and reinstall new xkit from https://addons.mozilla.org/en-US/firefox/addon/new-xkit/

[2015-08-03 01:43] xxastraxx commented on #100
I get the same thing. Also, I can't delete the extra text? I can delete it while editing, but once I save the draft, it's as if I didn't delete anything, and the duplicated text is still there.

OP, what sort of operating system and browser are you using? Maybe we're experiencing similar issues because of that?

I have Windows 7, Firefox 39, and I know everything x-kit is up to date for me....

[2015-08-03 02:20] Schmaiffe opened #113 "Block notifications doesn't work with Activity+"
I can still see the button to block notifications on the original post, and it shows as selected, but the notifications still show up on my activity feed. (I have notifications turned off on my dash.) I don't get anything on the notifications that lets me block the post either, I have to have the post on the tumblr.com/blog/[myblog] view. (Fun since the post is from literally two years ago, why is

[2015-08-03 15:11] albinakarambura opened #114 "Read More Now only works with reblogs"
Read More Now button doesn't show up when I see a post on my dash from the original source.

[2015-08-03 18:43] nightpool commented on #109
@hobinjk style question—when should I put stuff into xkit_patches as opposed to xkit.js? For example if I wanted to make a new XKit.tools function?

Is there a good guideline or is it just kinda whatever?

[2015-08-03 18:46] hobinjk commented on #109
@nightpool xkit_patches is a much better location because it updates automatically. Anything in xkit.js requires going through Chrome and Firefox's distribution channels.

[2015-08-03 19:13] olijo commented on #56
same here. the tags showed till two days ago. i thought it might have to do with the account, it was still there. i checked with the ad blocker in case i blocked something by mistake, the tags still didn't show.

![lkmlkmk](https://cloud.githubusercontent.com/assets/13630248/9045581/7d0c361e-3a24-11e5-8be7-d005e2218172.PNG)

[2015-08-03 19:16] laurajax commented on #105
Thank you! Both versions work for me on normal notifications and the activity page, but for whatever reason the notifications that come up from the xkit extension "classic notifications" only show the tags for a split-second before they disappear. This happens with both the cache and non-cache versions of the extension. I wonder what's causing that?

[2015-08-03 20:32] Kikaromi opened #115 "Weird Bug with Timestamps and Asks"
In the Timestamps app, if you set it to display the relative time (I.E. 5 minutes ago) either by itself or not, for Asks it'll only display "an hour ago" until the ask is 2 hours old, then it displays the normal "2 hours ago" so on and so forth.

This bug doesn't affect posts on the dash; it's only asks.
; w; Just thought to mention it.

[2015-08-03 20:40] albinakarambura commented on #115
Inbox timestamps don't work right for me too. I get asks from the future with "in eight hours". I think it probably depends on the time zone of the sender.

[2015-08-03 20:43] nightpool commented on #115
@albinakarambura make sure you have your timezone set correctly on your
computer—otherwise XKit won't be able to calculate the proper offset.

On Mon, Aug 3, 2015 at 3:40 PM albinakarambura <notifications@github.com>
wrote:

[2015-08-03 20:45] nightpool commented on #115
@albinakarambura [this page](https://jsfiddle.net/xn29871z/embedded/result/) will show you the current local time and timezone xkit thinks it's in. If either one of these is wrong, you'd have problems like you're seeing currently.

[2015-08-03 20:49] albinakarambura commented on #115
I am 100% sure that timezone on my computer is set correctly, but I just checked anyway, and it is.
That page determines my local time and timezone correctly.

[2015-08-03 20:50] nightpool commented on #115
Interesting. Make a new issue, please?

On Mon, Aug 3, 2015 at 3:49 PM albinakarambura <notifications@github.com>
wrote:

[2015-08-03 20:58] albinakarambura opened #116 "Inbox timestamps from the future"
![image](https://cloud.githubusercontent.com/assets/1273206/9047521/35796e9a-3a3b-11e5-909d-5cecde440a92.png)

Relative time doesn't work right for timestamps on the asks.
That's the ask I got 6 hours ago, it displayed "in 8 hours" at the time.

[2015-08-03 21:02] ofinnocxnce commented on #100
I have Windows 10 and the newest Google Chrome and I at least can edit the drafts and remove the extra text, but it's still annoying

[2015-08-03 21:03] nightpool commented on #100
I'm working on some other fixes for editable reblogs so I'll see if I can
get this fixed too.

On Mon, Aug 3, 2015 at 4:02 PM ofinnocxnce <notifications@github.com> wrote:

[2015-08-03 21:16] Kikaromi commented on #116
Oddly enough mine is the opposite; mine is an hour in the past.
![ask](https://cloud.githubusercontent.com/assets/13576045/9047915/ba92f998-39fa-11e5-97a8-07d60ccf59f8.jpg)

Just in case I checked whether or not Xkit was correct with my time zone and sure enough it is:
![time-zone](https://cloud.githubusercontent.com/assets/13576045/9047920/cc93719a-39fa-11e5-9bc2-bd62d9cbcecc.jpg)

If I can throw

[2015-08-03 21:41] albinakarambura commented on #116
So I just sent myself an ask to recheck everything, and it appears that it's not only relative time that glitches in the inbox:

![image](https://cloud.githubusercontent.com/assets/1273206/9048365/41f19d4a-3a41-11e5-9de7-8432d4d5b68e.png)

And after refreshing:
![image](https://cloud.githubusercontent.com/assets/1273206/9048349/2aa96bd6-3a41-11e5-9ac8-e40fcaa77630.png)

This one is still correct:

[2015-08-03 22:12] hobinjk commented on #116
The way the API we use for timestamps works is that it gives back Tumblr's server time. When fixing this issue originally I assumed that this would always be New York time. It's possible that they have different timezones, which would be annoying.

Please make sure that your version of XKit is at least 7.6.5 and your version of Timestamps is 2.7.3.

[2015-08-03 22:16] albinakarambura commented on #116
![image](https://cloud.githubusercontent.com/assets/1273206/9049004/4fbedd02-3a46-11e5-803a-260628b05e41.png)
![image](https://cloud.githubusercontent.com/assets/1273206/9049011/5f6980ea-3a46-11e5-9fd9-9c3b071b7710.png)

[2015-08-03 22:23] Kikaromi commented on #116
@hobinjk
Well the timestamps seems to display relative time correctly for me now after changed my Blog Settings' Timezone to EST and back to mine (CST).

If anything you could make that a temporary fix?

[2015-08-03 22:26] hobinjk commented on #116
This definitely merits more investigation. I think the answer may be that Timestamps needs to read the user's timezone settings. Hopefully it won't need to try to guess the server timezone. I can take a closer look at this once I am off work.

[2015-08-03 22:44] albinakarambura commented on #116
I checked my blog setting, and tumblr doesn't have my timezone correctly:
![image](https://cloud.githubusercontent.com/assets/1273206/9049363/f7982968-3a49-11e5-8fdf-8d5aae318382.png)
That's correct cities, but it should be GMT +3:00.

[2015-08-04 00:16] mackenbrose commented on #113
I'm not sure if you've seen this, but I posted a solution of sorts at my tumblr (http://mackenbrose.tumblr.com/post/118721212682/notification-block-fix). I first figured this out months ago when the original coding went glitchy and xkit guy left. So far it seems to be holding up for me. I still have the OLD xkit so far though and I use Chrome, but it's the same coding so it should work for Firefox

[2015-08-04 00:36] Schmaiffe commented on #113
Thank you for the reply! I had not seen that, and I just tried it, but sadly the notifications are still on my activity page. I double-checked that the post is blocked, even unblocked and reblocked it, but it still shows up. I am using the new xkit, though the code did look the same and I found the bit in your post without any problem.

[2015-08-04 00:49] mackenbrose commented on #113
My only other advice is double check to make sure the preference pane logo is loaded (sometimes that doesn't load and my notifications don't get blocked because it's still slow as heck). Also. Question-- do you have Activity+ installed? (and if so after you follow the tutorial, make sure "group notifications by post" is unchecked. This is a super important thing as that function screws with Notifi

[2015-08-04 00:53] Schmaiffe commented on #113
Oh! So, I didn't think I had Activity+ installed, but I checked and it was installed but the button to activate it was unchecked since I never use it. I uninstalled it and it's working now, thank you!

[2015-08-04 01:27] sundubu opened #118 "this extension is automatically disabled in private mode on firefox"
when i tried to look up how to turn extensions back on in private mode, firefox support was saying that they tell extensions whether youre in private mode, and the extension itself decides whether or not it will still run when users are using private windows. would really appreciate an option to leave it on when im browsing on private! thanks.

[2015-08-04 03:56] bvtsang commented on #64
I'm in the middle of working on making this work for Markdown. I've learned that `Xkit.tools.add_function` strips out newlines in its `addt` argument, which affects how Markdown is rendered. I'm reluctant to change `add_function` because I don't know if stripping newlines is preserving some functionality I'm not yet aware of.

Work in progress: https://gfycat.com/GlaringPerfectAssassinbug

[2015-08-04 04:23] bvtsang commented on #83
Closing this issue because it seems that updating XKit fixes it.

Though now that I think about it, it seems easy for people to get confused by the old and new XKits. We could fix this with better education on the new XKit blog or changing URLs (like in c0b093c93f6aea546eabd213c1e5ac2fc6758c73).

[2015-08-04 04:37] hobinjk commented on #64
What about running whatever you want addt through JSON.stringify and then JSON.parse? That will properly escape and unescape the newlines for you

[2015-08-04 04:41] nightpool commented on #64
I've gotten markdown working, just need to separate it out from the other
changes I have in-tree and PR it.

On Mon, Aug 3, 2015 at 11:37 PM James Hobin <notifications@github.com>
wrote:

[2015-08-04 04:42] nightpool commented on #64
@bvtsang Did you put a markdown parser in-tree? I think its best in this case to just use the tumblr js function that natively converts html to markdown....

[2015-08-04 04:43] nightpool commented on #64
also @hobinjk I think the change I'm going to pr will just change add_function to always use JSON.stringify—it doesn't change anything about the current semantics, (strings still look like strings) and it makes it a lot more intuitive/easier to code with add function.

[2015-08-04 04:44] nightpool commented on #64
but this isn't a required part of the change so feel free to challenge that when it comes up or whatever.

[2015-08-04 04:46] bvtsang commented on #64
Manually imported https://github.com/domchristie/to-markdown in the same manner as the library used in Elevator, though if you've already gotten it working then I'll leave that to you.

I know Tumblr has a function that converts HTML to Markdown, but I'm not sure what it's called. Minified Javascript isn't easy to look through.

[2015-08-04 04:46] nightpool commented on #64
(also its a lot less fragile then just the stripping newlines thing—it protects against having to double escape quotation marks also, for example)

[2015-08-04 04:48] nightpool commented on #64
@bvtsang its actually very simple—just a `require("to-markdown").toMarkdown`.

I sympathize though, Backbone is a fucking pain to step through and it took me at least 20 minutes before I found the actual functions I needed.

[2015-08-04 05:27] #64 closed

[2015-08-04 06:01] dlmarquis opened #120 "Uninstalling elevator extension takes infinite time"
I can uninstall everything else just fine. The only other time I've had this happen was when trying to uninstall Estufar's Sidebar Extension, and I had originally assumed that was because it was not in the extensions library.

[2015-08-04 06:03] dlmarquis opened #121 "could you perhaps create an option in the open in new tabs extension so it wouldn't apply to blogs off the dashboard?"
(From asks)

[2015-08-04 06:10] hobinjk commented on #55
Fixed in 7.6.7

[2015-08-04 06:10] #55 closed

[2015-08-04 06:11] hobinjk commented on #51
This is apparently all Chrome's fault, further details somewhere on the blog.

[2015-08-04 06:11] #51 closed

[2015-08-04 06:12] hobinjk commented on #76
Closing because this hopefully works now.

[2015-08-04 06:12] #76 closed

[2015-08-04 06:34] dlmarquis opened #122 "Make Quick Tags pop-up stay"
Full text of ask:

Hello! First of all, thanks so much for all your hard work! Secondly, I'm really loving the pop-up tags adder under the Quick Tags feature, but it's a little hard to work with when the menu disappears whenever the mouse isn't hovering over it. Is there a way to make the box remain, even if the mouse isn't placed over it, like the One-Click Postage feature? Thanks again!

[2015-08-04 06:41] chooope commented on #83
Hey, uh, @nightpool and @bvtsang , when I do that I don't see xkit at all anymore? Like the xkit button is gone from my dash/activity page and none of the settings are there anymore.

[2015-08-04 06:45] albinakarambura commented on #114
I've isolated the issue.

It works correctly when I switch blog setting to English. It usually is in Russian for me, and instead of "Keep reading", I see "Читать дальше" on the original posts without the read more now button. But when I see the reblogs, it always says "Keep reading" and the button works then.

[2015-08-04 06:48] dlmarquis opened #123 "Queued posts don't retain caption"
Full text of issue:

Maybe it’s tumblr being stupid or, a chrome issue, or maybe the new-xkit-extension is having issues, but I’m finding a lot of the stuff that comes out of my queue posts without the caption/full blog post. It’s definitely there when I initially put the post in my queue, but when it’s finally up it’s just the title or the video in question and nothing else. I swear I’m not purpo

[2015-08-04 07:48] hobinjk commented on #120
Likely fixed by Elevator v0.0.3

[2015-08-04 07:48] #120 closed

[2015-08-04 07:51] hobinjk commented on #116
Upon looking into this it turns out that Tumblr serves asks to people using their locally configured timezone (I assumed mine was PDT, I was wrong). This will likely require a gross cached solution to be fast.

[2015-08-04 08:24] albinakarambura commented on #114
Check out my pull request, maybe?

[2015-08-04 16:38] nightpool commented on #123
Are the captions there when the posts are in your queue? (I.e. After you
save them but before they get published automatically)
On Tue, Aug 4, 2015 at 1:48 AM dlmarquis <notifications@github.com> wrote:

[2015-08-04 16:53] bvtsang commented on #83
I just tried the following steps:

0. Uninstall all XKit extensions (I normally don't use Firefox, so I have no installed extensions)
  - You can follow @nightpool's steps in his comment above to do this
1. Log into Tumblr on Firefox (I'm on Firefox 39)
2. Visit https://addons.mozilla.org/en-US/firefox/addon/new-xkit/ in a new tab
3. Click yellow striped Add to Firefox button (version listed on th

[2015-08-04 21:40] mjenkins94 opened #125 "CLEAR CAPTIONS"
It doesn't work at all, when you select clear captions the captions stay....any fix to this.?

[2015-08-04 21:43] ThePsionic commented on #123
I use Chrome and I cannot reproduce this issue; all my queued posts have been spitting out just fine.

[2015-08-04 23:20] rimbaum opened #126 "New extensions from current github marked as "third party" in control panel"
Is there a way to remove these flags? I don't think it's top priority to get new icons for some of these newer extensions, but people seeing that they're flagged as third-party when they're downloadable from the extensions framework of the New Xkit might worry people and make them distrust the extensions.

[2015-08-04 23:23] hobinjk commented on #126
The offending code is https://github.com/hobinjk/XKit/blob/master/Extensions/xkit_preferences.js#L1256 and is relatively easy to fix

[2015-08-05 00:07] nightpool commented on #126
this is part of the bigger problem of us having a ton of old branding in
our code still.

On Tue, Aug 4, 2015 at 6:23 PM James Hobin <notifications@github.com> wrote:

[2015-08-05 00:09] Wolvan commented on #126
@nightpool Do you suggest a rewrite?

[2015-08-05 00:32] nightpool commented on #126
@Wolvan I meant that we should replace all of the stuff that says
STUDIOXENIX, and all of the stuff that says "xkit guy" and everything like
that.

On Tue, Aug 4, 2015 at 7:09 PM Wolvan <notifications@github.com> wrote:

[2015-08-05 00:47] Wolvan commented on #126
@nightpool alright, I getcha. That shouldn't be too hard using notepad++'s find in files feature. Is there anything we should replace the branding with? Or just remove it completely

[2015-08-05 00:50] rimbaum commented on #126
@Wolvan @nightpool it's just my opinion, since I can't code for beans and can't contribute more than helping to point out bugs, but I would recommend all new branding.

[2015-08-05 00:56] nightpool commented on #126
@Wolvan figuring out what to replace it with is the reason I haven't just done it yet :D

@rimbaum right, the problem is just trying to figure out what we need... are we happy with "New XKit"? "The New XKit Team"? Or what?

[2015-08-05 00:56] bvtsang commented on #126
Is this where we have a heated argument about what our new studio name is? :P

[2015-08-05 01:03] nightpool commented on #126
nah its the point where we realize that naming things is hard.

On Tue, Aug 4, 2015 at 7:56 PM Bryan Tsang <notifications@github.com> wrote:

[2015-08-05 01:07] Wolvan commented on #126
@nightpool I'd actually go with something that has team in it, simply for the reason that it's multiple people actively working on the extension now, not like it was before with only xenix doing all the work himself

[2015-08-05 01:07] Wolvan commented on #126
Oh, and we should also still put xenix into at least the support page, without him this wouldn't have been possible

[2015-08-05 01:13] nightpool commented on #126
oh, absolutely. this isn't about erasing him from the project by any means.

I'm also in favor of something like "New XKit Team" but that's just my
suggestion

On Tue, Aug 4, 2015 at 8:07 PM Wolvan <notifications@github.com> wrote:

[2015-08-05 01:13] hobinjk commented on #126
@Wolvan Atesh wasn't actually the only person to work on old XKit, there were also the lovely WyohKnott and 0xazure.

One of my plans for the immediate future (like five minutes from now) is to form the new-xkit github organization. I think the short form of our name should be "new-xkit" with the long form being "New XKit Team"

[2015-08-05 01:13] nightpool commented on #126
And I'm not really in love with "New XKit" but its certainly short and to
the point.

On Tue, Aug 4, 2015 at 8:12 PM Evan G <eg1290@gmail.com> wrote:

[2015-08-05 01:16] nightpool commented on #126
also the new-xkit.tumblr.com url is available if we want to grab it :D

while I'm name squatting things I also grabbed the #xkit channel on
freenode if we want to do the IRC thing.

On Tue, Aug 4, 2015 at 8:13 PM James Hobin <notifications@github.com> wrote:

[2015-08-05 01:17] nightpool commented on #125
dupe of #84

(don't worry, we're working on it. it has to do with the changes tumblr made to reblogs, and its something we're aware of)

[2015-08-05 01:18] Wolvan commented on #126
I for one vote for new xkit team

[2015-08-05 01:18] bvtsang commented on #126
As an alternative to IRC, we may want to try [Gitter](https://gitter.im/).

And I'm also fine with New XKit Team.

[2015-08-05 01:19] chooope commented on #83
SO I FEEL LIKE AN IDIOT BUT IT TURNS OUT the problem was that I was on an older version (like 36) of Firefox lmao. Which I did intentionally because old xkit had broken on newer Firefox updates. I just, totally forgot about it until you said which version you were using and when I updated Firefox it worked just fine (whereas previously, when I got to step 7, xkit just didn't show up for me on tumb

[2015-08-05 01:20] bvtsang commented on #83
Thanks for confirming the issue, and glad to hear everything worked!

[2015-08-05 01:20] #83 closed

[2015-08-05 01:23] nightpool commented on #83
nice.

On Tue, Aug 4, 2015 at 8:20 PM Bryan Tsang <notifications@github.com> wrote:

[2015-08-05 01:40] hobinjk opened #127 "Moving future contributions to new-xkit organization"
Advantages of organization:
  - Better permissions model
  - If I am hit by a bus other people can continue
  - It's more "professional" and consistent
  - People will need to put in more effort to dox me.

Of all of these, only the last two require a new organization. However, I quite like the last one, especially since someone tagged something as "xkit (hobinjk)" the other day.

The only disadva

[2015-08-05 01:40] hobinjk commented on #127
(issues can be migrated easily using this google tool I found)

[2015-08-05 01:46] nightpool commented on #127
can't we just migrate this repo?

On Tue, Aug 4, 2015 at 8:40 PM James Hobin <notifications@github.com> wrote:

[2015-08-05 01:47] nightpool commented on #127
![image](https://cloud.githubusercontent.com/assets/233815/9076589/f7a235a2-3ae9-11e5-9de6-96c5e042bddc.png)

seems a lot easier, and it sets up git and web redirects IIRC

[2015-08-05 01:52] hobinjk commented on #127
I was considering that as a secondary option, the main unknown there is how long the Github Pages stay up. If http://hobinjk.github.io/test_pages/ doesn't disappear then transferring the repository is definitely a better choice.

[2015-08-05 01:53] nightpool commented on #127
Hmmm either it will make the 301, or we could just recreate a dummy repo
for the transitionary period.
On Tue, Aug 4, 2015 at 8:52 PM James Hobin <notifications@github.com> wrote:

[2015-08-05 02:12] bvtsang commented on #127
What is the process for onboarding new contributors to the organization? Will the migrated issues preserve the comments from the original issues?

[2015-08-05 03:11] 0xazure commented on #127
+1 :+1: for an organization, [as I had suggested on the upstream repo last October](https://github.com/atesh/XKit/issues/173#issuecomment-59096553).  I agree with the points, especially the last one.  I'm still not sure why people feel the need to add personal identifiers to projects like that.

As far as repo transfer vs some kind of push/migrate strategy, what about transferring the repo to the

[2015-08-05 03:18] 0xazure commented on #126
+1 :+1: for Gitter.  I've played around with it a bit, and it's really nice to only have to auth with GitHub.  I'd imagine it would be easier for less-technically-savvy individuals to sign up for GitHub and join the Gitter room than have them muck around trying to get IRC to work, but I could be wrong.

Gitter also does some nice organizational stuff for Orgs, if that's the direction we end up goi

[2015-08-05 03:33] nightpool commented on #126
Flash irc things are a lot easier because you just have to go to a webpage
and type in a nick, so its generally easier then gitter. I also didn't like
it aesthetically last time I used it. But we could try out both and see
what which works better.
On Tue, Aug 4, 2015 at 10:18 PM 0xazure <notifications@github.com> wrote:

[2015-08-05 03:34] nightpool commented on #127
Yeah an immediate fork sounds like the best option (if github allows it?)

If github doesn't, could you do something like putting it in a subdirectory
of your global user github.io repo?
On Tue, Aug 4, 2015 at 10:11 PM 0xazure <notifications@github.com> wrote:

[2015-08-05 03:36] nightpool commented on #127
I don't really think there's enough code to weren't the hassle of git
submodules. Each bridge is like, one file, super lightweight.
On Tue, Aug 4, 2015 at 10:34 PM Evan G <eg1290@gmail.com> wrote:

[2015-08-05 03:36] bvtsang commented on #126
I haven't tried Gitter, but I prefer it over IRC because it keeps history. Integration with Github is a bonus.

[2015-08-05 04:21] nightpool commented on #127
@0xazure Also, contra the docs, http://hobinjk.github.io/test_pages still seems to work. (even after he migrated it).

It seems the correct solution is still:

 - Move hobinjk/xkit to new-xkit/xkit
 - Fork new-xkit/xkit to hobinjk/xkit

(if github allows you to do that, which I think it does)

[2015-08-05 04:23] #91 closed

[2015-08-05 04:24] nightpool commented on #91
fixed by #95

[2015-08-05 04:51] bvtsang commented on #127
Just to keep track, once the repository is moved/transferred we need to:

- Migrate issues and their comments from hobinjk/XKit to new-xkit/XKit
- In the code:
  - Update all references to `hobinjk.github.io` to `new-xkit.github.io` (and update Github Pages configuration accordingly)
  - Update all references to `github.com/hobinjk` to `github.com/new-xkit`
- Change the "Broken Shit We Know About"

[2015-08-05 04:53] nightpool commented on #127
@bvtsang if the repository is moved/transferred then all the comments and issues will go with it. that's the benefit. (also there will be a fork at hobinjk.github.io to handle the transition period probably)

[2015-08-05 05:39] hobinjk commented on #127
I'm going to push the big red button after all of the content required for the switch is in place. The transfer will happen in about 5 minutes.

[2015-08-05 06:28] #109 closed

[2015-08-05 06:39] hobinjk commented on #127
It is done, hopefully very few users will be left behind

[2015-08-05 06:39] #127 closed

[2015-08-05 06:43] #114 closed

[2015-08-05 11:55] ThePsionic commented on #106
About the text color, I found the following inline style but I'm not certain where it comes from. This code is preventing the blacklist color to show up.
[code]

[2015-08-05 15:44] bvtsang commented on #44
I've tried the following steps to reproduce:

1. Ensure One-Click Postage is enabled
2. In its options, select default blog
3. Go to your dashboard and hover over a reblog icon on any post
4. On the reblog popup, expect that the default blog is selected

Unless I'm misunderstanding something, this seems to work.

[2015-08-05 17:26] finagle29 commented on #79
Fixed by #130

[2015-08-05 18:25] bvtsang commented on #127
Looking nice! There are a couple of loose ends though:

- Update Github links in [FAQ](http://new-xkit-extension.tumblr.com/faq), specifically in "How can I help out?"
- Update Github link in the New XKit Tumblr's blog description (where it says "We've decided to update XKit. It's harder than it looks. We're not in contact with the original XKit Guy, nor do we have access to xkit.info. We currentl

[2015-08-05 18:48] #107 closed

[2015-08-05 18:51] dlmarquis commented on #123
This was an issue pulled from a blog mention, and I can't reproduce it either. I'll try to contact the original asker for more info. Otherwise, I'll close the issue.

[2015-08-05 19:29] nightpool commented on #127
it would be nice for collaborators to be able to edit/tag/assign/close issues. thoughts?

[2015-08-05 19:33] dlmarquis opened #136 "Using esc to close OCP pop-up deletes tags"
Full text of ask:

when i type in tags on the little one-click postage popup and hit esc to close the popup, all my tags disappear! if I do that and press R to reblog it, my tags aren't saved. Is there a way to fix this? Right now I'm having to just click the reblog button on the popup after typing my tags. Regardless, I really appreciate all the work y'all are putting into this, thank you so much

[2015-08-05 19:42] nightpool commented on #136
wait, so the flow goes like:

 - user hovers over reblog, opens OCP
 - user click in OCP to type in tags
 - user closes ocp
 - user expects tags to still be there?

I'm not sure this is how ocp is designed—it discards everything as soon as
you close the window. maybe an enhancement I guess?

On Wed, Aug 5, 2015 at 2:33 PM dlmarquis <notifications@github.com> wrote:

[2015-08-05 19:51] dlmarquis commented on #136
I think the idea is that all this is a part of the r/q/d quickblogging option, and that hitting esc is supposed to be the step before reblogging with r/q/d, so that the user never has to use the mouse. I could be wrong, though.

[2015-08-05 19:52] bvtsang commented on #127
@nightpool +1 your suggestion.

[2015-08-05 19:56] nightpool commented on #136
@dlmarquis they're two separate features though... maybe we should make it
so something like alt-r, alt-q and alt-d work from the pop-up window?

On Wed, Aug 5, 2015 at 2:51 PM dlmarquis <notifications@github.com> wrote:

[2015-08-05 19:57] nightpool commented on #136
maybe this used to work though and this is just a regression that we should
fix. (shrug)

On Wed, Aug 5, 2015 at 2:56 PM Evan G <eg1290@gmail.com> wrote:

[2015-08-05 20:11] dlmarquis commented on #136
@nightpool if we do something like alt-r, we have to be careful of Ubuntu users who have alt-r as a default keyboard shortcut. Actually, Tumblr's native quickblogging keys don't work at all on Linux. I think restoring/creating the functionality described is the best of the two options.

[2015-08-05 20:25] dlmarquis commented on #123
We had a suggestion that this was caused by Lethe.

@hobinjk, you'd know best whether this makes sense or not.

[2015-08-05 20:25] ofinnocxnce commented on #100
Just an update that this doesn't just happen when you draft posts! It also happens when you simply reblog them right away.

[2015-08-05 20:29] dlmarquis commented on #123
More info from a Firefox user (who later fixed the problem by restarting Firefox):

Almost all of the comics, pictures, and videos I’ve reblogged today - so not many yet, thankfully - actually had some kind of caption and/or commentary beneath them, but it vanished as soon as I hit “Post”.

I just installed the new xkit this morning and enabled the Editable Reblogs, so I believe that might have ca

[2015-08-05 20:34] ThePsionic opened #137 "Post bodies sometimes disappear"
Occasionally while I'm scrolling my dash, I hit a long post. After approximately a second, the body of the post disappears (the photo(set) that was above the post remains). I think this is a bug in Lethe, but I can't quite confirm. Is anyone able to reproduce this issue?

[2015-08-05 21:55] snifflng opened #138 "editable reblog doesn't include tumblr_blog links"
When posts used to be rebloggable it'd have a class="tumblr_blog" tag but the new extension doesn't have anyway to add that. That used to be useful if someone wanted to edit the css/style of it in their code

[2015-08-05 22:10] nightpool commented on #138
Can you be a little more specific about what's happening and what you
expect to happen? I'm not sure from your issue description where the
tumblr_blog class would go or what purpose it served in the old code.

On Wed, Aug 5, 2015 at 4:55 PM snifflng <notifications@github.com> wrote:

[2015-08-05 22:20] snifflng commented on #138
When reblogs were still editable the url of the commenters at the top would be like
<a href="http://tumblrpost.tumblr.com/post/125945341268/example" class="tumblr_blog">
in the post html and the tumblr_blog allowed you to edit the url of comments on your theme (w/ css). but with the extension it makes it
<a href="http://tumblrpost.tumblr.com/post/125945341268/example" target="_blank">
and takes ou

[2015-08-05 22:48] nightpool commented on #138
Hmm ok thanks I'll take a look to see if we can fix this.

in the meantime you can use the attr substring selector to approximate this behavior. `[href*=".tumblr.com/post/"]` should work nicely.

[2015-08-05 22:51] Wolvan commented on #127
make this a +2, @nightpool

[2015-08-05 22:52] nightpool commented on #138
@new-xkit/owners feel free to assign me

[2015-08-05 23:03] ThePsionic commented on #127
imma sneak in with that +3 @nightpool

[2015-08-05 23:13] hobinjk commented on #127
Issue editing comes with a host of other permissions detailed in https://help.github.com/articles/permission-levels-for-an-organization-repository/. I'll bump up the permission level and rename Collaborator to Admin to reflect the far-reaching powers you get.

I would greatly recommend not pushing directly to new-xkit because code reviews are your friend. I will also try to be less hypocritical ab

[2015-08-05 23:26] nightpool commented on #127
@hobinjk yeah I was hoping the fine grained permissions beta would help but apparently id doesn't :(

[2015-08-05 23:27] Wolvan commented on #127
@hobinjk You should be able to do the automation through github's webhooks I guess. But I absolutely agree that we should never push to the repo directly. Instead what about having at least 1 or 2 contributors/admins look over the code and approve before a merge is allowed to happen?

[2015-08-05 23:31] realityfabric commented on #121
I was having an issue with this extension, too. It works, but when you send fanmail it opens the reply window in both the current and the new tab.

[2015-08-05 23:36] hobinjk commented on #127
@Wolvan Yes, right now all PRs are getting reviewed by either me or @dlmarquis. As long as the person reviewing the code really knows what they are doing I have no qualms about other people performing reviews other than the whole create-extensions-dist thing.

[2015-08-05 23:38] hobinjk opened #139 "Improve PR automation"
- Contributor makes a PR
- Travis bot runs jshint and jscs, reporting any errors caused by the commit
- Reviewer comments something like "r+" or "r-"
- If r+, a bot merges the PR and pushes the changes to Github Pages through create-extensions-dist.sh

[2015-08-05 23:40] nightpool commented on #127
getting errors from gitter when I try to create a room. someone else want
to take a crack at it?

On Wed, Aug 5, 2015 at 6:36 PM James Hobin <notifications@github.com> wrote:

[2015-08-05 23:44] nightpool commented on #139
apparently bors/homu is pretty configurable? http://homu.io/

On Wed, Aug 5, 2015 at 6:38 PM James Hobin <notifications@github.com> wrote:

[2015-08-05 23:45] Wolvan commented on #127
@nightpool I think I managed to open a gitter. I added you and @hobinjk (Although he still hasn't signed up to gitter). Who else do we need?

[2015-08-06 00:22] promise-reprise commented on #103
Actually it's been fixed already from what I can tell. I dunno, maybe it
was just a weird glitch?

On Sun, Aug 2, 2015 at 9:12 AM, dlmarquis <notifications@github.com> wrote:

[2015-08-06 00:32] nightpool commented on #103
must have been. Let us know if it happens again!

On Wed, Aug 5, 2015 at 7:22 PM promise-reprise <notifications@github.com>
wrote:

[2015-08-06 00:32] #103 closed

[2015-08-06 00:57] Wolvan opened #141 "Host Ace Editor on our Github"
Ace Editor currently loads from a CDN I don't fully trust, so keeping the script blocked prevents me from using the xkit_editor. Moving it over here would resolve this security concern.

[2015-08-06 01:07] dlmarquis opened #142 "Themes Editor appears on blogs"
Themes Editor highlights CSS on blogs and not just on main tumblr pages (dash, activity, etc.)

[2015-08-06 02:03] #79 closed

[2015-08-06 02:10] hobinjk commented on #142
This is as simple as adding https://github.com/new-xkit/XKit/commit/4a6c357559a77038dbfc36ebebbab5f7302da193 into Themes Editor

[2015-08-06 04:34] bvtsang commented on #57
Alt-clicking correctly removes a tracked blog on Windows 7, Chrome.

Since @phidari fixed their problem, is it safe to close this issue? Or should we reassign the alt key to something else?

[2015-08-06 05:59] hanharr commented on #108
got it! i'll submit a bug report with multifox to see if i can get them to take a look at it :)

[2015-08-06 06:12] hobinjk opened #145 "Comment stating read_posts dimming is broken"
https://github.com/hobinjk/XKit/blob/master/Extensions/read_posts.js#L37

Testing required

[2015-08-06 06:22] hobinjk opened #146 "Fix all JSHint Errors"
For `grunt jshint` to be useful, it needs to normally have no output. I'm about 30% done with eliminating all the errors from every file. This might make some PRs require manual merging. I am most worried about the possibility that some of the comparisons I changed were actually relying on their falsy and truthy conversions.

[2015-08-06 07:16] blackjackkent commented on #88
Had a go at this tonight and I BELIEVE I figured it out. PR is at #147 :)

[2015-08-06 09:44] WyohKnott commented on #44
It works. But if you reblog something to a not-default blog, the subsequent One-Click popups will be set on the last blog used. I'm not sure if this is the intended behaviour, nor what most users using this option want.

In order to fix this, we should add a check for ```preferences.default_blog``` in ```open_menu```

[2015-08-06 10:56] WyohKnott commented on #69
Cf. https://developer.mozilla.org/en-US/Add-ons/SDK/Tools/console#Logging_Levels

For now you can add ```extensions.@new-xkit.sdk.console.logLevel``` to ```all``` in ```about:config```.

Otherwise, it could be added in the post-install script? Or create an option to set the debugging level of the extension in the ```Other``` panel menu (using this API https://developer.mozilla.org/en-US/Add-ons/SD

[2015-08-06 11:42] WyohKnott commented on #52
Okay I found where it's not working. When accessing ```XKit.extensions.auto_tagger.preferences``` from within an iframe, the preferences fetched are not the ones saved but the default ones instead.

Hence, it fails to add the tags because the following condition is false:
[code]

Same with the rest of the preferences, for example custom tags for Video post.

[2015-08-06 12:07] WyohKnott commented on #52
Welp, auto_tagger is not allowed to run in frame, we just need to switch it on in the header:
[code]

[2015-08-06 13:43] WyohKnott commented on #48
I can't reproduce on Firefox.

[2015-08-06 14:27] WyohKnott commented on #60
IIRC, we intercept Tumblr's shortcuts in one_click_postage in order to add our own shortcut. For this, we inject a script in the page to access Tumblr.KeyCommands.suspend(), which disable K/J etc…

Theorically once the key is processed, we call Tumblr.KeyCommands.resume() but I remember searching for a race condition in the code a few months ago. That might explain this, but wouldn't explain why i

[2015-08-06 15:52] WyohKnott commented on #97
It works over here. Does it happen all the time?

Can you specify your browser/blacklist version and check if you have the correct option checked (ie check_authors)?

[2015-08-06 16:09] WyohKnott commented on #106
Are you sure you extension is up-to-date (2.7.2)? I don't have that CSS at all for Blacklist.

[2015-08-06 16:31] WyohKnott commented on #115
We use moment.js to calculate the relative time. As per the doc ( http://momentjs.com/docs/#/displaying/fromnow/ ), "one hour ago" is displayed when the message has been received between 45 and 90 minutes from now.

[2015-08-06 17:40] nightpool commented on #115
@Kikaromi can you be a little more explicit about what you're seeing on the dash vs. in asks that you expect to be the same?

[2015-08-06 17:43] nightpool commented on #146
@hobinjk in most cases where I saw "use ===" errors, I instead removed the equality test entirely. (i.e. turned `if(xkit.preferences.foobar == true)` into `if(xkit.preferences.foobar)`).

this seemed like a less lossy conversion to me, maybe that makes more sense in this case?

[2015-08-06 17:43] noahleigh commented on #53
Until automatic syncing can be implemented, I agree with @rimbaum that having a manual export & import settings ala Tumblr Savior would be very helpful for getting everything together on the multiple browsers I use.

[2015-08-06 17:45] nightpool commented on #53
@noahleigh you can do manual export in the "other" pane.

I've yet to build a manual import, since its a little more involved and
less useful for support, but if there's significant interest I could
probably be persuaded.

On Thu, Aug 6, 2015 at 12:43 PM noahleigh <notifications@github.com> wrote:

[2015-08-06 17:48] blackjackkent commented on #125
This should be resolved by #147

[2015-08-06 17:51] hobinjk commented on #146
@nightpool It's good in some cases, but there are some really messed up places with things like `if (x != false)`. This would appear to be convertible into `if(x)`, but the conditions for weak inequality to `false` and truthiness are subtly different for things like "0". Thankfully this does not apply to `XKit.preferences.whatever.value` because those are always booleans.

[2015-08-06 17:53] #125 closed

[2015-08-06 17:53] #84 closed

[2015-08-06 17:53] hobinjk commented on #84
This should be fixed by PR #147

[2015-08-06 17:57] hobinjk commented on #53
@nightpool There is definitely significant interest for when people are setting up New XKit across multiple browsers/computers. Once we have an XCloud replacement it will be less useful, but given the debilitating effect not having XCloud has had on users this would be a very worthwhile alternative.

[2015-08-06 17:57] blackjackkent commented on #88
Resolved by #147

[2015-08-06 17:59] #88 closed

[2015-08-06 18:35] ChuckL commented on #53
I have an XCloud replacement ready to go and that's also deployed.
https://github.com/new-xkit/XKit/pull/117

On Friday I'll be putting in an option to revert to old xcloud servers then we should be good.

[2015-08-06 19:49] abookie opened #151 "extension gallery"
just installed the new xkit, appears perfect and i love it. but there are some extensions that i want to add and every time i click on the extension gallery it's just continuously loading and never brings up the extensions. i've tried uninstalling and updating chrome even and it hasn't seemed to fix it. i installed xkit for the use of the extensions but haven't even been able to see them yet. anyo

[2015-08-06 19:50] nightpool commented on #151
Can you make sure you're on the most up to date version? We recently moved the extension library and its possible you might not bee reaching the correct one.

the newest version of xkit is 7.7.0. You can see your xkit version in the "About + Support" section of the menu.

[2015-08-06 19:53] abookie commented on #151
yes i just checked it and i do have the current version.

[2015-08-06 19:55] nightpool commented on #151
Can you access http://new-xkit.github.io/XKit/Extensions/dist/page/gallery.json from your web browser?

[2015-08-06 19:58] abookie commented on #151
just looks like a page full of letters and code?
<img width="1251" alt="screen shot 2015-08-06 at 12 56 56 pm" src="https://cloud.githubusercontent.com/assets/13683981/9121964/c8015b46-3c3a-11e5-87bf-d00174e9c87b.png">

[2015-08-06 20:06] nightpool commented on #151
@abookie that's how its supposed to look. Just making sure something wasn't blocking you from seeing it.

[2015-08-06 20:10] #52 closed

[2015-08-06 20:11] #122 closed

[2015-08-06 20:17] WyohKnott commented on #151
Do you have an ad-blocker or something like that, with a "tight" configuration (like Default Deny 3rd party ressources)?

[2015-08-06 21:05] ThePsionic commented on #106
Yes, Blacklist is on version 2.7.2. This is not CSS added by Blacklist but by another source, and I don't know *where* it comes from. In Firefox it just denotes it's an in-line style.

[2015-08-06 21:08] WyohKnott commented on #106
Do you have a Stylish or Greasemonkey style enabled?

[2015-08-06 21:11] ThePsionic commented on #106
I have two Stylish styles enabled, but I am 100% sure neither of them do anything with the Blacklist in the sense described above. One makes sure avatars don't scroll with the post, and the other is to fix the excuse being white, which literally boils down to ```.xblacklist_blacklisted_post .xblacklist_excuse { color: #222 !important; }```. I have no idea where the code I posted comes from.

[2015-08-06 21:20] nightpool commented on #106
@thepsionic go into the "other" xkit tab and select "dump installed
extensions" and paste the link it gives you here.

On Thu, Aug 6, 2015 at 4:11 PM ThePsionic <notifications@github.com> wrote:

[2015-08-06 21:22] nightpool commented on #106
actually wait no I think I found the code. Disable "Enable mini-UI for
blocked posts" and see if that fixes it.

On Thu, Aug 6, 2015 at 4:20 PM Evan G <eg1290@gmail.com> wrote:

[2015-08-06 21:26] nightpool commented on #106
This is a problem with the blacklist "mini ui". I'll take care of it.

[2015-08-06 21:49] WyohKnott opened #154 "One click reply arrow masks the Block button"
On the Activity page, the reply arrow icon needs to be moved further on the left because it overlaps the block icon.
(I'm working on it).

[2015-08-06 21:55] #106 closed

[2015-08-06 21:59] nightpool commented on #106
@ThePsionic should be fixed in the next update.

[2015-08-06 22:16] ryulong commented on #97
It was happening when I first sent this request but it seems to have been fixed by now? I know that this was a persistent problem when the original Xkit was abandoned because of how Tumblr refers to theor iginal post, I would assume.

[2015-08-06 22:38] nightpool commented on #97
We'll keep an eye on it, but if its working for you I'm gonna close the issue for now. Let us know if it happens again though!

[2015-08-06 22:38] #97 closed

[2015-08-06 22:47] nightpool commented on #115
[deleted posts that moved to #116]

[2015-08-06 22:49] nightpool commented on #111
closing as this is most likely a multifox issue.

[2015-08-06 22:49] #111 closed

[2015-08-06 22:50] nightpool commented on #108
closing until we hear back from multifox

[2015-08-06 22:50] #108 closed

[2015-08-06 22:50] nightpool commented on #111
(also even if it isn't its a dupe of #108)

[2015-08-06 22:50] ThePsionic commented on #106
Hrm, tried force-updating it multiple times, stays on 2.7.2...

[2015-08-06 22:52] nightpool commented on #105
@laurajax Just to be clear—do you or do you not have a problem with the retags from the XKit extension gallery?

[2015-08-06 22:55] nightpool commented on #100
@xxastraxx @ofinnocxnce Can you guys post your xkit extension versions from the "Other" section of the XKit menu? thanks!

![image](https://cloud.githubusercontent.com/assets/233815/9125253/54b6ab58-3c64-11e5-9e3c-f557cc00fe40.png)

[2015-08-06 22:57] hobinjk commented on #97
This was fixed in https://github.com/new-xkit/XKit/commit/61cf63cd4382a7c306c5db2e8d61942680b4e82d. Sorry for not updating this issue when I pushed that.

[2015-08-06 22:58] WyohKnott commented on #97
If the Original Poster has set up an external website as the source, or if the Original Poster manually added his URL but subsequently change his blog name, it could fail.

[2015-08-06 22:58] ofinnocxnce commented on #100
https://gist.github.com/2f648ee9ae0559ca34ab here is mine :)

[2015-08-06 23:00] nightpool commented on #106
Are you on XKit 7.7.0?

[2015-08-06 23:05] ThePsionic commented on #106
No, I'm on 7.6.7. I was unaware that there had been an update, which also makes me wonder why it doesn't automatically with "Update all extensions".

[2015-08-06 23:11] nightpool commented on #106
@ThePsionic the xkit version is the version of the extension that's
installed by the browser. we don't control when it updates.

On Thu, Aug 6, 2015 at 6:05 PM ThePsionic <notifications@github.com> wrote:

[2015-08-06 23:12] ThePsionic commented on #106
![dycluqx](https://cloud.githubusercontent.com/assets/842080/9125445/39aabf38-3ca1-11e5-9258-71bfcac76725.png)
@nightpool I noticed. Force-updated it through the Firefox addon thingy, works beautifully now.

[2015-08-06 23:12] nightpool commented on #106
(although the meta-level point is super valid: we should be pushing as much
stuff into extensions as we can, so we *can* auto-update those)

On Thu, Aug 6, 2015 at 6:11 PM Evan G <eg1290@gmail.com> wrote:

[2015-08-06 23:16] ThePsionic commented on #106
@nightpool
![shia-990x500](https://cloud.githubusercontent.com/assets/842080/9125505/df7df420-3ca1-11e5-8f8a-7ec1a6bfab33.jpg)

[2015-08-06 23:24] ThePsionic commented on #100
Cannot reproduce. Windows 10, Firefox 39. https://gist.github.com/2e57fa707e0c88a014a2 for extension info.

[2015-08-07 01:55] blackjackkent commented on #145
The issue seems to be that clicking menu items on a dimmed post undims it (expected) but when those menus are clicked off, the post does not redim (unexpected).

I can take a look at this I think.

[2015-08-07 02:33] blackjackkent commented on #145
Addressed in #156

[2015-08-07 03:20] #58 closed

[2015-08-07 05:12] hobinjk opened #158 "One-Click Reply username is undefined"
Many asks are reporting this:

[2015-08-07 08:10] hobinjk commented on #158
Unable to reproduce on Chrome

[2015-08-07 08:16] WyohKnott commented on #158
If you do it from the "Notes popup", it shows undefined, we already got a bug report for this: https://github.com/new-xkit/XKit/issues/82

[2015-08-07 13:30] anakhasilver opened #162 "Post will sometimes double what you're replying to"
I'm not seeing this specifically, just a version with drafts. However, I've experienced this (as well as my fiancee) WITHOUT drafting where occasionally, it'll be fine before we post, but then doubled the original afterward.
Example:

User1:
I want to share this thing
User1:
I want to share this thing
User 2:
This thing is cool

You can immediately go back in and edit out the doubled comment, but

[2015-08-07 13:56] ThePsionic commented on #162
Related to #100

[2015-08-07 14:41] Sildrael commented on #100
Same problem here, kinda annoying, happens often :/ . Windows 8, newest version of Google Chrome, Here's for the extension info https://gist.github.com/7347091d9264d8255118 <:

[2015-08-07 15:46] blackjackkent commented on #158
Duped this on Chrome; I can look into this this evening if no one else already is.

[2015-08-07 15:51] nightpool commented on #162
definitely a dupe of #100.

[2015-08-07 15:51] #162 closed

[2015-08-07 15:56] nightpool commented on #146
fixed by #155?

[2015-08-07 16:21] nightpool commented on #82
(Wasn't related to #76, just to be clear.)

[2015-08-07 16:28] nightpool commented on #158
@blackjackkent that would be great.

[2015-08-07 16:40] bvtsang commented on #139
Travis CI and @homu have been added. Should this issue be fixed?

[2015-08-07 16:45] blackjackkent commented on #82
Dupe of #158 though?

[2015-08-07 16:58] nightpool commented on #82
@blackjackkent most people would probably say #158 was a dupe of this, seeing as it was reported first, but as you're working on the issue I'm fine closing whichever.

[2015-08-07 17:28] ThePsionic commented on #104
I'm currently working on a feature for this.

[2015-08-07 17:28] 0xazure commented on #139
Should probably document what we're using and the expected workflow somewhere, either on the README or somewhere on the project Wiki.

[2015-08-07 17:29] blackjackkent commented on #82
Haha whoops. Either works. :+1:

[2015-08-07 17:39] nightpool commented on #158
closed as a dupe of #82.

[2015-08-07 17:40] #158 closed

[2015-08-07 17:42] nightpool commented on #82
to summarize, things that should work, but seem not to:

 - replying from the real-time notes popup in the bottom right corner of the screen
 - replying to people without hyphens in their usernames. (maybe?)

@blackjackkent to fix.

[2015-08-07 17:51] WyohKnott commented on #100
@ofinnocxnce @Sildrael
I can't reproduce it but can anyone test stuff? When you edit a previous comment in the reblog, does the post saved in the draft then have two identical duplicated text or does it have one original content before editing and one content after editing?

@dlmarquis it's your code, do you think in some circumstance, ```$(".btn-remove-tree").click();``` would not be called and t

[2015-08-07 17:51] rosalindwills commented on #82
Per @agrunwald82 's comment I think the hyphen thing is a red herring.

[2015-08-07 17:51] blackjackkent commented on #82
Per @agrunwald82 's comment I think the hyphen thing is a red herring.

[2015-08-07 18:28] 0xazure opened #163 "grunt clean removes npm dependencies"
Per comments on #75 ([this one specifically](https://github.com/new-xkit/XKit/pull/75#issuecomment-126779126)) `grunt clean` is slightly borked and removes the `node_modules/` folder, which means subsequent `grunt` tasks cannot be run.

`grunt clean` currently necessitates a re- `npm install`: because of how Grunt runs multi-tasks, it runs the sub-task `clean:modules` as well as everything else de

[2015-08-07 18:40] ReddPyramid opened #164 "Unable to add images to answers to asks"
Title says it all, really.  I force updated everything, closed and reopened chrome, and I can't put images in ask responses suddenly.  I don't know if it's another terrifically stupid tumblr update, a bug, or what, but not even trying to paste the image from somewhere else directly into the post box works.

[2015-08-07 19:06] nightpool commented on #164
seems to be broken on tumblrs end—I can reproduce this without xkit installed.

[2015-08-07 19:26] nightpool commented on #164
can't reproduce any more—seems like tumblr fixed this pretty fast. Closing for now, but make sure to let us know if it keeps happening!

[2015-08-07 19:26] #164 closed

[2015-08-07 23:12] inklesspen opened #165 "J/K across pages doesn't always scroll to bottom of page"
Versions: Chrome 44.0.2403.130 (64-bit Mac), New Xkit 7.7.0, J/K 1.1.2

I read my dash in chronological order by bookmarking the most recent post I've read, then going to that bookmark and hitting K to scroll toward the present.

However, recently "J/K Across Pages" stopped autoscrolling to the bottom of the page when I'm at the top and I hit K.

Unfortunately, so far it doesn't seem to exhibit th

[2015-08-07 23:23] bvtsang commented on #165
Possibly a duplicate of or related to #60.

[2015-08-07 23:24] inklesspen commented on #60
@blindcat97 I think I stopped experiencing the "jump up only a few pixels" problem when I turned on the option to jump over a whole post even if it was too big for the screen.

[2015-08-07 23:31] blindcat97 commented on #60
@inklesspen Where is this option? I can't find it in the one-click postage or tweaks menus (assuming my extensions are all updated, which they seem to be).

[2015-08-07 23:33] inklesspen commented on #60
In the J/K Across Pages extension

[2015-08-08 00:18] blindcat97 commented on #60
I installed the extension and checked this option, but it still does not work. I'd like to mention that I have also discovered that it works as a toggle; after passing the first page, this strange behaviour begins, and it continues even when I return to the first page, even though it wasn't acting up when I originally loaded the page.

[2015-08-08 01:49] nightpool opened #166 "styling problems with panorama extension"
currently the following page parts are still broken in panorama:

 - ask posts:
  ![](https://cloud.githubusercontent.com/assets/233815/9140952/960374a6-3cfa-11e5-9ce5-4880cdb67d52.png)

 - the tumblr scrolling footer
  ![](https://cloud.githubusercontent.com/assets/233815/9140969/b7a6c072-3cfa-11e5-9b78-8e9e6b5f279f.png)

[2015-08-08 01:57] bvtsang commented on #44
Steps to reproduce:

1. Ensure One-Click Postage is enabled
2. In its options, select default blog
3. Go to your dashboard and hover over a reblog icon on any post
4. Switch to a non-default blog
5. Click Reblog
6. Still on the dashboard, hover over a reblog icon on any post
7. Expect that the default blog is selected
8. Observe that the last picked blog is selected

Upon refresh, the default sele

[2015-08-08 02:09] hobinjk commented on #146
Yes, it is

[2015-08-08 02:09] #146 closed

[2015-08-08 02:17] hobinjk commented on #139
The only thing missing now is the automatic create-extensions-dist.sh which would require running an independent server as a Github webhook. I'll create a wiki page explaining the test and review workflow.

[2015-08-08 03:11] bvtsang commented on #82
Closed via #167.

[2015-08-08 03:11] #82 closed

[2015-08-08 03:21] hobinjk opened #168 "Paperboy and framework_version.php are not mirrored"
All other files that normally come from XKit's servers have equivalent mirrors on our Github pages. These two don't and it has caused issues for at least one person when old XKit went down for a bit.

[2015-08-08 03:28] hobinjk opened #170 "Retags is hard to style because of !important"
From an ask:

I vaguely remember this coming up in the PR discussion. Ideally we don't need !important on our own styles, thoughts?

[2015-08-08 03:31] nightpool commented on #170
they could just use a more specific selector then we do *and* include
important :D

i think that important is there for a reason, its the only style with
important on it in the entire file. I'll take a look.

On Fri, Aug 7, 2015 at 10:28 PM James Hobin <notifications@github.com>
wrote:

[2015-08-08 03:42] hobinjk opened #171 "Dashboard by pages messes with clicks"

[2015-08-08 03:44] bvtsang commented on #170
According to [a previous discussion](https://github.com/new-xkit/XKit/pull/161#discussion-diff-36537720), we put on `!important` when we know we're overriding Tumblr's styles to future-proof our code.

However, the Retags extension creates its own [HTML and classes](https://github.com/new-xkit/XKit/blob/master/Extensions/retags.js#L121), so in this case it might be okay to remove `!important` -- e

[2015-08-08 03:49] nightpool commented on #170
important is there to override a specific tumblr selector it would be unwieldy to try to override in normal ways.
![image](https://cloud.githubusercontent.com/assets/233815/9148928/4c6f86ca-3d56-11e5-98dc-c33b6f5560aa.png)

(vs. `div.retags a`)

maybe we can add a specific check to turn this off for on-blogs? I would check but for some reason I can't get retags to render on blogs on my dev profile

[2015-08-08 05:50] meiloslyther commented on #60
I don't know if anyone's clarified this, but I use endless scrolling on my dash. I tested turning it off (albeit only once) and K seems to start working again. Maybe it's just being temperamental though.

I also never installed the J/K Across Pages extension because endless scrolling.

[2015-08-08 07:27] anakhasilver commented on #100
Since mine was closed, adding that it isn't necessarily a drafts issue.
http://i.imgur.com/ihCG74K.png
This is from my fiancée's RP blog and she did it all on her dashboard.

[2015-08-08 07:34] laurajax commented on #105
Xkit retags has not worked for me ever since old xkit. I stopped using it 5 days ago when schmaiffe linked me to the non-xkit version, but if you've made changes to it I can check the xkit version again.

[2015-08-08 07:38] laurajax commented on #105
Xkit retags has not worked for me since old Xkit. I stopped using it and used the version that Schmaiffe linked me to, but just now I disabled it and re-installed the Xkit version, and it seems to work fine now! Did you guys update it in the last few days? Or did installing the standalone version of it somehow fix my Xkit version?

[2015-08-08 07:45] laurajax commented on #105
However, the tags still don't show up in the "classic notifications" notifications. They seem to load correctly upon installing the extension, but once I load or reload a new page they stop appearing. But it works fine in the activity page and in the pop-up from clicking on a post's notes,.

[2015-08-08 12:36] nightpool commented on #105
@laurajax seems like a different bug! can you file a new ticket? Thanks!

glad to know things started working again for you

On Sat, Aug 8, 2015 at 2:45 AM laurajax <notifications@github.com> wrote:

[2015-08-08 12:36] #105 closed

[2015-08-08 12:47] ChuckL commented on #168
Is there a json file on gh-pages that we can reference?

[2015-08-08 16:21] #168 closed

[2015-08-08 19:52] hobinjk opened #176 "Editable Reblogs Erases Text"
From an ask:

[2015-08-08 19:53] hobinjk opened #177 "Read More Now doesn't handle previous replies correctly"

[2015-08-08 19:54] hobinjk commented on #170
Another person has commented

(only tangentially related, but probably not worth a separate issue)

[2015-08-08 20:04] WyohKnott opened #178 "Deprecated extensions/code tracking"
Can I open this so your team can track deprecated code. For example:
- [x] Reblog as text is not needed anymore since Tumblr has finally changed this behavior
- [x] The Dashboard GL fix is not working anymore since Tumblr implemented the "moving avatars" along the post, and I don't think it's useful anymore (for ref http://xkit-extension.tumblr.com/post/61016195061/xkit-dashboardgl)
- [x] Atesh ha

[2015-08-08 20:14] WyohKnott commented on #170
I don't get that bug report, the retags only work on the Activity page and Notifications popup, what does it have to do with the style of one's blog? Isn't this related to Themes+?

[2015-08-08 22:34] blackjackkent commented on #176
I can work on this later tonight.

[2015-08-08 22:42] #145 closed

[2015-08-08 22:44] bvtsang commented on #176
you never saw that

[2015-08-09 00:38] hobinjk commented on #100
I think I may have found a clue in what is causing this behavior. It looks like Tumblr internally adds the tumblr_blog class to blog links. In the examples I have seen, the only difference between the doubled content is that the first one always has the class and the second always lacks it. I'm going to try adding tumblr_blog in Editable's content html and see what happens.

[2015-08-09 01:57] blackjackkent commented on #176
I've tried this on Chrome and Firefox and am having trouble reproing so far. =/

[2015-08-09 02:53] bvtsang commented on #42
I'm having trouble reproducing this with the following steps, which assumes you have control over accounts A and B:

1. On Account A, make sure User Menus+ is enabled
2. Visit your dashboard
3. Hover your mouse over Account B's avatar
4. In the popup, click on the User Menu and click Ask a Question
5. Anonymously or not, type a message and click Ask
6. On Account B, expect to receive the ask

This

[2015-08-09 02:56] Wolvan commented on #42
I get redirected to the blog B's ask page instead of having a popup ask box open. I'll see if I can do something about that tomorrow

[2015-08-09 03:06] bvtsang commented on #42
If I turn enable XKit's Classic User Menu, then at step 4 I get redirected to the user's ask page.

[2015-08-09 04:59] rimbaum opened #180 "One-click reblog won't send posts to drafts"
This is kind of an important thing to a lot of roleplayers on tumblr, and I and at least one of my rp partners have run into this. The post shows as drafted successfully, the reblog button turns green and stays green on a refresh, but the post never shows up in drafts.

Can't tell you about the setup for other people, but I'm running Chrome 44 on Linux Mint 17.2 (64-bit).

[2015-08-09 05:11] nightpool commented on #180
Hmm works for me? Can you paste in your extension information? (From
Xkit>Other>Export Configuation>Extension Info)

On Sat, Aug 8, 2015 at 11:59 PM rimbaum <notifications@github.com> wrote:

[2015-08-09 05:13] rimbaum commented on #180
@nightpool https://gist.github.com/cec4a213b333c9ccfdf5

[2015-08-09 05:35] nightpool commented on #180
Okay, great I'll see if I have time to take a look tomorrow. Can you find
someone else that has this issue and get them to put their extension info
here too? It really helps when I can narrow down how many extensions I have
to test :D

On Sun, Aug 9, 2015 at 12:13 AM rimbaum <notifications@github.com> wrote:

[2015-08-09 05:35] nightpool commented on #180
Question—does the "Saved as a draft on <blog name>" popup show up when you
click on the save as draft button?

On Sun, Aug 9, 2015 at 12:34 AM Evan G <eg1290@gmail.com> wrote:

[2015-08-09 05:39] rimbaum commented on #180
Weird... I tried it again and then both drafts it said I had saved suddenly showed up. Must've been a tumblr thing.

[2015-08-09 07:12] blackjackkent commented on #176
Two other people have confirmed we can't figure out how to reproduce this; closing until/unless we get further reports.

[2015-08-09 07:12] #176 closed

[2015-08-09 07:38] #163 closed

[2015-08-09 08:02] WyohKnott commented on #176
@hobinjk  Can you put a small notice above the Ask box of the blog, like "please include your browser version"

[2015-08-09 08:29] hobinjk commented on #176
@WyohKnott Done! I also told people to specify OS and the output of the extension version button. Whether they do it is up to them

[2015-08-09 09:05] TheUnderdog09 commented on #89
Same issue here, same steps to reproduce, although I don't know how long it's been like this for me. Firefox 39.0.3, other installed browser extensions:
* Adblock Plus 2.6.10 (disabled on tumblr)
* Blur 4.9.1728
* Stylish 2.0.2.1 (but only one style to disable PNG transparency when viewing an image alone)
* EPUBReader 1.5.0.6.1
* RAMBack 1.0.1
* Video DownloadHelper 5.3.1.1
(I don't imagine those

[2015-08-09 09:14] WyohKnott commented on #89
I reproduced it too. I think it's because of the way we fetch the HTML for creating the reply, we keep all the styling HTML tags like ```<span class="activity">``` but Tumblr strips away automatically additional "not allowed" tags when saving the post, and either replace them with br/p or strip the content of said tag.

[2015-08-09 09:36] WyohKnott commented on #100
I don't think that's it, Tumblr has removed the ```tumblr_blog``` class a while ago, even on the Drafts I have saved before I had any XKit installed, there isn't that class anymore. If I go to an old blog post with that class still in the body, it automatically gets removed by Tumblr (with no extension enabled).

[2015-08-09 10:02] WyohKnott commented on #42
Because the normal menu popup is handle by a Tumblr event.
Maybe we should trigger it ourselves:
[code]
But I don't like that we rely on inject script so much.

[2015-08-09 10:50] WyohKnott commented on #177
Might be related to this: we need to prevent ReadMore to run on Reblog/Edit popup. Currently if one use Editable Reblog, it will copy the HTML of the Read More button, which contains not allowed <div> tag.
Hence it might be related to what I was mentioning here https://github.com/new-xkit/XKit/issues/89#issuecomment-129143674

[2015-08-09 17:25] blackjackkent commented on #180
Just to confirm -- this is no longer an issue?

[2015-08-09 17:27] rimbaum commented on #180
@blackjackkent It doesn't appear to be. I'm chalking it up to something on Tumblr's end.

[2015-08-09 17:43] blackjackkent commented on #180
Okie doke. :) Closing then. Thanks!

[2015-08-09 17:43] #180 closed

[2015-08-09 17:49] blackjackkent commented on #170
They work on certain on-blog themes I think -- depending on whether the theme uses one of the relevant classes (.reblog, .is_reblog, or .notification_reblog) in its notes display. cf. http://blackjackkent.tumblr.com/post/126256255852/i-didnt-know-you-danced-i-did-once-in with the extension activated.

[2015-08-09 18:06] blackjackkent commented on #121
Repro'd. I'll work on this.

[2015-08-09 18:13] albinakarambura opened #185 "Issue with multiple "Keep reading" links"
I noticed something after I reblogged a post with a "Keep reading" cut and put my response in the "Keep reading" link too.

This happens if you click the second Read More Now! button first.
![readmore1](https://cloud.githubusercontent.com/assets/1273206/9156079/069bf0c0-3ed7-11e5-8312-e236088b2e3c.gif)
The first Read More Now! button just disappears.

This happens if you click the first Read More

[2015-08-09 18:14] gloomykid commented on #60
the k button only doesnt work from page 2 and further. if youre using infinite scrolling and reach page 2 or more, it wont work anymore. so i guess i have to turn off infinite scroll until it is fixed, even if its really pesky, but id recommend that to anyone who uses the k button instead of mouse scrolling.

[2015-08-09 18:15] inklesspen commented on #60
Correction to my earlier comment: enabling the "jump over entire post" option has not fixed this issue.

[2015-08-09 18:18] gloomykid commented on #171
i dont know if it fits in here or needs another issue but:
i am having a similar issue with infinite scroll. just that i cant click anything anymore. i have to refresh the page to be able to click anything again.
i thought it might be connected to my smart up gestures extention on chrome (mouse gestures), but it is really not. (using win7 and chrome on latest update)

[2015-08-09 19:10] hobinjk commented on #100
@WyohKnott My reason for saying that is that on http://vozella.tumblr.com/post/126182422090/absolutebell-this-is-strangely-adorable and http://crystalgems.tk/post/126194159741/jxstacomet-snartdonyx-jxstacomet the first occurrence always has it and the second always doesn't. This includes in the reblog_tree and content keys of the v2 api reponses.

I agree that is probably isn't the cause, but I al

[2015-08-09 19:12] WyohKnott commented on #185
Actually I have a Pull Request from a few hours ago that is supposed to fix that:
https://github.com/new-xkit/XKit/pull/183 (needs review)

Thanks for the report!

[2015-08-09 19:14] finagle29 commented on #93
cannot reproduce, can you post a link to your extension configuration in the other tab as well as browser version and os?

[2015-08-09 19:27] WyohKnott commented on #100
Oh, no you are probably right then, I checked on the dash only and not on the actual blog pages, where indeed, the ```tumblr_blog``` class is still added. This is weird.

And I've just tried to reblog that Vozella post and it added a new copy of the blockquote, while my XKit was off.

[2015-08-09 19:31] albinakarambura commented on #185
@WyohKnott, I don't use Editable Reblogs, so it can't be the issue of them conflicting. And I don't have any issues with making the posts or reblogging them.

To me it seems like "Read More Now" extension just exits after retrieving the content under the cut and hides not only the clicked button, but all the previous ones too.

[2015-08-09 19:33] hobinjk commented on #185
Yes, this makes sense as a consequence of how Read More Now inserts the HTML (it inserts the html and doesn't process it for Keep Reading links). I have a fix for this completed and will be PRing it soon.

[2015-08-09 19:57] #121 closed

[2015-08-09 20:10] gloomykid commented on #60
ok i just wanted to add this:
i dont know if you guys checked for any other extention you have to collide with xkit. but i was running tests and for example mouse gestures like smart up are /perhaps/ the reason for k not to work.
i dont know if all of you who have that issue use any mouse gestures, but maybe anything that could collide. i would look into it, just in case.

[2015-08-09 21:48] kijikun opened #188 "Dashboard unreachable in Chrome"
My dashboard is unreachable with the new xkit installed on chrome as for ten minutes ago. Tested in IE and had no issue.

Chrome is giving this error: ERR_SPDY_PROTOCOL_ERROR

[2015-08-09 21:49] kijikun commented on #188
Welp it resolved itself!

[2015-08-09 21:49] #188 closed

[2015-08-09 21:49] nightpool commented on #188
disable the new xkit extension and see if the problem persists.

On Sun, Aug 9, 2015 at 4:48 PM kijikun <notifications@github.com> wrote:

[2015-08-09 21:50] kijikun commented on #188
The issue seems to have resolved itself.

[2015-08-09 22:00] hobinjk commented on #151
An ask has this problem with https://gist.github.com/anonymous/5c6e8d0c98cec2e93098 on chrome and windows 8.1. I'm going to ask them about ad-blocking and Chrome's CSP.

[2015-08-09 22:06] hobinjk opened #189 "Find Inactives should provide an Unfollow button"
From an ask:

[2015-08-09 22:07] Wolvan commented on #189
Actually, that was suggested to xenix and he said that he doesn't want that to happen

[2015-08-09 22:09] hobinjk commented on #189
It sounds like a logical feature to have. What's the reasoning behind complicating the flow?

[2015-08-09 22:11] Wolvan commented on #189
I know that it does sound like a logical feature, just wanted to point out that this was something xenix never wanted to happen. I think his concerns were similiar to the mutual followers/unfollower tracker but I can't fully remember them. I think it was something like he doesn't want to give mass unfollowing tools because he doesn't want the feature abused

[2015-08-09 22:19] hobinjk commented on #189
That's a good justification for not having it. Thank you for explaining! I'll close this and leave it for the next time this comes up.

[2015-08-09 23:36] rimbaum commented on #176
I have a friend who got this problem. They're using Chrome 44 in Windows 10. Their extension configuration is here: https://gist.github.com/56004db053909da37751

[2015-08-10 00:26] hobinjk opened #192 "Investigate post_listener performance improvements"
post_listener currently requires each separate extension to implement their own version of `$(".post").not("xwhatever-done")`. There is an opportunity to easily speed this up by refactoring post_listener to be more intelligent. Ideally, post_listeners would receive a list of new posts or be called for each new post.

[2015-08-10 01:30] dhelstein commented on #171
I was having the same problem but I think I found out what is the problem.
Apparently there's an incompatibility between New Xkit and/or Adblock Plus, Avira (for the browser), Adguard AdBlocker. I was using them but I decided to disable them and that annoying problem stopped.
I don't think all of them are the problem (it would be really weird), but I just went with the easiest way and disabled all

[2015-08-10 03:41] comealongraggedypond commented on #151
Hi, I just uninstalled the old xkit, installed the new one through Chrome, and I'm having this same problem. I can also access the link that was provided earlier and pausing my Chrome AdBlocker has not solved the problem.

[2015-08-10 04:05] schaufel4 commented on #80
This is still bugged.

[2015-08-10 04:17] LunaManar opened #194 "Post listener doesn't work in peepr for some users"
### updated description:

this appears to depend on whether tumblr wants to load the blog sidebar into an iframe (which is easy for us to track) or just raw (which we don't track at all). Whether tumblr wants to load the sidebar into an iframe or not appears to be dependent on your account—it wouldn't for my main account, but would always for my test account. I'm guessing this may also change over

[2015-08-10 04:24] nightpool commented on #194
Did this use to work? If so we probably broke it unintentionally while we were changing how we handled loading new posts.

I'll look into it.

[2015-08-10 04:32] LunaManar commented on #194
Yes, it did. It was especially useful when I would post something, then wake up weeks later to find it had suddenly been reblogged by a popular account and thus had a lot of tags/comments. I liked to click on it from the Activity page and open it in the sidebar, then view the tags from there. Was very easy, now I have to scroll through my dash to find it, which is...less easy. :c

Thanks, let me k

[2015-08-10 04:52] finagle29 commented on #194
Can you post a link to your extension configuration (found in the other tab in XKit) as well as your browser and operating system? I can't repro on Chrome 44 OS X 10.10.4 and these extensions https://gist.github.com/6c23718897231b6e547d

[2015-08-10 05:02] nightpool commented on #194
I can confirm this works on firefox and not on chrome. will fix.

[2015-08-10 05:02] #44 closed

[2015-08-10 05:04] nightpool commented on #194
wait sorry jumped to conclusions my entire firefox profile is borked nothing is working lol sorry

[2015-08-10 05:06] LunaManar commented on #194
https://gist.github.com/5825f9c961a10c9d5795

Currently on a Windows 10 PC (not related; it also occurs on an laptop running Ubuntu).

Tried Chrome 44 and Firefox 39, same problem.

(It will, RANDOMLY, work for one post or two, but then disappear...so yeah I'll mess with it and think it's fixed but then it's...not.)

[2015-08-10 05:27] hobinjk opened #195 "Separator broken by #183"
From an ask:

[2015-08-10 05:30] hobinjk commented on #195
Not actually what I thought it was

[2015-08-10 05:32] hobinjk commented on #195
Can't reproduce locally, will try to get the anon to provide more information.

[2015-08-10 05:39] hobinjk opened #196 "Outbox only opens if there are messages in the Inbox"
From an ask:

[2015-08-10 05:53] nightpool commented on #194
I can reproduce this, but inconsistently.

this appears to depend on whether tumblr wants to load the blog sidebar into an iframe (which is easy for us to track) or just raw (which we don't track at all). Whether tumblr wants to load the sidebar into an iframe or not appears to be dependent on your account—it wouldn't for my main account, but would always for my test account. I'm guessing this may

[2015-08-10 06:06] LunaManar commented on #194
Weird. Well that would explain the inconsistency of it, but I wonder what I'm doing to trigger one and not the other. In any case it matters not to me how the sidebar loads, so whatever's easiest! Thanks for looking into it.

[2015-08-10 06:27] Wolvan commented on #192
I think we should make it a new post listener function because I expect changing it to break all extensions using post listener. And I suggest we just give an array of jquery nodes containing the new posts to the post_listeners

[2015-08-10 06:30] Wolvan commented on #151
@comealongraggedypond @abookie can you guys open the chrome javascript console and gives us the log from there?

[2015-08-10 06:35] Wolvan commented on #80
@schaufel4 Chrome 44 on Windows 7 Pro x64 here, can't reproduce the problem

[2015-08-10 08:44] WyohKnott commented on #192
I've got a local branch with post_listener (with an activity_listener too) rewritten with a MutationObserver instead, it doesn't solve the problem of ```.not("xwhatever-done")``` yet, but I could try to backport it to new xkit.

[2015-08-10 12:56] gloomykid commented on #171
im using adblock plus and the problem was not there when i disabled my mouse gesture add on... are you using chrome too or are you using firefox @dhelstein ?

[2015-08-10 12:56] gloomykid commented on #196
that was also a problem during xkit times (before new xkit was a thing). just a heads up.

[2015-08-10 14:49] turiel commented on #151
I was having this issue as well (with Google Chrome on Windows 8.1). In own trouble shooting and testing to see if any other extensions on Chrome were interfering with xKit, I noticed that my Chrome was way out of date and for some reason had stopped auto-updating itself. I wound up reinstalling the latest version of Chrome and it started working again.

So, perhaps the issue has something to do w

[2015-08-10 16:59] comealongraggedypond commented on #151
@turiel I'll try reinstalling Chrome and see if that's interfering - thank you!

@Wolvan here's the log when I try to open the extensions gallery:

7
Consider using 'dppx' units instead of 'dpi', as in CSS 'dpi' means dots-per-CSS-inch, not dots-per-physical-inch, so does not correspond to the actual 'dpi' of a screen. In media query expression: only screen and (-webkit-min-device-pixel-ratio: 1.3

[2015-08-10 17:28] comealongraggedypond commented on #151
@turiel Updating Chrome worked! Thank you!

[2015-08-10 18:17] 0xazure commented on #47
I can take this one.

I'm thinking something like the following for a directory structure?

[code]

and then separate out each theme like how the extensions are separated out.

[2015-08-10 18:50] blackjackkent commented on #196
Repro'd...I'll look at this when I get home from work.

[2015-08-10 19:14] blackjackkent commented on #176
Even with those extensions installed I'm having no luck reproducing this. Can you ask your friend to submit a bug request with the specific steps/post content that causes the problem to occur? Thanks. :)

[2015-08-10 19:17] rimbaum commented on #176
@blackjackkent I know for a fact it happened when they reblogged a post with extra small text, I'll ask them for more details beyond that. I'm not sure it happened with regular text size.

[2015-08-10 19:54] blackjackkent commented on #113
To confirm -- this bug is resolved?

[2015-08-10 20:03] nightpool commented on #113
@blackjackkent we should probably fix activity+ so it works with
notification block.

On Mon, Aug 10, 2015 at 2:54 PM BlackjackKent <notifications@github.com>
wrote:

[2015-08-10 20:17] blackjackkent commented on #113
Ah -- gotcha, misread the situation. :+1:

[2015-08-10 20:19] dlmarquis opened #201 "Preserve Tags doesn’t work with alt-reblog (instant)"
If the Keep Tags functionality of Auto Tagger is turned on and the reblog button is alt-clicked, also known as instant reblog, the tags aren't actually kept.

[2015-08-10 20:46] dlmarquis opened #202 "Option to unlike from least to most recent in Mass Unliker"
Full text of ask:

hi! sorry to bother you, but i was wondering if there is a way to use mass unliker without unliking from most to least recent? ie i only recently started liking post to save them so i want to unlike my first ___ liked posts but leave the last 30 ?

[2015-08-10 21:29] dlmarquis opened #203 "Markdown & One-Click-Reply is still broken"
Either this also affects Editable Reblogs, or Editable Reblogs contains the solution.

[2015-08-10 21:33] dlmarquis commented on #203
@nightpool @bvtsang You guys fixed this for #64, yeah? Is there a reason this wasn't incorporated into XKit.interface.post_window.set_content_html()?

[2015-08-10 21:39] dlmarquis opened #204 "Servant makes everything break"
Full text of ask:

I'm using chrome and for some reason, when the servant extension enabled, everything completely shuts down. My dash won't load, I can't see messages in my inbox, my drafts either won't load or they'll get stuck halfway open when I try to edit. I'm not sure why this is happening, but after some trial and error I figured out it was specifically servant that seemed to cause this an

[2015-08-10 21:52] bvtsang commented on #203
It's already there: https://github.com/new-xkit/XKit/blob/master/Extensions/xkit_patches.js#L996

Which means there's another place yet unaccounted for.

[2015-08-10 21:57] ThePsionic commented on #204
I've had Chrome with Servant for a long time (still do) and I have never experienced problems with it.

[2015-08-10 22:04] dlmarquis commented on #203
@bvtsang my bad then. Given that @hobinjk originally wrote XKit.interface.post_window.set_content_html() for One Click Reply, it's strange that it's breaking now.

[2015-08-10 23:49] dhelstein commented on #171
I'm using Firefox, yes.
The strange thing is that I was using those extensions since forever, but a few days ago, I realized that adblock plus blocked me the tumblr controls in my blog and some others. But even if I disabled it, the problem with the clicks continued, until yesterday was when I decided to disabled all of those and until now everything is fine.

[2015-08-10 23:52] ThePsionic opened #205 "Update tumblr interface"
![img](http://41.media.tumblr.com/e5f2a6a2055d72432b4bc6459bedc881/tumblr_ne9wx0zyXq1qkpozyo1_500.jpg)

All right, it's 2AM, I'll see myself out.

[2015-08-10 23:52] #205 closed

[2015-08-11 00:09] Wolvan commented on #205
I second this issue.
It is also 2AM, I'll see myself out as well

[2015-08-11 00:11] ThePsionic opened #206 "Disappearing captions under photosets on dash"
Regularly, when I'm scrolling and hit a long photoset with a long comment block, the comment block disappears after ~a second of me scrolling it into the screen. I have a feeling this bug is related to Lethe, but so far I cannot confirm this.

[Extension info](https://gist.github.com/e2b1a7dac002172f50ec)

[2015-08-11 00:28] ThePsionic commented on #206
I can now confirm that it is quite definitely Lethe; after this happened again, I disabled Lethe and scrolled back to the same post, and the caption remained.

(If you are interested, [this](http://8xenon8.tumblr.com/post/126380554050/egomatter-there-is-water-at-the-bottom-of-the) was an affected post. It only seems to happen on the dashboard.)

[2015-08-11 00:46] ThePsionic commented on #205
/me high-fives @Wolvan

[2015-08-11 01:04] happyaggro opened #207 "Xkit doesn't work with Firefox private browsing"
I've had issues with Firefox like the anon that got answered today: http://new-xkit-extension.tumblr.com/post/126367019979/i-am-using-firefox-3903-on-windows-8-the

I went through the whole troubleshooting shebang similar to what they did, but when I tried the fix given on the blog, that didn't work either. I finally bit the bullet and did a clean Firefox reinstall today with installing Xkit being

[2015-08-11 01:47] 0xazure opened #209 "Enforce code style"
We don't currently enforce an indentation style, but we probably should through [JSCS linting](http://jscs.info/rule/validateIndentation.html).

Should be easy to do, it's just a config line in `.jscsrc`, but I'll need to check all of our files over to make sure they conform.  I don't know if it all got caught in #175, I was only looking at mixed-indent in that one.

[2015-08-11 02:48] bvtsang commented on #42
I've tried https://gist.github.com/bvtsang/b879bee8a960566c0c68, but nothing happens. I guess I'll keep investigating this in the meantime.

[2015-08-11 05:13] nightpool commented on #207
Just to be clear, the only issue here is that XKit doesn't load in Firefox
private browsing mode? This is intentional behavior on Firefox's part—we
have to specifically opt in to run in private browsing, and I'm not really
sure the pros outweigh the cons at this point. (I would appreciate a system
like chrome where users could choose whether to run the extension in
private browsing mode, but that'

[2015-08-11 06:01] #196 closed

[2015-08-11 06:23] hobinjk commented on #138
Potentially fixed by #181. I believe that Tumblr is gradually phasing out the tumblr_blog class in any case.

[2015-08-11 06:25] hobinjk opened #211 "Editable Reblogs Erases Caption on Photo/Video posts"
From an ask, the user says that they can reproduce it somewhat reliably. This may point to all of Editable Reblog's woes being a race condition.

[2015-08-11 07:01] Ssbmfreak36 commented on #211
Heya, I'm the user that sent the ask and was asked if I had time to create a Github and considering I could do it for free I did so.  Anyways, here's the post I used to test this: http://ssbmfreak36.tumblr.com/post/126403224069/this-is-a-test-post-to-replicate-an-error  For reference, my OS is Windows 7, Firefox is my browser and it's the most recent version.  Even with my essentially zero knowled

[2015-08-11 07:18] hobinjk commented on #211
@Ssbmfreak36 Thanks for showing up! This is apparently also happening to people without XKit installed which means that it isn't entirely our problem. However, it's very possible that Editable Reblogs exacerbates the issue with Tumblr. Do you have a link to a post where it messed up (the reblog that should have had a caption, not the original post)? It may be the case that running a Tumblr API que

[2015-08-11 07:19] hobinjk commented on #211
There is definitely room for improvement in the extension. I still haven't been able to reproduce the behavior, but I have seen for a split second an indication that there might be a problem.
@new-xkit/admin If you want to try to recreate the worst possible behavior for editable reblogs, I saw the most interesting results when turning on Chrome's network throttling and cache prevention while reblo

[2015-08-11 07:24] hobinjk commented on #211
Another reply with more information (a hypothesis):

[2015-08-11 07:27] Ssbmfreak36 commented on #211
@hobinjk I unfortunately deleted the post where I reblogged a photo post and the captions were deleted mainly because I don't care for captions being deleted, but I'll see if I can try to recreate it with the same post.  Will link the original post as well as screenshot of my reblog in a moment

[2015-08-11 07:29] Ssbmfreak36 commented on #211
Alright got the original post: http://vic-boss17.tumblr.com/post/126401829626/bogleech-dyquietly-gobe-last-night-i Now theoretically assuming that this isn't just a random glitch that happens, if I reblog this the captions should magically vanish into the ether.

[2015-08-11 09:09] Wolvan commented on #209
I don't think setting indentation rules would be that good of an idea, because each dev has their own style of coding

[2015-08-11 12:39] dlmarquis commented on #170
@nightpool Atesh seems to have added !important to all his styling indiscriminately, and some of us here have followed his example because hey, it worked for him. It probably won't break things to remove most if not all the !important markers.

[2015-08-11 14:03] 0xazure commented on #209
Wholeheartedly disagree.  Contributors should be conforming to the established code style of a project, not use whatever styling they personally prefer.  Conforming to a style guide is [standard](https://contribute.jquery.org/style-guide/js/) [practice](https://www.mediawiki.org/wiki/Manual:Coding_conventions) across projects [big](https://google.github.io/styleguide/angularjs-google-style.html) a

[2015-08-11 14:55] blackjackkent commented on #209
^ This. Having consistent style guides for the project also reduces the percentage of our PRs that have extraneous whitespace changes to wade through.

[2015-08-11 16:55] Wolvan commented on #209
I am not sure how much you want to limit the indetation style though. So far I have been trying to stay true to the current style of XKit

[2015-08-11 19:41] blackjackkent commented on #211
For the record this happened to a friend of mine on a couple of posts, and she does not have editable reblogs installed.

[2015-08-11 20:25] happyaggro commented on #207
Yes, that is the only issue.

"This is intentional behavior on Firefox's part—we have to specifically opt in to run in private browsing, and I'm not really sure the pros outweigh the cons at this point." Yes, sundubu's open issue #118 mentioned this. Old Xkit still worked in private browsing mode even after it stopped being actively developed. Seeing as I'm not a developer, I'm not entirely sure w

[2015-08-11 21:13] snifflng opened #214 "Tweak not working"
The 'Don't show liked posts on my dashboard' tweak in settings isn't working for some reason and keeps showing liked posts.

[2015-08-11 21:18] blackjackkent commented on #214
We're aware of a bug in the Tweaks extension and a fix is already forthcoming. :) Thanks for the submission!

[2015-08-11 21:20] digrumpycat commented on #214
Don't know if this is included in the bug you know about, but the 'wrap tags' option seems to not be working either.

[2015-08-11 21:22] ThePsionic commented on #214
A bug in Tweaks makes the entire extension not work, it's not on a per-preference basis. We're aware of the issue, and a fix will come soon.

[2015-08-11 21:25] #214 closed

[2015-08-11 21:31] hobinjk opened #216 "XKit does not pass automated validation"
https://developer.mozilla.org/en-US/Add-ons/AMO/Policy/Reviews prohibits "remote JavaScript execution or injection" which is 95% of what we do

[2015-08-11 21:48] nightpool commented on #216
tying our extensions to the full addon review process would make it
incredibly hard for us to react to tumblr changes in the way people expect
us to. Is there no way we can get an exception from mozilla? How many
firefox installs do we have?

On Tue, Aug 11, 2015 at 4:31 PM James Hobin <notifications@github.com>
wrote:

[2015-08-11 21:49] 0xazure commented on #216
Adding this here for reference:

http://browserify.org/ is a pretty good option if we're going to pack everything in. CommonJS module syntax would let us to a lot more modular code, and take advantage of https://www.npmjs.com/ instead of [embedding things directly](https://github.com/new-xkit/XKit/blob/8e8534bab12d95ca841537581ebf2c3803167f14/Extensions/xcloud.js#L1148-L1202).

[2015-08-11 22:04] blackjackkent commented on #216
According to https://addons.mozilla.org/en-US/firefox/addon/new-xkit/ we have 6250 FF users.

I and @0xazure (whichever of us gets to it first) are going to look into a POC of an approach that won't require eval()ing the extensions, but @nightpool 's point is a good one.

[2015-08-11 22:07] dlmarquis commented on #216
If we wanted to be truly insane, we could have a signed and an autoupdate version for Firefox. Although given the attitude of our users I think it's better to remain unsigned than to slow updates down that much.

[2015-08-11 22:12] Wolvan commented on #216
@dlmarquis If I might put my 5ct into this, even though I am not using firefox personally: I'd say signing XKit would be something we should aim for. But not yet. There are a lot of bugs still in the code which we should fix, but after we achieved a proper, stable and working version of everything that makes up XKit we should definitely look into getting the extension signed

[2015-08-11 22:19] hobinjk commented on #216
@Wolvan The problem is that the running of unsigned extensions will be prohibited (with an about:config workaround) starting in Firefox 41. The workaround will be removed in Firefox 42, leaving all people on Release and Beta builds of Firefox unable to run unsigned extensions.

Firefox 41 will be released 6 weeks from now

[2015-08-11 22:22] Wolvan commented on #216
@hobinjk Wait really? Mozilla is going the google route and blocking extensions as well now?
Then we gotta hurry up a lot to get this shit going. And apologize to the Firefox users that updates will, from then on, be a lot slower

[2015-08-11 22:24] dlmarquis commented on #216
I'm surprised it's so soon given how long it takes to even get signed.

[2015-08-11 22:25] blindcat97 opened #217 "Wrap-around Tags doesn't work with the newest Tweaks update"
Since Tweaks updated recently (my version is showing as 3.4.0), tags no longer wrap around despite the setting being turned on. I tried disabling and re-enabling the feature, to no avail. I'd prefer not to have to reinstall xkit, as I have many settings and extensions customised, but perhaps someone else can test this.

I'm using Google Chrome version 44.0.2403.130 m (newest version), running a fu

[2015-08-11 22:25] Wolvan commented on #216
And we can't start the signing process now because we still use eval. This blows

[2015-08-11 22:30] bvtsang commented on #217
As of #215, we updated Tweaks to 3.4.1. Let us know if updating to that version fixes your issue.

[2015-08-11 22:45] anakhasilver opened #218 "Can't remove tags by clicking"
Not sure if it's a thing Xkit did or a thing Tumblr did (I think it's Tumblr), but I can't click tags to remove them on reblog. They highlight blue and just stay there if you try to.

EDIT: Confirmed it's Tumblr's doing. For some reason. Turned off Xkit to check and it still does the highlights-tag-blue-unable-to-be-removed-with-a-click thing.

[2015-08-11 22:55] dlmarquis commented on #216
Perhaps we could have Firefox users paste in autoupdate code à la Greasemonkey? Since I can't imagine Mozilla banning Greasemonkey anyway.

[2015-08-11 22:58] Wolvan commented on #216
but greasemonkey DOES update it's scripts automatically. How do Greasemonkey scripts get injected into the page if not EVAL?

[2015-08-11 23:02] dlmarquis commented on #216
Greasemonkey might have to change their code. Or maybe they have enough clout with over 1 million users that Mozilla will loosen its policies (PLEASE). We could probably benefit from digging around in their source.

[2015-08-11 23:13] Wolvan commented on #216
If we do it like greasemonkey does, we should be guaranteed to get signed if they do. If not, we can complain to them that GM did

[2015-08-11 23:13] dlmarquis commented on #216
Also doesn't Adblock Plus autoupdate its blacklist? That's got over 19 million users.

[2015-08-11 23:15] Wolvan commented on #216
The Blacklist is not javascript though, is it?

[2015-08-11 23:15] blackjackkent commented on #216
Isn't the issue less whether we can get signed (since we have ideas about refactoring our external injection) and more about whether our updates will be released to users in a timely fashion post-signing?

[2015-08-11 23:16] dlmarquis commented on #216
The issue is how do we get signed without accidentally creating 6,000+ Chrome converts, I think. Ideally we'd be able to update quickly and be signed.

[2015-08-11 23:28] blindcat97 commented on #217
The issue is fixed for me, but I don't know about anyone else. I had to force the update; XKit refused to receive the automatic update.

[2015-08-11 23:29] finagle29 commented on #209
:+1: to using a style guide

[2015-08-11 23:36] nightpool commented on #217
@blindcat xkit checks for new updates every few hours or so. we pushed an
update this morning that broke it (our bad!) and an update this afternoon
that fixed it, and because they're so close together, xkit generally takes
a little longer to start looking for the next version

On Tue, Aug 11, 2015 at 6:28 PM blindcat97 <notifications@github.com> wrote:

[2015-08-12 00:09] finagle29 commented on #218
I think this is something Tumblr added to prevent accidental deletion of tags.  If you want to delete a tag that isn't the last tag added, you have to click on the tag to highlight it and then press backspace or delete to remove the tag.

[2015-08-12 00:18] katyggls commented on #218
the problem is though that it's now more work to delete a tag which really interferes with certain tagging features of xkit like quick tags. if you have a tag bundle but you only need some of the tags in the bundle for a certain post, deleting them is more work now. it'd be nice if there was a way bring one click deleting of tags back, at least as an optional/toggle feature.

[2015-08-12 00:25] ReddPyramid opened #221 "Tumblr has broken tags in general"
It now looks like they have to be selected and then delete has to be pressed to delete a tag while posting.  Instead of the original 'click to delete', now there is, yet again, an extra step involved in something for a reason that is not readily apparent to anyone with a lone functioning brain cell.

[2015-08-12 00:28] nightpool commented on #221
this was changed so tags can be dragged around and reordered. (which imo was one of my hugest painpoints composing posts)

if someone wants to add a non-default tweak option that'd probably be fine though.

[2015-08-12 00:28] nightpool commented on #221
dupe of #218.

[2015-08-12 00:28] #221 closed

[2015-08-12 00:29] ReddPyramid commented on #221
That makes more sense.  I'm honestly so burnt out on their pointless 'updates' that I couldn't see any reason why they would do this.  Thanks for clearing it up.

[2015-08-12 00:29] nightpool commented on #218
reopened as a feature request for Tweaks.

[2015-08-12 00:30] nightpool commented on #218
@finagle29 it wasn't just to prevent accidental deletion, it was also so you can now click and drag around tags to reorder them. YMMV on whether that was worth it tho.

[2015-08-12 04:57] nightpool opened #223 "slim block quotes broken"
slim block quotes is a little broken style-wise:
![image](https://cloud.githubusercontent.com/assets/233815/9216781/560b6114-4084-11e5-9fb3-cd45651474ac.png)
this is what blockquotes normally look like:
![image](https://cloud.githubusercontent.com/assets/233815/9216784/5d06fdd4-4084-11e5-9006-563c16c15859.png)

we should make sure the border is just as thin, and remove the left padding. I'm guessi

[2015-08-12 05:29] finagle29 commented on #218
Because of the way `XKit.interface.post_window.remove_all_tags()` and `XKit.interface.post_window.remove_tag()` work (relying on `.click()` to remove tags), they are also broken with the new "feature".
I've tried `.remove()` on the tag spans but the tags still post.  I'm trying to use `.trigger()` to trigger a backspace event on the tag which i think is the way to go but I might be targeting the w

[2015-08-12 05:32] nightpool commented on #218
I'm guessing that the backspace event is captured by the edit box, and it
automatically works only on the "selected" tag. probably will need to dig a
bit deeper and find out what functions are being called by the event
handler.

On Wed, Aug 12, 2015 at 12:29 AM finagle29 <notifications@github.com> wrote:

[2015-08-12 05:37] finagle29 commented on #218
If the event were captured by the edit box, then shouldnt attempt to trigger on an element inside the edit box bubble up to the edit box? unless there are event handlers on the tag that cancel propagation

[2015-08-12 05:46] nightpool commented on #218
@finagle29 I haven't looked at the new code, but I don't believe the tag
elements *are* inside the input tumblr uses to capture composing a tag?

On Wed, Aug 12, 2015 at 12:37 AM finagle29 <notifications@github.com> wrote:

[2015-08-12 06:01] nightpool opened #224 "autotagger doesn't tag queue posts"
after the most recent tag update, autotagger fails to tag queue posts with the configured queue tag. this only happens from the edit window, autotagger still works while using one-click postage.

I can reproduce this on mac chrome without any other installed extensions. Autotagger 0.6.6 and xkit 7.7.0

[2015-08-12 15:08] nightpool commented on #207
@happyaggro the downside would be that we'd have to write some non-trivial amount of code to keep the sessions, settings, and configs of each state separate.

[2015-08-12 15:31] Wolvan commented on #207
What if we provide 2 versions of the extension for firefox? One that allows and one that doesn't allow running in safemode

[2015-08-12 15:34] nightpool commented on #207
@wolvan would the firefox store accept both extensions? down for providing
a custom build to people that want it but with the signing stuff on the
horizon custom builds are going to be harder to make work I think.

On Wed, Aug 12, 2015 at 10:31 AM Wolvan <notifications@github.com> wrote:

[2015-08-12 15:43] #217 closed

[2015-08-12 16:11] #42 closed

[2015-08-12 16:37] Wolvan commented on #207
@nightpool I wouldn't see why not. We might have to go through the signing process twice, though

[2015-08-12 17:34] nightpool opened #225 "open in tabs opens two tabs"

[2015-08-12 20:18] gitfan51484 opened #226 "Would you like my GIST for Mass? I can't build a Pull."
I've been building a popular userscript called Mass Post Features since 2013. Would you like to integrate this into xKit?
https://gist.github.com/gitfan51484/e6ed82eb17d18330a2f9
It's pure javascript, and I've gotten it to run without Greasemonkey as an embedded script.

If this issue is out of line, close it, slap me, forget about me; I'm very foreign to Github. I don't know about making my own b

[2015-08-12 20:34] Wolvan commented on #226
It's as good an issue as any, that's what we have the enhancement label for. To make your own build you first have to fork this repository, make the proper edits in your copy then and then come back here and create a pull request. Github tells you when you did changes and suggests a pull request with the proper settings already when you come back to the main page of the repo

[2015-08-12 20:42] Wolvan opened #227 "Microsoft Edge Support"
Microsoft Edge doesn't have extension support as of yet but it should come later down this year. And I heard that it just takes a few extension changes of a chrome version to port it to Edge. Will this be part of the browsers we want to support?

[2015-08-12 20:54] nightpool commented on #227
depends on the interest, and what people on the blog say. Too far out to
make any predictions imo.

On Wed, Aug 12, 2015 at 3:42 PM Wolvan <notifications@github.com> wrote:

[2015-08-12 20:55] nightpool commented on #227
(closing because there's nothing actionable here until edge gets an extension api)

[2015-08-12 20:55] #227 closed

[2015-08-12 20:55] dlmarquis commented on #227
We've already had inquiries into support for Edge. I'd say it depends on how easy the changes to the Chrome extension are, and if we have to pay money for the store.

[2015-08-12 21:14] gloomykid commented on #225
also despite having the feature set that it should open in a new tab, i.e. reblogging a recommended post on the sidebar's right side it won't open in a new tab but just opens in the current window (while the old xkit was able to make it a new tab).

[2015-08-12 21:15] ThePsionic commented on #100
If needed, another extensions list from a user with this problem. https://gist.github.com/anonymous/6e683bb018c75d5bb60f

[2015-08-12 21:16] gloomykid opened #228 "Clicking "reply" on fanmail opens a reply and a new tab."
As the title says:
if I want to reply to a fanmail in my inbox, it opens on the current tab but also opens a new tab, instead of opening a new tab and leaving the message open in the old tab.
With old xkit it was able to let the reply open in a new tab solely, so you could still read the fanmail while answering.

I'm using Chrome (latest version).

[2015-08-12 21:42] ThePsionic commented on #100
Might not be Editable Reblogs-related after all.

[2015-08-12 22:47] ThePsionic opened #229 "Copied captions get removed when deleting original captions"
This is without Editable Reblogs installed.

[2015-08-12 23:12] nightpool commented on #100
@thepsionic it looks like these asks were related to a completely different problem. (specifically, one having to do with one-click-reply)

[2015-08-13 00:34] 0xazure commented on #118
Closing as a dupe of #207.

[2015-08-13 00:34] #118 closed

[2015-08-13 02:40] 0xazure opened #230 "Create a 'steps to try before submitting a bug' checklist"
We've had a number of repeat issues, some kind of checklist for users affected by bugs to try before submitting a report would help cut down on answering these kinds of issues.

I'd like to see the list on the new-xkit-extension ask/submit page, and @bvtsang suggested having it somewhere in XKit itself.  Maybe an embedded gist, so it's easy to update?

[2015-08-13 02:42] Wolvan commented on #230
either a gist or a pastebin to embbed into XKit sounds like a good idea. Can you get a raw gist?

[2015-08-13 02:46] 0xazure commented on #230
Yup.  After creating a gist there's a button to get the raw content.  You can get gist content pinned to a version, or (with some URI ~~deletion~~ manipulation) just the latest.

[2015-08-13 02:54] Wolvan commented on #230
I guess that sounds good enough. Will we just list all issues there or solutions or something the like?

[2015-08-13 02:59] 0xazure commented on #230
I figure 'common resolutions'.  Some examples:

- Make sure XKit is at the latest version
  - Need to include steps to manually update extensions on all supported browsers
- Make sure your browser is up to date
  - Steps to update browsers
- If your browser is old, errors, and won't update, reinstall your browser
- Try disabling XKit (if it's not directly XKit-related, like a problem with one of o

[2015-08-13 03:01] Wolvan commented on #230
That sounds good to me, how about we put these common solutions into XKit Bridge though, as they are extremely browser dependent. Just a string or html variable that we can later print to the user.
And do we already have checks for outdated browsers in place?

[2015-08-13 03:07] 0xazure commented on #230
I still think putting it into a gist or integrated into our `gh-pages` releases would be best.  We can display browser-relevant solutions with a little logic (we already test for browser type), but putting strings into the `bridge.js` code would tie it to slow browser extension releases.

As for testing browser versions, I have no idea.  I doubt we do though.

[2015-08-13 03:17] bvtsang commented on #230
Draft steps to try before submitting a bug:

1. Make sure you have the latest version of your browser.
  - To update Chrome, click the hamburger menu > About Google Chrome
  - To update Firefox, click the hamburger menu > Open Help Menu (help icon) > About Firefox
2. Make sure you have the latest version of the new XKit.
  - To view your version of XKit, click on the XKit button > About + Support

[2015-08-13 04:30] finagle29 opened #232 "XKit.interface.where().user_url doesn't populate on blog pages"
Also the documentation for XKit.interface.where() is a bit lacking on the wiki, though maybe updating documentation should be a separate issue.

[2015-08-13 05:31] Ssbmfreak36 commented on #211
One more thing I've noticed: The glitch doesn't seem to occur, and this could be wrong and I've just never experienced it, when there is no photo/video/title to the post.  If it's just a text or chat(I'd assume, I haven't tested these yet)post with no Title or such, the post remains as is.  I don't quite remember what day this all started happening frequently, but I want to say about last Sunday s

[2015-08-13 08:14] ThePsionic opened #233 "Blog Tracker View on Dash option glitches on Firefox without the extension installed"
![blob](http://i.imgur.com/OhH2uQE.png)
Instead of throwing an error, like in Chrome (PEP-119A), Firefox just acts like nothing's a problem and puts the posts of the selected blog somewhere down the dash.

[2015-08-13 11:45] ThePsionic opened #234 "Tag replacer tags and manual tags do not end up at the same URL"
From an ask:

Asked them to follow up with an extension dump.

[2015-08-13 11:49] Wolvan commented on #234
This does look a hell of a lot like URL Escaping issues. Are we using some weird characters in tagreplacer or something?

[2015-08-13 11:50] ThePsionic commented on #234
Extension dump at https://gist.github.com/anonymous/8caec15fdb329770f8b9

[2015-08-13 15:01] ThePsionic opened #235 "Outdated tweaks not as outdated as thought"
This is RE the changes that were made in #215 - those tweaks were apparently used quite a lot still, and should be re-added.

[2015-08-13 15:02] 0xazure commented on #235
Tweaks initially removed in https://github.com/new-xkit/XKit/commit/b8718b6d69945dd0a64280039cef306ddfd154d4, #215 was just cleanup to fix Tweaks not loading.

[2015-08-13 15:37] ThePsionic opened #237 "Old "No Sidebar" seems to work better"
From an ask:

[2015-08-13 15:40] #232 closed

[2015-08-13 16:19] nightpool commented on #237
needs one of either "unconfirmed" or "bug".

[2015-08-13 16:25] nightpool commented on #234
seems like they managed to use a non-breaking-space for one and a normal
space in the other one.

On Thu, Aug 13, 2015 at 6:50 AM ThePsionic <notifications@github.com> wrote:

[2015-08-13 16:27] nightpool commented on #234
the two urls are:

`http://totallycalmtotallycool.tumblr.com/tagged/%28-%E2%8A%97-verse%3A-main-%29`
and
`http://totallycalmtotallycool.tumblr.com/tagged/%28%C2%A0%E2%8A%97-verse%3A-main-%29`

`%C2%A0` is a non-breaking space. Maybe they typed one on accident? its pretty easy to do with macs I think.

[2015-08-13 17:26] coderpatsy opened #240 "Add some way to configure XKit outside of tumblr pages"
Inspired by a recent ask- perhaps XKit could have a control panel in a standalone page or popup, like is already done with the Editor. That way you can still configure it if tumblr goes down or tumblr updates break the control panel button (again).

It might be accomplished through [browser's extensions page] -> Options and/or adding a browser button.

[2015-08-13 17:51] ThePsionic opened #242 "Forget tags when reblogging"

[2015-08-13 18:48] rosalindwills commented on #237
I can't reproduce the "two new tabs" thing. The second part is a result of the new preference on "Open in Tabs" to apply only to links in the dashboard. This was intended to prevent the action of clicking things like "Reply to fan mail" from opening in a new tab, but since it also prevents opening blogs on the activity page and such, this needs further investigation.

Perhaps instead of restrictin

[2015-08-13 18:49] blackjackkent commented on #237
I can't reproduce the "two new tabs" thing. The second part is a result of the new preference on "Open in Tabs" to apply only to links in the dashboard. This was intended to prevent the action of clicking things like "Reply to fan mail" from opening in a new tab, but since it also prevents opening blogs on the activity page and such, this needs further investigation.

Perhaps instead of restrictin

[2015-08-13 20:04] Kikaromi commented on #115
Sorry for the late response; my issue was tied to the "Asks From the Future" problem with the time zone conflicts.

[2015-08-13 20:04] #115 closed

[2015-08-13 20:53] ThePsionic opened #243 "Read Posts dies after a refresh"

[2015-08-13 20:54] ThePsionic commented on #243
Forgot to include the extension dump: https://gist.github.com/anonymous/85b1842836d37e14554c

[2015-08-13 21:02] ThePsionic opened #244 "Create a likes organiser"

[2015-08-13 21:07] ThePsionic opened #245 "Add a sorting handle to drafts"
So, similarly to queues, add a draggable button to re-organise drafts.

[2015-08-13 21:17] ThePsionic opened #246 "Add original-only option to Mass+"

[2015-08-13 21:20] ThePsionic opened #247 "Remove deprecated features from UserMenus+"
From an ask:

I have a feeling more than that is deprecated.

[2015-08-13 21:53] invalidCards opened #248 "Many complaints about Activity+ not working"
Example ask:

[2015-08-13 21:55] Wolvan commented on #240
I actually was looking into that myself a few weeks ago, I definitely think this is a good idea.

[2015-08-13 22:05] ThePsionic opened #249 "Personal tag-tracking extension"

[2015-08-13 22:06] ThePsionic opened #250 "Post all button on drafts"

[2015-08-13 22:13] ThePsionic opened #251 "Give One-Click Postage a way to schedule"

[2015-08-13 22:40] ThePsionic opened #252 "Open In New Tab does not work through the Notes popup"

[2015-08-13 22:57] ThePsionic opened #253 "Quick Tags makes #null tag sometimes"

[2015-08-13 23:06] gloomykid commented on #252
this also applies for activity page. itll only open the sidebar preview of the blog with the post, despite me having the sidebar preview blocked in first place.

[2015-08-13 23:07] blackjackkent commented on #252
Dupe of #237

[2015-08-13 23:09] ThePsionic commented on #252
Fair enough.

[2015-08-13 23:09] #252 closed

[2015-08-13 23:31] ThePsionic opened #255 "Find Inactives is a sad bunch"
I've seen multiple asks pass by that Find Inactives takes forever to show any progress, only to fail afterwards. This extension could definitely use some love.

[2015-08-13 23:37] ThePsionic opened #256 "Donations!"
I have received MANY asks about people wanting to donate to us. We're gonna need to figure out a way to accept donations and divide it to the places where it's needed.

[2015-08-13 23:43] Wolvan commented on #256
Am I wrong or wasn't Xenix absolutely against making XKit give money

[2015-08-13 23:44] ThePsionic opened #257 "Add tweak to hide "Video processed" notifications"

[2015-08-13 23:45] ThePsionic commented on #256
[Not exactly](http://xkit.info/seven/donate/), no.

[2015-08-13 23:48] Wolvan commented on #256
Oh, shit. Well, I guess we could go for donations then. How about the people with the most commits get the most money

[2015-08-13 23:49] ThePsionic commented on #256
That'd be rude, because all I ever do is answer asks and make issues :U

[2015-08-13 23:50] Wolvan opened #258 "Google Analytics"
I was thinking about adding Google Analytics into new XKit for Usage Statistics, with the ability to opt out of course. Might help us analyze extension usage and help us progress

[2015-08-13 23:50] ThePsionic opened #259 "Add "original post" timestamp"

[2015-08-13 23:50] Wolvan commented on #258
I would look into it if that sounds like a good idea to others

[2015-08-13 23:51] Wolvan commented on #256
point taken

[2015-08-13 23:52] blackjackkent commented on #256
I would recommend against giving it to the staff. Recipe for bad blood, not to mention it probably opens legal issues?

[2015-08-13 23:53] ThePsionic opened #260 "Add inbox and outbox folders"

[2015-08-13 23:55] Wolvan commented on #256
Donation for Child's Play or some organization similiar to them then? I wouldn't mind

[2015-08-14 00:04] ThePsionic opened #261 "Editable Reblogs removes captions sometimes"

[2015-08-14 00:05] ThePsionic commented on #258
Would be nice. :+1:

[2015-08-14 00:05] nightpool commented on #258
I'm working on analytics this week hopefully. Google analytics won't work
for us, but I'm investigating other possibilities.
On Thu, Aug 13, 2015 at 6:50 PM Wolvan <notifications@github.com> wrote:

[2015-08-14 00:06] ThePsionic commented on #256
Not sure why it would be a legal issue? It's a donation towards the team, we're not selling anything based on Tumblr, we're giving people the free option to help us out.

[2015-08-14 00:08] nightpool commented on #256
We don't have the procedural infrastructure setup to handle donations right
now. Maybe sometime in the future, but for now we can just say no.

(Exception to this might be a limited fundraising effort for safari
support, capped at 100 dollars)
On Thu, Aug 13, 2015 at 7:06 PM ThePsionic <notifications@github.com> wrote:

[2015-08-14 00:18] ThePsionic opened #263 "Abstract-ify Satsukimous"

[2015-08-14 00:18] hobinjk commented on #256
We currently don't have any operational costs outside of the $5 I paid for the Google developer anti-spam thing. A fundraiser for Safari support would definitely be good, some sort of one-off GoFundMe would work.

An idea I've been musing for donations would be to register on Bounty Source. If people want some bug to be fixed they can donate to that bug's bounty. This has the potential to turn us

[2015-08-14 00:20] hobinjk commented on #263
I agree with this wholeheartedly. There was also at least one user who also wanted the option to blacklist/replace avatars (example use case: making it seem that we aren't anime trash).

[2015-08-14 00:23] ThePsionic commented on #263
But that's outside of the scope of Satsukimous, which only targets anon asks ;)

[2015-08-14 00:27] finagle29 commented on #263
maybe a general avatar replacement extension that can have a replace with x image if on blacklist as well as a turn all anon icons into y, with a build it option default behavior being to replace anon icons with satsuki

[2015-08-14 00:29] bvtsang commented on #256
A good question to ask is what do we need money for? Off the top of my head:

- Apple Developer program fee in order to allow us to make a Safari extension (or develop for iOS if we want to do that)
- hosting, domain name costs

[2015-08-14 00:40] ThePsionic commented on #256
I think the list ends there.

[2015-08-14 00:56] gloomykid opened #265 "Quick-Reblog doesn't work in Search/Grid Mode"
It only works if you switch to list view, otherwise the box won't even pop up.

Using Chrome, latest version.

[2015-08-14 00:56] dlmarquis commented on #263
@hobinjk I'm working on something for that

[2015-08-14 01:03] bvtsang commented on #263
Would we need to rename Satsukimous to something like Replace Anonymous Avatars?

[2015-08-14 01:05] ThePsionic commented on #263
It would still default to Satsuki in my opinion. And Satsukimous looks nice.

[2015-08-14 01:06] ThePsionic opened #267 "Screaming Satsukimous"
http://new-xkit-extension.tumblr.com/post/126629835154/hear-me-out-a-button-that-screams-matoi

[2015-08-14 02:00] nightpool commented on #256
We don't have a good place to put this discussion at the moment, but I don't believe github is the correct answer. I'm going to close this issue for now but continue to discuss I guess.

[2015-08-14 02:00] #256 closed

[2015-08-14 02:21] #45 closed

[2015-08-14 03:05] 0xazure commented on #249
I foresee some technical challenges with this, mostly around pulling post data on the tracked tags and what order posts from the tacked tags would get in-lined.  I also don't know how The Powers That Be would feel about this kind of drastic feed modification.

[2015-08-14 03:08] 0xazure commented on #253
Possible dupe of #85?

[2015-08-14 03:22] blackjackkent opened #270 "TagViewer button does not display in sidebar view"
![tagviewer](https://cloud.githubusercontent.com/assets/13437011/9266651/bcba00b0-4209-11e5-8301-afab8653ad70.png)

[2015-08-14 03:40] 0xazure opened #271 "ExtensionBuilder gallery sort should be case-insensitive"
Found this while testing Satsukimous: `ExtensionBuilder` sorts the `gallery.json` file entries alphabetically, but also in a case-sensitive manner.

[2015-08-14 03:42] 0xazure opened #272 "Satsukimous cannot be installed from the gallery"
![satsuki-noooo](https://cloud.githubusercontent.com/assets/1041456/9266879/fbff4752-4214-11e5-88b0-4d5ce2dcbb81.PNG)

[2015-08-14 03:44] 0xazure commented on #263
I vote for keeping the name, keeping it to default to Lady Sasuki, but make the description really obvious about that it does.

[2015-08-14 03:46] bvtsang commented on #249
I imagined this functioning like Blog Tracker, but with the ability to add a set of whitelisted tags.

[2015-08-14 03:52] 0xazure commented on #256
Going to put these here for reference, before I forget their dam names again:

I know that https://flattr.com/ and https://gratipay.com/about/ are used around the FOSS community for supporting creators.  Their models may or may not fit us, though.

[2015-08-14 04:02] bvtsang commented on #272
In `Extensions/dist` on the `gh-pages` branch, I don't see satsukimous.json. Could this be a reason for this error?

[2015-08-14 04:09] finagle29 commented on #272
@bvstang i think so, but I'm not 100% sure why because @hobinjk rebuilt gh-pages after #269

[2015-08-14 04:14] hobinjk commented on #272
It exists locally, I'm investigating now

[2015-08-14 04:16] hobinjk commented on #272
Oh wow, really sneaky bug caused by 3bdff43ee5af51c6386c94e4e28be9d4d31572c5

[2015-08-14 04:17] hobinjk commented on #272
Should be fixed now

[2015-08-14 04:17] #272 closed

[2015-08-14 05:35] #142 closed

[2015-08-14 06:13] hobinjk opened #275 "Replace uses of alert() with XKit.window.show"
Basic browser alerts are ugly, `XKit.window.show` is a prettier way of communicating errors to the user. This could also involve creating a better api for `XKit.window.show`

[2015-08-14 06:23] hobinjk opened #276 "Remove third party warning for new-xkit and move all of our new extensions to new-xkit"
Third party is rapidly beginning to lose its meaning. I want to be able to actually say that we aren't going to touch third party things because incorporating existing community code like #226 would be really cool even though that's 3kloc of sparsely-documented JavaScript.

[2015-08-14 06:55] hobinjk opened #277 "Create a limited mode for Blacklist"
There are two very different uses for Blacklist. The one its designed for is a blanket ban of a word in any situation, commonly targeted towards slurs or other undesired terms. The other is to dodge spoilers or other tagged content.

Blacklist can be a lot faster if users can opt into a mode where only the tags and the author on a post get scanned for words. This can also act as a vehicle for test

[2015-08-14 07:00] hobinjk opened #278 "Provide a component dashboard"
List of extensions with most up-to-date version and the change (or commit message) associated with that version. Would be fun to programmatically generate.

[2015-08-14 07:01] hobinjk opened #279 "Clarify extension descriptions"
Retags has a pretty unclear description, I'm sure there are more that could use some love and attention.

[2015-08-14 07:54] ThePsionic commented on #277
Got several asks being confused about why posts were being blocked even if they didn't have a specified word as tag. This is definitely a thing that should happen.

[2015-08-14 09:49] ThePsionic opened #280 "Make Search Likes functional"

[2015-08-14 12:00] Wolvan commented on #258
@nightpool How come GAnalytics won't work for us?
Also, that might be another thing for #256

[2015-08-14 13:07] invalidCards opened #281 "Soft Refresh doesn't load every new post"

[2015-08-14 13:11] ThePsionic opened #282 "Add Profiler to the user menu"
Show a Profiler button in the user menu when hovering over a blog URL.

[2015-08-14 13:22] Wolvan commented on #282
![image](https://cloud.githubusercontent.com/assets/1437010/9274713/4422a780-4298-11e5-87a5-efa4eac7694f.png)
There for me in classic Usermenu

[2015-08-14 13:42] ThePsionic commented on #282
Not the classic user menu, this user menu.
![a](http://i.imgur.com/3ROEb3b.png)

[2015-08-14 13:43] Wolvan commented on #282
Oh, you meant the modern menu, gotcha
We probably should specify that in issues from now on

[2015-08-14 13:47] ThePsionic commented on #282
Good point.

[2015-08-14 13:48] ThePsionic commented on #253
It is indeed a dupe of #85.

[2015-08-14 13:48] #253 closed

[2015-08-14 13:55] gloomykid opened #283 "Quick-Reblog tags will disappear if box isn't active."
i.e. when the mouse isn't on the quick reblog box whilst typing out the tags, the box will close and if you hover over it again, the tags are gone.

Using Chrome, latest version.

[2015-08-14 13:56] ThePsionic commented on #283
Can confirm that this also happens on Firefox.

[2015-08-14 14:30] nightpool opened #284 "Mass post editor doesn't load posts initially"
When you're at the bottom of the Mass Post Editor screen, it normally loads more posts. This doesn't happen if initially, there aren't enough posts to fill a whole screen. When you enter mass post editor mode, it should trigger a load of enough posts to fill the first page.

[2015-08-14 14:33] nightpool commented on #284
same thing happens on the search posts screen

[2015-08-14 14:33] nightpool commented on #283
@ThePsionic the chrome and firefox tags should be reserved for things that are browser specific. thanks!

[2015-08-14 14:34] #258 closed

[2015-08-14 14:35] nightpool commented on #261
dupe of #211

[2015-08-14 14:35] #261 closed

[2015-08-14 14:36] Wolvan commented on #258
@nightpool Why did you close this issue?

[2015-08-14 14:40] nightpool commented on #211
@Ssbmfreak36 when you were composing your post, were the captions there? Or was it only after you posted that the captions were missing?

[2015-08-14 14:47] nightpool commented on #258
because we're most likely not going to be implementing google analytics
anytime in the near future.

On Fri, Aug 14, 2015 at 9:36 AM Wolvan <notifications@github.com> wrote:

[2015-08-14 14:50] Wolvan commented on #258
@nightpool And what about alternative Analytics systems? I just said google analytics because that was the first thing coming to my head

[2015-08-14 15:02] nightpool commented on #270
dupe of https://github.com/new-xkit/XKit/issues/194

[2015-08-14 15:02] #270 closed

[2015-08-14 15:03] nightpool commented on #270
interesting in that this only happens occasionally: sometimes tumblr decides to load Peepr into an iframe, and sometimes it doesn't.

[2015-08-14 15:08] nightpool commented on #276
+1

we should also just rename all of the studioxenix extensions to new-xkit, because we're maintaining them going forward

[2015-08-14 15:11] Wolvan commented on #276
They were still created by xenix though and most of his code is still made by him.
On the other hand it would lead people to new-xkit's github instead of his

[2015-08-14 15:15] nightpool commented on #281
soft refresh has never been 100% complete as far as I know. (maybe it got fixed, the last time I used it was 8 months ago)

[2015-08-14 15:21] ThePsionic commented on #243
Reproduced. Read Posts does not dim posts after a refresh, but does so when dis- and reenabling the extension.

[2015-08-14 15:23] Ssbmfreak36 commented on #211
@nightpool It's always after I post it that the captions vanish.  This is why it's such an annoying issue, because every time I post something I have to go to my posts, check if it didn't bug out, and then delete the post if the caption vanishes.

[2015-08-14 15:23] nightpool commented on #276
dupe of #126 but I'm going to close that one instead because we got sidetracked talking about gitter

[2015-08-14 15:23] nightpool commented on #126
dupe

[2015-08-14 15:23] #126 closed

[2015-08-14 15:28] nightpool opened #286 "mass delete asks doesn't work"
probably seems to be the sketch js-parsing logic that tries to find the delete_key.

[2015-08-14 15:29] nightpool commented on #286
[code]

[2015-08-14 15:48] nightpool commented on #280
also, search likes should show up on the /liked/by pages as well as the
/likes one, no?

On Fri, Aug 14, 2015 at 4:49 AM ThePsionic <notifications@github.com> wrote:

[2015-08-14 15:49] nightpool commented on #280
and/or maybe we should just refactor this into a general "search" extension
that will search whatever posts are on the page. (search dashboard, search
inbox (which is duplicated in xinbox), search likes, search queue/drafts,
search posts, that kind of thing)

On Fri, Aug 14, 2015 at 10:48 AM Evan G <eg1290@gmail.com> wrote:

[2015-08-14 16:39] dlmarquis opened #287 "Splitting work between new-xkit-extension and new-xkit-support"
We should figure out how we're going to split things between new-xkit-extension and new-xkit-support. My original conception was that new-xkit-support would be for troubleshooting, and new-xkit-extension would still recieve bug reports from people unable/unwilling to make a gh account and to ask users to submit details on common errors, but I don't know if that makes sense.

[2015-08-14 16:43] ThePsionic commented on #287
In my opinion new-xkit-extension should have its ask box and submissions turned off, as to make it a sole information blog for important changes and new extensions and the likes. new-xkit-support would be more of what new-xkit-extension is now, so bug reporting and the ability to post anon asks without being told off about it. new-xkit-discussion would become the go-to Kill La Kill fandom page.

[2015-08-14 16:44] dlmarquis commented on #287
I think new-xkit-discussion could also have things like informal polls about different directions we can take extensions, etc. Just generally make it an informal place where we interact with users.

[2015-08-14 16:49] ThePsionic commented on #287
:point_up: :+1:

[2015-08-14 16:50] nightpool commented on #287
upset about the homestuck fandom erasure in this thread. klk isn't the only fandom!

on a srs note, I'm basically down for the idea of redirecting all asks and stuff to a separate blog. I still think we should try to batch some amount of asks up, even with a new blog, but w/e as long as its not in our main blog I'm fine.

I'm very strongly in favor of new-xkit-extension only being for updates and

[2015-08-14 16:51] ThePsionic commented on #287
...or we make it easier and just make a faux ask link at the top of the new-xkit-extension blog that leads to the support ask box.

Also, if we do this, move the current new-xkit-extension to new-xkit-support. That way we don't lose the cache of asks we have.

[2015-08-14 16:53] nightpool commented on #287
@thepsionic doesn't solve the problem of people who ask from their
dashboard.

On Fri, Aug 14, 2015 at 11:52 AM ThePsionic <notifications@github.com>
wrote:

[2015-08-14 16:55] dlmarquis commented on #287
@nightpool hopefully new-xkit-support will be the more active blog, and that will come up infrequently enough that copying it over won't be a problem. That might be wishful thinking.

[2015-08-14 16:58] nightpool commented on #287
@dlmarquis right I just don't want to discourage people by not having the option available to send asks if it would be trivially enough to send them over. (still have to look into that)

[2015-08-14 17:01] dlmarquis commented on #287
We could also poll our users to see how they feel about converting the current blog to new-xkit-support and go from there.

@nightpool that's a good point. Just a reply-style copy of the ask would also work, if the actual sending turns out to be a pain.

[2015-08-14 17:04] nightpool commented on #287
@dlmarquis problem is that any links that are being reblogged by people
would then become dead. (for example, our most popular post
<http://new-xkit-extension.tumblr.com/post/124311218694/xkit-its-happening>,
which is still being reblogged, would have a dead link at the top of it)
(although the source links update automatically no-one ever checks those)

On Fri, Aug 14, 2015 at 12:01 PM dlmarquis

[2015-08-14 17:05] #237 closed

[2015-08-14 17:07] ThePsionic commented on #287
No, because the new-xkit-extension blog would still exist. Post permalinks automatically get converted to use the new URL too if a blog moves.

[2015-08-14 17:09] Wolvan commented on #267
Closed via #285

[2015-08-14 17:09] #267 closed

[2015-08-14 17:09] dlmarquis commented on #287
@ThePsionic I've definitely had to manually alter urls when clicking on post links after a user has changed their url. I'm not sure what the conditions are for making it screw up, but at least one major one is if there's a new blog with the old url.

[2015-08-14 17:11] dlmarquis commented on #287
Wait, I'm pretty sure we can set custom urls for posts. We could reblog/remake that post over at the new one and set its url to be that exact link.

[2015-08-14 17:12] ThePsionic commented on #287
Yep.

[2015-08-14 17:16] nightpool commented on #287
@ThePsionic that's not how it works. we could manually make redirects on the new blog, but nothing would redirect by default.

(the "source" link still works, but nothing else changes)

[2015-08-14 17:17] dlmarquis commented on #287
How many posts would we want to move over and preserve? If it's just the major version update posts, the announcement post, and the 5 or so non-ask posts we have currently, moving that way wouldn't be a huge deal to us. I'd still like to get follower opinions on moving a blog with 16,500+ followers first, though. That's a lot of potentially pissed-off people.

[2015-08-14 17:18] hobinjk commented on #287
I agree with new-xkit-extension being solely important release documentation. We have all the components required to make a re-asker for XInbox which would convert -extensions asks to anons directed towards -support (that happen to be from -extensions).
Anyway, I'm off to work now. Feel free to take any action you want based on the outcome of this discussion.

[2015-08-14 17:18] nightpool commented on #287
yeah also second @dlmarquis I didn't even think of the fact that all of the 16k followers would now be following the new "support" blog. that's basically the exact opposite of what we want to happen, and seems incredibly counter productive.

[2015-08-14 17:19] ThePsionic commented on #287
Ah yeah, good point @nightpool. If someone writes up the extension suggested by @hobinjk I am at peace with it.

[2015-08-14 17:23] ThePsionic commented on #280
:+1:

[2015-08-14 18:17] bvtsang commented on #57
It's been 9 days since anyone responded, so I'm going to close this issue.

[2015-08-14 18:19] nightpool commented on #57
Is alt-clicking the *only* way to remove a tracked blog? seems like something we should fix irregardless of how well it works for people

[2015-08-14 18:22] bvtsang commented on #57
Maybe we can do something like the following:

1. User clicks on tracked blog
2. Tracked blog content shows up in a modal layer on the screen
3. Somewhere on that modal layer we add an option to remove that tracked blog

[2015-08-14 18:49] nightpool commented on #57
why not just showing an "x" when you hover over the blog?

[2015-08-14 18:50] nightpool commented on #57
why not just a x when you hover over the button?
![image](https://cloud.githubusercontent.com/assets/233815/9281540/5c5cd63e-428b-11e5-884a-805de669e840.png)

[2015-08-14 18:51] nightpool commented on #287
meta point: i'm still a little unhappy using github for governance issues, but I don't really have any ideas for a better replacement. How do you guys feel about mailing lists?

[2015-08-14 19:06] dlmarquis commented on #256
Paypal's API supports paying multiple people at once:
https://developer.paypal.com/docs/classic/adaptive-payments/integration-guide/APIntro/
https://developer.paypal.com/docs/classic/express-checkout/integration-guide/ECParallelPaymens/

The first link says 2-6 receivers, and the second says up to 10. Using the API seems like overkill, but less overkill than registering an organization.